src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/student/academic-policies.pug
extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'academic-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Academic Policies / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")
  link(rel="stylesheet", href="./css/table.css")

block content
  mixin policy-row(title,preview_url,is_downloadable, download_url)
    if is_downloadable
      tr.t-body-row
        td.c-body(data-label="Title")= title
        td.c-body.shrink-column(data-label="Link")
          a(href= preview_url, target="_blank", class="icon-policy")
            +svg-sprite("img/sprites/base.svg", "file", "glyph", "Preview")
        td.c-body.shrink-column(data-label="Download")
          a(href= download_url, target="_blank" class="icon-policy")
            +svg-sprite("img/sprites/base.svg", "download", "glyph", "Download")
    else
      tr.t-body-row
        td.c-body(data-label="Title")= title
        td.c-body.shrink-column(data-label="Link")
          a(href= preview_url, class="icon-policy")
            +svg-sprite("img/sprites/base.svg", "file", "glyph", "Preview")
        td.c-body

  +page-wrapper("","")
    +page-header("Academic Information", "has-controls", "img/navs/student/academic-information.svg")
      +page-header-controls(true, "Navigate to")
        a(href="/views/student/academic-information.html") Overview
        a.active(href="#") Policies and Procedures
        a(href="/views/student/academic-forms.html") Forms
        a(href="/views/student/academic-resources.html") Academic Resources
        a(href="/views/student/academic-technology.html") Technology Resources

    +page-content-wrapper("")
      .page-section.slds-m-bottom--large
        .card-group
          .card
            .card-title
              p.slds-p-bottom--small.slds-text-body--medium A broad range of policies and procedures guide and govern the activities of members of the Georgetown University community. #[br] This page organizes information about policies in an attempt to make applicable policies more accessible for students.
              p.slds-p-bottom--x-small While we have tried to cover all significant University policies and procedures, and will be updating this page and related pages periodically in an effort to keep them current, there may be applicable policies that are not listed on this page. Individuals should inquire with appropriate University offices about policies and procedures that apply to specific activities. The absence of an applicable policy from this or related web pages does not excuse a member of the University community from complying with that policy.
            .card-content.slds-p-around--large
              h2.slds-m-bottom--small Georgetown Policies and Procedures
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-bottom--xx-large
                tbody.t-body(data-body="true")
                  +policy-row("Student Code of Conduct", "https://studentconduct.georgetown.edu/code-of-student-conduct", true, "#")
                  +policy-row("University Policies", "http://policies.georgetown.edu/universitywidepolicies", false, "")
                  +policy-row("Honor Council", "http://honorcouncil.georgetown.edu/system/policies", false, "")
                  +policy-row("Undergrad Bulletin", "https://grad.georgetown.edu/academics/policies", false, "")

              h2.slds-m-bottom--small School Name Policies and Procedures
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-bottom--xx-large
                tbody.t-body(data-body="true")
                  +policy-row("Sed tempore asperiores placeat", "#", false, "")
                  +policy-row("Aut veniam", "#", false, "")
                  +policy-row("Odio tenetur quia", "#",  true, "#")
                  +policy-row("Aliquam odit soluta", "#", false, "")

              h2.slds-m-bottom--small School Name and Procedures
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-bottom--xx-large
                tbody.t-body(data-body="true")
                  +policy-row("Praesentium architecto vitae ratione", "#", true, "#")
                  +policy-row("Volptas accusantium", "#", true, "#")
                  +policy-row("Similique voluptatibus", "#", true, "#")
                  +policy-row("Dolor expedi", "#", true, "#")



block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/student/academic-policies.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Academic Policies / Student - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-student.css"/>
    <link rel="stylesheet" href="./css/table.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg active" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a>
          <hr/><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg active" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
        </nav>
        <hr/>
        <div class="mission-statement">
          <p>Repudiandae dolore voluptas rerum sint! Doloremque velit dolor ratione. Dignissimos.</p>
        </div>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small">Program Name</div>
          <div class="heading">Expected Graduation</div>
          <div class="result">Fall 2017</div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="alert warning btn-account-status hide-mobile"><span class="icon">
              <svg aria-hidden="true" title="">
                <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
            <div class="title">Hold on account</div><span>Click to learn more</span></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status warning">Hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/student/profile.html">Profile</a><a href="views/student/documents.html">Documents</a>
                <hr/><a href="views/faculty/dashboard.html">Faculty</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header><a class="alert warning btn-account-status show-mobile"><span class="icon">
            <svg aria-hidden="true" title="">
              <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg></span>
          <div class="title">Hold on account</div><span>Click to learn more</span></a>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/student/academic-information.svg" alt="Academic Information"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Academic Information</h1>
                </div>
                <div class="controls">
                  <div class="title">Navigate to</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a href="/views/student/academic-information.html">Overview</a><a class="active" href="#">Policies and Procedures</a><a href="/views/student/academic-forms.html">Forms</a><a href="/views/student/academic-resources.html">Academic Resources</a><a href="/views/student/academic-technology.html">Technology Resources</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section slds-m-bottom--large">
                  <div class="card-group">
                    <div class="card">
                      <div class="card-title">
                        <p class="slds-p-bottom--small slds-text-body--medium">A broad range of policies and procedures guide and govern the activities of members of the Georgetown University community. <br/> This page organizes information about policies in an attempt to make applicable policies more accessible for students.</p>
                        <p class="slds-p-bottom--x-small">While we have tried to cover all significant University policies and procedures, and will be updating this page and related pages periodically in an effort to keep them current, there may be applicable policies that are not listed on this page. Individuals should inquire with appropriate University offices about policies and procedures that apply to specific activities. The absence of an applicable policy from this or related web pages does not excuse a member of the University community from complying with that policy.</p>
                      </div>
                      <div class="card-content slds-p-around--large">
                        <h2 class="slds-m-bottom--small">Georgetown Policies and Procedures</h2>
                        <table class="slds-table slds-table--striped slds-no-row-hover table-default slds-m-bottom--xx-large">
                          <tbody class="t-body" data-body="true">
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Student Code of Conduct</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="https://studentconduct.georgetown.edu/code-of-student-conduct" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body shrink-column" data-label="Download"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Download">
                                                <use xlink:href="img/sprites/base.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">University Policies</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="http://policies.georgetown.edu/universitywidepolicies"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body"></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Honor Council</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="http://honorcouncil.georgetown.edu/system/policies"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body"></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Undergrad Bulletin</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="https://grad.georgetown.edu/academics/policies"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body"></td>
                                      </tr>
                          </tbody>
                        </table>
                        <h2 class="slds-m-bottom--small">School Name Policies and Procedures</h2>
                        <table class="slds-table slds-table--striped slds-no-row-hover table-default slds-m-bottom--xx-large">
                          <tbody class="t-body" data-body="true">
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Sed tempore asperiores placeat</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="#"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body"></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Aut veniam</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="#"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body"></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Odio tenetur quia</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body shrink-column" data-label="Download"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Download">
                                                <use xlink:href="img/sprites/base.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Aliquam odit soluta</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="#"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body"></td>
                                      </tr>
                          </tbody>
                        </table>
                        <h2 class="slds-m-bottom--small">School Name and Procedures</h2>
                        <table class="slds-table slds-table--striped slds-no-row-hover table-default slds-m-bottom--xx-large">
                          <tbody class="t-body" data-body="true">
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Praesentium architecto vitae ratione</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body shrink-column" data-label="Download"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Download">
                                                <use xlink:href="img/sprites/base.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Volptas accusantium</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body shrink-column" data-label="Download"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Download">
                                                <use xlink:href="img/sprites/base.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Similique voluptatibus</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body shrink-column" data-label="Download"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Download">
                                                <use xlink:href="img/sprites/base.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body" data-label="Title">Dolor expedi</td>
                                        <td class="c-body shrink-column" data-label="Link"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Preview">
                                                <use xlink:href="img/sprites/base.svg#file" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                        <td class="c-body shrink-column" data-label="Download"><a class="icon-policy" href="#" target="_blank"><span class="icon">
                                              <svg class="glyph" aria-hidden="true" title="Download">
                                                <use xlink:href="img/sprites/base.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></td>
                                      </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gu-modal slds-modal gu-account-status" role="dialog" tabindex="-1" aria-labelledby="gu-account-status">
      <div class="slds-modal__container">
        <div class="slds-modal__header">
          <button class="slds-button slds-modal__close slds-button--icon-inverse btn-close-modal" title="Close">
            <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
              <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg><span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading--medium" id="gu-account-status">Hold on account</h2>
        </div>
        <div class="slds-modal__content slds-p-around--large">
          <p class="txt-intro slds-p-bottom--none slds-m-bottom--xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Repellendus aspernatur doloremque pariatur et porro quo quisquam temporibus praesentium harum minima.</p>
          <p class="slds-m-bottom--small">If you have any questions please contact the office of student admission at <a href="tel:(518) 222-7631">(518) 222-7631</a> or <a href="mailto:email@email.edu">email@email.edu</a></p>
          <div class="card box slds-p-around--large">
            <h5>Name or title for hold status</h5>
            <div class="txt-date slds-m-right--small"><strong></strong> 03/19/2017</div>
            <div class="description slds-m-top--x-small">Dolorum natus optio hold reason, repudiandae ducimus iure! Labore magnam dolores nam ab, odit, eos a corporis deleniti.</div>
          </div>
          <hr/>
          <div class="slds-modal__footer">
            <button class="btn-bs slds-button slds-button--brand btn-close-modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-backdrop"></div>
    <script>
      $('.btn-account-status').click(function () {
        $("[aria-labelledby='gu-account-status']").addClass('slds-fade-in-open');
        $("[aria-labelledby='gu-account-status'] + .slds-backdrop").addClass('slds-backdrop--open');
      });
    </script>
    <script></script>
  </body>
</html>
