src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/student/academic-forms.pug
extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'academic-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Academic Forms / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")
  link(rel="stylesheet", href="./css/table.css")

block content
  mixin form-row(form_name,form_description,due_date, is_past_due)
    if is_past_due
      tr.t-body-row
        td.c-body.name(data-label="Form Name")
          a= form_name
        td.c-body(data-label="Description")= form_description
        td.c-body.brand-error(data-label="Due Date")= due_date
    else
      tr.t-body-row
        td.c-body.name(data-label="Form Name")
          a= form_name
        td.c-body(data-label="Description")= form_description
        td.c-body(data-label="Due Date")= due_date

  +page-wrapper("","")
    +page-header("Academic Information", "has-controls", "img/navs/student/academic-information.svg")
      +page-header-controls(true, "Navigate to")
        a(href="/views/student/academic-information.html") Overview
        a(href="/views/student/academic-policies.html") Policies and Procedures
        a.active(href="#") Forms
        a(href="/views/student/academic-resources.html") Academic Resources
        a(href="/views/student/academic-technology.html") Technology Resources

    +page-content-wrapper("")
      .page-section
        .card-group
          .card
            .card-title
              h2 Academic Forms
            .card-content.slds-p-horizontal--large.slds-p-bottom--large
              table.slds-table.slds-table--striped.slds-no-row-hover.table-default(data-sortable)
                thead.t-head
                  tr.t-head-row
                    th.c-head(data-sortable="true") Form Name
                    th.c-head(data-sortable="false") Description
                    th.c-head(data-sortable="true") Due Date
                tbody.t-body
                  +form-row("Add or Drop Class","Totam, rerum distinctio minima numquam quae debitis assumenda. Possimus, eaque blanditiis","01/30/2017", true)
                  +form-row("Pass or Fail Class","Ipsam nesciunt culpa ea maiores quis delectus labore, officiis voluptatum.","03/20/2017", false)
                  +form-row("Voluptatem mollitia","Distinctio animi expedita ab, ea quam odio maiores, hic officiis.","03/12/2017", false)
                  +form-row("Eos laudantium","Rem dolor ad necessitatibus voluptatum ducimus odio, vel! Neque, accusamus.","04/02/2017", false)
                  +form-row("Fuga quod","Fuga officiis obcaecati, doloribus esse sed reiciendis dignissimos dolorem assumenda.","03/10/2017", false)
                  +form-row("Veniam","Omnis libero voluptate, rerum ipsa accusamus eius officiis excepturi quas.","01/30/2017", false)
                  +form-row("Fuga reprehenderit","Mollitia doloribus aliquam at fugiat. Obcaecati magnam sint, aperiam aliquid.","01/30/2017", false)
                  +form-row("Sapiente quibusdam","Similique adipisci ex ipsam ipsa culpa hic non nulla iusto.","01/30/2017", false)
                  +form-row("Delectus saepe","Iure consequuntur totam odio dolor magnam voluptate, odit culpa autem.","01/30/2017", false)
                  +form-row("Laboriosam nulla","Repudiandae nobis omnis odio eius iste eos veniam porro, consequuntur.","01/30/2017", false)

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/student/academic-forms.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Academic Forms / Student - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-student.css"/>
    <link rel="stylesheet" href="./css/table.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg active" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a>
          <hr/><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg active" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
        </nav>
        <hr/>
        <div class="mission-statement">
          <p>Repudiandae dolore voluptas rerum sint! Doloremque velit dolor ratione. Dignissimos.</p>
        </div>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small">Program Name</div>
          <div class="heading">Expected Graduation</div>
          <div class="result">Fall 2017</div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="alert warning btn-account-status hide-mobile"><span class="icon">
              <svg aria-hidden="true" title="">
                <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
            <div class="title">Hold on account</div><span>Click to learn more</span></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status warning">Hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/student/profile.html">Profile</a><a href="views/student/documents.html">Documents</a>
                <hr/><a href="views/faculty/dashboard.html">Faculty</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header><a class="alert warning btn-account-status show-mobile"><span class="icon">
            <svg aria-hidden="true" title="">
              <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg></span>
          <div class="title">Hold on account</div><span>Click to learn more</span></a>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/student/academic-information.svg" alt="Academic Information"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Academic Information</h1>
                </div>
                <div class="controls">
                  <div class="title">Navigate to</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a href="/views/student/academic-information.html">Overview</a><a href="/views/student/academic-policies.html">Policies and Procedures</a><a class="active" href="#">Forms</a><a href="/views/student/academic-resources.html">Academic Resources</a><a href="/views/student/academic-technology.html">Technology Resources</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section">
                  <div class="card-group">
                    <div class="card">
                      <div class="card-title">
                        <h2>Academic Forms</h2>
                      </div>
                      <div class="card-content slds-p-horizontal--large slds-p-bottom--large">
                        <table class="slds-table slds-table--striped slds-no-row-hover table-default" data-sortable="data-sortable">
                          <thead class="t-head">
                            <tr class="t-head-row">
                              <th class="c-head" data-sortable="true">Form Name</th>
                              <th class="c-head" data-sortable="false">Description</th>
                              <th class="c-head" data-sortable="true">Due Date</th>
                            </tr>
                          </thead>
                          <tbody class="t-body">
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Add or Drop Class</a></td>
                                        <td class="c-body" data-label="Description">Totam, rerum distinctio minima numquam quae debitis assumenda. Possimus, eaque blanditiis</td>
                                        <td class="c-body brand-error" data-label="Due Date">01/30/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Pass or Fail Class</a></td>
                                        <td class="c-body" data-label="Description">Ipsam nesciunt culpa ea maiores quis delectus labore, officiis voluptatum.</td>
                                        <td class="c-body" data-label="Due Date">03/20/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Voluptatem mollitia</a></td>
                                        <td class="c-body" data-label="Description">Distinctio animi expedita ab, ea quam odio maiores, hic officiis.</td>
                                        <td class="c-body" data-label="Due Date">03/12/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Eos laudantium</a></td>
                                        <td class="c-body" data-label="Description">Rem dolor ad necessitatibus voluptatum ducimus odio, vel! Neque, accusamus.</td>
                                        <td class="c-body" data-label="Due Date">04/02/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Fuga quod</a></td>
                                        <td class="c-body" data-label="Description">Fuga officiis obcaecati, doloribus esse sed reiciendis dignissimos dolorem assumenda.</td>
                                        <td class="c-body" data-label="Due Date">03/10/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Veniam</a></td>
                                        <td class="c-body" data-label="Description">Omnis libero voluptate, rerum ipsa accusamus eius officiis excepturi quas.</td>
                                        <td class="c-body" data-label="Due Date">01/30/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Fuga reprehenderit</a></td>
                                        <td class="c-body" data-label="Description">Mollitia doloribus aliquam at fugiat. Obcaecati magnam sint, aperiam aliquid.</td>
                                        <td class="c-body" data-label="Due Date">01/30/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Sapiente quibusdam</a></td>
                                        <td class="c-body" data-label="Description">Similique adipisci ex ipsam ipsa culpa hic non nulla iusto.</td>
                                        <td class="c-body" data-label="Due Date">01/30/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Delectus saepe</a></td>
                                        <td class="c-body" data-label="Description">Iure consequuntur totam odio dolor magnam voluptate, odit culpa autem.</td>
                                        <td class="c-body" data-label="Due Date">01/30/2017</td>
                                      </tr>
                                      <tr class="t-body-row">
                                        <td class="c-body name" data-label="Form Name"><a>Laboriosam nulla</a></td>
                                        <td class="c-body" data-label="Description">Repudiandae nobis omnis odio eius iste eos veniam porro, consequuntur.</td>
                                        <td class="c-body" data-label="Due Date">01/30/2017</td>
                                      </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gu-modal slds-modal gu-account-status" role="dialog" tabindex="-1" aria-labelledby="gu-account-status">
      <div class="slds-modal__container">
        <div class="slds-modal__header">
          <button class="slds-button slds-modal__close slds-button--icon-inverse btn-close-modal" title="Close">
            <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
              <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg><span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading--medium" id="gu-account-status">Hold on account</h2>
        </div>
        <div class="slds-modal__content slds-p-around--large">
          <p class="txt-intro slds-p-bottom--none slds-m-bottom--xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Repellendus aspernatur doloremque pariatur et porro quo quisquam temporibus praesentium harum minima.</p>
          <p class="slds-m-bottom--small">If you have any questions please contact the office of student admission at <a href="tel:(518) 222-7631">(518) 222-7631</a> or <a href="mailto:email@email.edu">email@email.edu</a></p>
          <div class="card box slds-p-around--large">
            <h5>Name or title for hold status</h5>
            <div class="txt-date slds-m-right--small"><strong></strong> 03/19/2017</div>
            <div class="description slds-m-top--x-small">Dolorum natus optio hold reason, repudiandae ducimus iure! Labore magnam dolores nam ab, odit, eos a corporis deleniti.</div>
          </div>
          <hr/>
          <div class="slds-modal__footer">
            <button class="btn-bs slds-button slds-button--brand btn-close-modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-backdrop"></div>
    <script>
      $('.btn-account-status').click(function () {
        $("[aria-labelledby='gu-account-status']").addClass('slds-fade-in-open');
        $("[aria-labelledby='gu-account-status'] + .slds-backdrop").addClass('slds-backdrop--open');
      });
    </script>
    <script></script>
  </body>
</html>
