src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/student/campus-wellness.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Campus Life - Student Wellness / Student - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-student.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg active" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a>
          <hr/><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg active" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
        </nav>
        <hr/>
        <div class="mission-statement">
          <p>Repudiandae dolore voluptas rerum sint! Doloremque velit dolor ratione. Dignissimos.</p>
        </div>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small">Program Name</div>
          <div class="heading">Expected Graduation</div>
          <div class="result">Fall 2017</div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="alert warning btn-account-status hide-mobile"><span class="icon">
              <svg aria-hidden="true" title="">
                <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
            <div class="title">Hold on account</div><span>Click to learn more</span></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status warning">Hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/student/profile.html">Profile</a><a href="views/student/documents.html">Documents</a>
                <hr/><a href="views/faculty/dashboard.html">Faculty</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header><a class="alert warning btn-account-status show-mobile"><span class="icon">
            <svg aria-hidden="true" title="">
              <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg></span>
          <div class="title">Hold on account</div><span>Click to learn more</span></a>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/student/campus-care.svg" alt="Campus Care"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Campus Care</h1>
                </div>
                <div class="controls">
                  <div class="title">Navigate to</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a href="views/student/campus-care.html">Overview</a><a href="views/student/campus-housing.html">Housing</a><a class="active" href="#">Student Wellness</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section">
                  <div class="card-group">
                    <div class="card">
                      <div class="card-title">
                        <h2>Student Wellness</h2>
                      </div>
                      <div class="card-content slds-p-around--large">
                        <div class="facet-grid--flex wrap stretch large--6-of-12">
                          <div data-aura-rendered-by="data-aura-rendered-by">
                            <div class="ui-widget">
                              <div class="card-grid-item md">
                                <div class="title">Counseling and Phychiatric Services (CAPS)</div>
                                <div class="card-label">Location</div>
                                <div>1 Darnell Hall - Back of Building</div>
                                <div class="card-label">Contact</div>
                                <div>Appointments: <a href="tel:(202) 687-6985">(202) 687-6985</a></div>
                                <div>After Hours Emergencies: <a href="tel:(202) 444-4273">(202) 444-4273</a></div><a href="caps.georgetown.edu">http://caps.georgetown.edu</a>
                                <div class="card-description">
                                  <div class="card-label">Description</div>
                                  <div class="description">CAPS offers a variety of counseling and psychiatric services to students. Evaluations, consultations, and group therapy are free of charge. For ongoing treatment, there is a modest fee of $10 per psychotherapy visit and $15 per psychiatry visit. CAPS will work with students to overcome any financial barriers to treatment.</div>
                                </div>
                              </div>
                            </div>
                            <div class="ui-widget">
                              <div class="card-grid-item md">
                                <div class="title">Chaplains and Jesuits in Residence</div>
                                <div class="card-label">Location</div>
                                <div>113 Healy Hall</div>
                                <div class="card-label">Contact</div>
                                <div>Appointments: <a href="tel:(202) 687-4300">(202) 687-4300</a></div>
                                <div>After Hours Emergencies: <a href="tel:(202) 444-4273">(202) 444-4273</a></div><a href="campusministry.georgetown.edu/residentialministry">http://campusministry.georgetown.edu/residentialministry</a>
                                <div class="card-description">
                                  <div class="card-label">Description</div>
                                  <div class="description">The Office of Campus Ministry’s full-time chaplains and volunteer residential chaplains are available for all students for conversation, encouragement, and support. These friendly and welcoming ministers embody Georgetown’s commitment to Cura Personalis – caring deeply for the spiritual and emotional well- being of all students. All students – of any or no tradition – are always welcome.</div>
                                </div>
                              </div>
                            </div>
                            <div class="ui-widget">
                              <div class="card-grid-item md">
                                <div class="title">Georgetown University Police Department (GUPD)</div>
                                <div class="card-label">Location</div>
                                <div>Village C, West Wing - Ground Floor</div>
                                <div class="card-label">Contact</div>
                                <div>Emergencies: <a href="tel:(202) 687-4357">(202) 687-4357</a></div>
                                <div>Phone: <a href="tel:(202) 444-4343">(202) 444-4343</a></div>
                                <div>TTY: <a href="tel:(202) 444-4342">(202) 444-4342</a></div>
                                <div>SafeRides: <a href="tel:(202) 784-7433">(202) 784-7433</a></div><a href="police.georgetown.edu">http://police.georgetown.edu</a>
                                <div class="card-description">
                                  <div class="card-label">Description</div>
                                  <div class="description">GUPD provides security and police services on the Georgetown University Main and Medical Center campuses as well as off campus properties. Utilizing foot patrols, vehicles, and bicycles, the officers patrol the campus twenty-four hours a day, seven days a week. GUPD also opertates the SafeRides program, which provides a free shuttle service or escort in the Georgetown, Burleith and Foxhall neighborhoods.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gu-modal slds-modal gu-account-status" role="dialog" tabindex="-1" aria-labelledby="gu-account-status">
      <div class="slds-modal__container">
        <div class="slds-modal__header">
          <button class="slds-button slds-modal__close slds-button--icon-inverse btn-close-modal" title="Close">
            <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
              <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg><span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading--medium" id="gu-account-status">Hold on account</h2>
        </div>
        <div class="slds-modal__content slds-p-around--large">
          <p class="txt-intro slds-p-bottom--none slds-m-bottom--xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Repellendus aspernatur doloremque pariatur et porro quo quisquam temporibus praesentium harum minima.</p>
          <p class="slds-m-bottom--small">If you have any questions please contact the office of student admission at <a href="tel:(518) 222-7631">(518) 222-7631</a> or <a href="mailto:email@email.edu">email@email.edu</a></p>
          <div class="card box slds-p-around--large">
            <h5>Name or title for hold status</h5>
            <div class="txt-date slds-m-right--small"><strong></strong> 03/19/2017</div>
            <div class="description slds-m-top--x-small">Dolorum natus optio hold reason, repudiandae ducimus iure! Labore magnam dolores nam ab, odit, eos a corporis deleniti.</div>
          </div>
          <hr/>
          <div class="slds-modal__footer">
            <button class="btn-bs slds-button slds-button--brand btn-close-modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-backdrop"></div>
    <script>
      $('.btn-account-status').click(function () {
        $("[aria-labelledby='gu-account-status']").addClass('slds-fade-in-open');
        $("[aria-labelledby='gu-account-status'] + .slds-backdrop").addClass('slds-backdrop--open');
      });
    </script>
    <script></script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/student/campus-wellness.pug
extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'campus-care';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Campus Life - Student Wellness / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("", "")
    +page-header("Campus Care", "has-controls", "img/navs/student/campus-care.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/campus-care.html") Overview
        a(href="views/student/campus-housing.html") Housing
        a.active(href="#") Student Wellness

    +page-content-wrapper("")
      .page-section
        .card-group
          .card
            .card-title
              h2 Student Wellness
            .card-content.slds-p-around--large
              +grid("wrap stretch", "large", "6-of-12")
                +grid-col("")
                  .card-grid-item.md
                    .title Counseling and Phychiatric Services (CAPS)
                    .card-label Location
                    div 1 Darnell Hall - Back of Building
                    .card-label Contact
                    div Appointments: #[a(href="tel:(202) 687-6985") (202) 687-6985]
                    div After Hours Emergencies: #[a(href="tel:(202) 444-4273") (202) 444-4273]
                    a(href="caps.georgetown.edu") http://caps.georgetown.edu
                    .card-description
                      .card-label Description
                      .description CAPS offers a variety of counseling and psychiatric services to students. Evaluations, consultations, and group therapy are free of charge. For ongoing treatment, there is a modest fee of $10 per psychotherapy visit and $15 per psychiatry visit. CAPS will work with students to overcome any financial barriers to treatment.

                +grid-col("")
                  .card-grid-item.md
                    .title Chaplains and Jesuits in Residence
                    .card-label Location
                    div 113 Healy Hall
                    .card-label Contact
                    div Appointments: #[a(href="tel:(202) 687-4300") (202) 687-4300]
                    div After Hours Emergencies: #[a(href="tel:(202) 444-4273") (202) 444-4273]
                    a(href="campusministry.georgetown.edu/residentialministry") http://campusministry.georgetown.edu/residentialministry
                    .card-description
                      .card-label Description
                      .description The Office of Campus Ministry’s full-time chaplains and volunteer residential chaplains are available for all students for conversation, encouragement, and support. These friendly and welcoming ministers embody Georgetown’s commitment to Cura Personalis – caring deeply for the spiritual and emotional well- being of all students. All students – of any or no tradition – are always welcome.

                +grid-col("")
                  .card-grid-item.md
                    .title Georgetown University Police Department (GUPD)
                    .card-label Location
                    div Village C, West Wing - Ground Floor
                    .card-label Contact
                    div Emergencies: #[a(href="tel:(202) 687-4357") (202) 687-4357]
                    div Phone: #[a(href="tel:(202) 444-4343") (202) 444-4343]
                    div TTY: #[a(href="tel:(202) 444-4342") (202) 444-4342]
                    div SafeRides: #[a(href="tel:(202) 784-7433") (202) 784-7433]
                    a(href="police.georgetown.edu") http://police.georgetown.edu
                    .card-description
                      .card-label Description
                      .description GUPD provides security and police services on the Georgetown University Main and Medical Center campuses as well as off campus properties. Utilizing foot patrols, vehicles, and bicycles, the officers patrol the campus twenty-four hours a day, seven days a week. GUPD also opertates the SafeRides program, which provides a free shuttle service or escort in the Georgetown, Burleith and Foxhall neighborhoods.


block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
