src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/student/emergency-information.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Emergency Information / Student - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-student.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg active" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a>
          <hr/><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg active" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
        </nav>
        <hr/>
        <div class="mission-statement">
          <p>Repudiandae dolore voluptas rerum sint! Doloremque velit dolor ratione. Dignissimos.</p>
        </div>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small">Program Name</div>
          <div class="heading">Expected Graduation</div>
          <div class="result">Fall 2017</div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="alert warning btn-account-status hide-mobile"><span class="icon">
              <svg aria-hidden="true" title="">
                <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
            <div class="title">Hold on account</div><span>Click to learn more</span></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status warning">Hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/student/profile.html">Profile</a><a href="views/student/documents.html">Documents</a>
                <hr/><a href="views/faculty/dashboard.html">Faculty</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header><a class="alert warning btn-account-status show-mobile"><span class="icon">
            <svg aria-hidden="true" title="">
              <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg></span>
          <div class="title">Hold on account</div><span>Click to learn more</span></a>
        <div class="flex sm content-wrapper">
          <div class="page-content pg-dashboard">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/student/emergency-information.svg" alt="Emergency Information"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Emergency Information</h1>
                </div>
              </div>
              <div class="page-body undefined">
                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                  <div class="slds-p-horizontal--small slds-size--3-of-3 slds-large-size--2-of-3">
                    <div class="card-group">
                      <div class="card slds-m-bottom--large">
                        <div class="card-content slds-p-around--large">
                          <ul class="slds-grid slds-wrap slds-grid--pull-padded-large slds-list--dotted">
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-introduction-resources/" target="_blank">Introduction &amp; Resources</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="https://netid-mgmt.georgetown.edu/emergencycontact/#_ga=1.246320772.1242176550.1482113519" target="_blank">Manage my HOYAlerts</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-building-floor-marshals/" target="_blank">Building and Floor Marshals</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="https://studenthealth.georgetown.edu/crisis-counseling/sexual-assault-relationship-violence" target="_blank">Crisis Counseling for Sexual Assault and Relationship Violence</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-evacuation-guidelines/" target="_blank">Evacuation Guidelines</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="https://studenthealth.georgetown.edu/medical-care" target="_blank">Student Health Center</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-shelter-place-guidelines/" target="_blank">Shelter-In-Place Guidelines</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="https://police.georgetown.edu/" target="_blank">Georgetown University Police Department</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-medical-emergency/" target="_blank">Medical Emergency</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-hazmat-incident/" target="_blank">Hazmat Incidents</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-fire-procedure/" target="_blank">Fire</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-power-outage-2/" target="_blank">Power Outage</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-elevator-failure/" target="_blank">Elevator Failure</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-security-threat-suspicious-package/" target="_blank">Suspicious Packages</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-security-threat-suspicious-vehicle/" target="_blank">Suspicious Vehicle</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-security-threat-bomb-threat/" target="_blank">Bomb Threat</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-security-threat-active-shooter/" target="_blank">Active Shooter</a></li>
                            <li class="slds-size--2-of-2 slds-large-size--1-of-2 slds-p-horizontal--xx-large slds-p-vertical--small slds-p-left--none"><a class="slds-text-body--medium" href="http://www.livesafemobile.com/georgetown-natural-hazards/" target="_blank">Natural Hazard</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slds-p-horizontal--small slds-size--3-of-3 slds-large-size--1-of-3">
                    <div class="card-group">
                      <div class="card">
                        <div class="card-title">
                          <h2>Emergency Responders</h2>
                        </div>
                        <div class="card-content slds-p-around--large">
                          <div class="slds-text-heading--medium slds-p-bottom--xx-small">Law Campus Dial DPS</div>
                          <div class="slds-p-bottom--medium"><a href="tel:(202) 662-9325">(202) 662-9325</a></div>
                          <div class="slds-text-heading--medium slds-p-bottom--xx-small">Main / Medical Campus Dial GUPD</div>
                          <div class="slds-p-bottom--medium"><a href="tel:(202) 687-4343">(202) 687-4343</a></div>
                          <div class="slds-text-heading--medium slds-p-bottom--xx-small">SCS Campus Dial Security Desk</div>
                          <div class="slds-p-bottom--medium"><a href="tel:(202) 784-7375">(202) 784-7375</a></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-title">
                          <h2>CAPS</h2>
                        </div>
                        <div class="card-content slds-p-around--large">
                          <div class="slds-text-heading--medium slds-p-bottom--xx-small">During business hours</div>
                          <div class="slds-p-bottom--medium"><a href="tel:(202) 687-6985">(202) 687-6985</a></div>
                          <div class="slds-text-heading--medium slds-p-bottom--xx-small">After-hours emergencies</div>
                          <div class="slds-p-bottom--medium"><a href="tel:(202) 444-7243">(202) 444-PAGE (7243)</a>
                            <div>Ask to speak to on-call clinician</div>
                          </div><a class="slds-text-heading--medium slds-p-bottom--xx-small">Mental Health Resources</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gu-modal slds-modal gu-account-status" role="dialog" tabindex="-1" aria-labelledby="gu-account-status">
      <div class="slds-modal__container">
        <div class="slds-modal__header">
          <button class="slds-button slds-modal__close slds-button--icon-inverse btn-close-modal" title="Close">
            <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
              <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg><span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading--medium" id="gu-account-status">Hold on account</h2>
        </div>
        <div class="slds-modal__content slds-p-around--large">
          <p class="txt-intro slds-p-bottom--none slds-m-bottom--xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Repellendus aspernatur doloremque pariatur et porro quo quisquam temporibus praesentium harum minima.</p>
          <p class="slds-m-bottom--small">If you have any questions please contact the office of student admission at <a href="tel:(518) 222-7631">(518) 222-7631</a> or <a href="mailto:email@email.edu">email@email.edu</a></p>
          <div class="card box slds-p-around--large">
            <h5>Name or title for hold status</h5>
            <div class="txt-date slds-m-right--small"><strong></strong> 03/19/2017</div>
            <div class="description slds-m-top--x-small">Dolorum natus optio hold reason, repudiandae ducimus iure! Labore magnam dolores nam ab, odit, eos a corporis deleniti.</div>
          </div>
          <hr/>
          <div class="slds-modal__footer">
            <button class="btn-bs slds-button slds-button--brand btn-close-modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-backdrop"></div>
    <script>
      $('.btn-account-status').click(function () {
        $("[aria-labelledby='gu-account-status']").addClass('slds-fade-in-open');
        $("[aria-labelledby='gu-account-status'] + .slds-backdrop").addClass('slds-backdrop--open');
      });
    </script>
    <script></script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/student/emergency-information.pug
extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'emergency-information';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Emergency Information / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Emergency Information", "has-controls", "img/navs/student/emergency-information.svg")
    +page-content-wrapper()
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
          .card-group
            .card.slds-m-bottom--large
              .card-content.slds-p-around--large
                ul.slds-grid.slds-wrap.slds-grid--pull-padded-large.slds-list--dotted
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-introduction-resources/", target="_blank") Introduction &amp; Resources
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="https://netid-mgmt.georgetown.edu/emergencycontact/#_ga=1.246320772.1242176550.1482113519", target="_blank") Manage my HOYAlerts
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-building-floor-marshals/", target="_blank") Building and Floor Marshals
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="https://studenthealth.georgetown.edu/crisis-counseling/sexual-assault-relationship-violence", target="_blank") Crisis Counseling for Sexual Assault and Relationship Violence
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-evacuation-guidelines/", target="_blank") Evacuation Guidelines
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="https://studenthealth.georgetown.edu/medical-care", target="_blank") Student Health Center
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-shelter-place-guidelines/", target="_blank") Shelter-In-Place Guidelines
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="https://police.georgetown.edu/", target="_blank") Georgetown University Police Department
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-medical-emergency/", target="_blank") Medical Emergency
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-hazmat-incident/", target="_blank") Hazmat Incidents
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-fire-procedure/", target="_blank") Fire
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-power-outage-2/", target="_blank") Power Outage
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-elevator-failure/", target="_blank") Elevator Failure
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-security-threat-suspicious-package/", target="_blank") Suspicious Packages
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-security-threat-suspicious-vehicle/", target="_blank") Suspicious Vehicle
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-security-threat-bomb-threat/", target="_blank") Bomb Threat
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-security-threat-active-shooter/", target="_blank") Active Shooter
                  li.slds-size--2-of-2.slds-large-size--1-of-2.slds-p-horizontal--xx-large.slds-p-vertical--small.slds-p-left--none
                    a.slds-text-body--medium(href="http://www.livesafemobile.com/georgetown-natural-hazards/", target="_blank") Natural Hazard


        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
          .card-group
            .card
              .card-title
                h2 Emergency Responders
              .card-content.slds-p-around--large
                .slds-text-heading--medium.slds-p-bottom--xx-small Law Campus Dial DPS
                div.slds-p-bottom--medium
                  a(href="tel:(202) 662-9325") (202) 662-9325

                .slds-text-heading--medium.slds-p-bottom--xx-small Main / Medical Campus Dial GUPD
                div.slds-p-bottom--medium
                  a(href="tel:(202) 687-4343") (202) 687-4343

                .slds-text-heading--medium.slds-p-bottom--xx-small SCS Campus Dial Security Desk
                div.slds-p-bottom--medium
                  a(href="tel:(202) 784-7375") (202) 784-7375
            .card
              .card-title
                h2 CAPS
              .card-content.slds-p-around--large
                .slds-text-heading--medium.slds-p-bottom--xx-small During business hours
                div.slds-p-bottom--medium
                  a(href="tel:(202) 687-6985") (202) 687-6985

                .slds-text-heading--medium.slds-p-bottom--xx-small After-hours emergencies
                div.slds-p-bottom--medium
                  a(href="tel:(202) 444-7243") (202) 444-PAGE (7243)
                  div Ask to speak to on-call clinician

                a.slds-text-heading--medium.slds-p-bottom--xx-small Mental Health Resources



block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
