src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/student/financial-services.pug
extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'financial-information';

include partials/student-includes.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block title
  title Financial Services / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper()
    +page-header("Financial Information", "has-controls", "img/navs/student/financial-information.svg")
      +page-header-controls(true, "Navigate to")
        a(href="/views/student/financial-information.html") Overview
        a.active(href="#") Financial Services
        a(href="/views/student/financial-billing.html") Billing and Payments
    +page-content-wrapper()
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--2-of-3
          .card-group
            .card.slds-m-bottom--large
              .card-title
                h2 Office of Student Financial Services
              .card-content.slds-p-around--large
                p.txt-intro Our mission is to make it financially possible for every qualified applicant to enroll at Georgetown University, ensuring that we recruit and retain a talented and diverse learning community.
                p The Office of Student Financial Services (OSFS) provides counseling services to prospective and current students and their families about:
                ul.slds-list--dotted.bordered
                  li.slds-m-bottom--small Options available for financing higher education costs
                  li.slds-m-bottom--small Eligibility for assistance
                  li.slds-m-bottom--small Applying for an obtaining funding
                  li.slds-m-bottom--small Budgeting expenses and paying bills
                  li.slds-m-bottom--small For both undergraduate and graduate students, the OSFS determines eligibility for assistance from federal, state and private financial aid programs based ont he rules and regulations established by those external agencies.
                p.slds-m-bottom--small We also determine elegibility for Georgetown scholarships to undergraduates and assist in the selection of graduate students who receive university fellowships and scholarships.
                p.slds-m-bottom--small The office is responsible for delivering funds, which may incldue loans, employment, grants and scholarships from both public and private sources, to eligible recipients. There are more than 125 student financial assistance programs managed by or coordinated through the OSFS.
        .slds-p-horizontal--small.slds-size--3-of-3.slds-large-size--1-of-3
          .card-group
            .card
              .card-title
                h2 Financial Aid OFfice
                div.slds-p-vertical--x-small
                  a.telephone(href="tel:(202) 687-4547")
                    +svg-sprite("img/sprites/media.svg","phone","icon-xs","")
                    span (202) 687-4547
              .card-content.slds-p-around--large
                .bordered
                  p Please use #[a(href="#") MyAccess] to check the status of your financial aid application. You can also use this system to learn if any required items are missing from your file. If your financial aid award is available, you can view and / or accept the award offer on #[a(href="#") MyAccess].
                  +btn-pill("btn-block slds-m-top--medium", "", "MyAccess", "#", false)
                h2.slds-m-vertical--large Recent Tweets
                .social-feed
                  +feed-item("Georgetown OSFS", "/demo/avatar_twitter.png", "@georgetownOSFS", "twitter", "https://twitter.com/georgetownosfsosfs", "19h")
                    p Are you applying to college this year? Add #[a(href="https://twitter.com/Georgetown") @Georgetown] to your list! We guarantee to meet FULL NEED for all qualified undergrad applicants.
                  +feed-item("Georgetown OSFS", "/demo/avatar_twitter.png", "@georgetownOSFS", "twitter", "https://twitter.com/georgetownosfs", "2d")
                    p If applying for PLUS loans for 1718: apps available sometime this month on #[a(href="https://t.co/p0lbC4jEMN") studentloans.gov]  - do NOT accidentally complete 1617 app!
                  +feed-item("Georgetown OSFS", "/demo/avatar_twitter.png", "@georgetownOSFS", "twitter", "https://twitter.com/georgetownosfs", "4d")
                    p Stop by today if you have questions about applying for the 1718 school year!
                    img.img-responsive(src="https://pbs.twimg.com/media/C5rVHNWWQAA2Czi.jpg")

block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/student/financial-services.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Financial Services / Student - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-student.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg active" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a>
          <hr/><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg active" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
        </nav>
        <hr/>
        <div class="mission-statement">
          <p>Repudiandae dolore voluptas rerum sint! Doloremque velit dolor ratione. Dignissimos.</p>
        </div>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small">Program Name</div>
          <div class="heading">Expected Graduation</div>
          <div class="result">Fall 2017</div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="alert warning btn-account-status hide-mobile"><span class="icon">
              <svg aria-hidden="true" title="">
                <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
            <div class="title">Hold on account</div><span>Click to learn more</span></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status warning">Hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/student/profile.html">Profile</a><a href="views/student/documents.html">Documents</a>
                <hr/><a href="views/faculty/dashboard.html">Faculty</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header><a class="alert warning btn-account-status show-mobile"><span class="icon">
            <svg aria-hidden="true" title="">
              <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg></span>
          <div class="title">Hold on account</div><span>Click to learn more</span></a>
        <div class="flex sm content-wrapper">
          <div class="page-content undefined">
            <div class="max-container undefined">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/student/financial-information.svg" alt="Financial Information"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Financial Information</h1>
                </div>
                <div class="controls">
                  <div class="title">Navigate to</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a href="/views/student/financial-information.html">Overview</a><a class="active" href="#">Financial Services</a><a href="/views/student/financial-billing.html">Billing and Payments</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body undefined">
                <div class="page-section slds-grid slds-wrap slds-grid--pull-padded">
                  <div class="slds-p-horizontal--small slds-size--3-of-3 slds-large-size--2-of-3">
                    <div class="card-group">
                      <div class="card slds-m-bottom--large">
                        <div class="card-title">
                          <h2>Office of Student Financial Services</h2>
                        </div>
                        <div class="card-content slds-p-around--large">
                          <p class="txt-intro">Our mission is to make it financially possible for every qualified applicant to enroll at Georgetown University, ensuring that we recruit and retain a talented and diverse learning community.</p>
                          <p>The Office of Student Financial Services (OSFS) provides counseling services to prospective and current students and their families about:</p>
                          <ul class="slds-list--dotted bordered">
                            <li class="slds-m-bottom--small">Options available for financing higher education costs</li>
                            <li class="slds-m-bottom--small">Eligibility for assistance</li>
                            <li class="slds-m-bottom--small">Applying for an obtaining funding</li>
                            <li class="slds-m-bottom--small">Budgeting expenses and paying bills</li>
                            <li class="slds-m-bottom--small">For both undergraduate and graduate students, the OSFS determines eligibility for assistance from federal, state and private financial aid programs based ont he rules and regulations established by those external agencies.</li>
                          </ul>
                          <p class="slds-m-bottom--small">We also determine elegibility for Georgetown scholarships to undergraduates and assist in the selection of graduate students who receive university fellowships and scholarships.</p>
                          <p class="slds-m-bottom--small">The office is responsible for delivering funds, which may incldue loans, employment, grants and scholarships from both public and private sources, to eligible recipients. There are more than 125 student financial assistance programs managed by or coordinated through the OSFS.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="slds-p-horizontal--small slds-size--3-of-3 slds-large-size--1-of-3">
                    <div class="card-group">
                      <div class="card">
                        <div class="card-title">
                          <h2>Financial Aid OFfice</h2>
                          <div class="slds-p-vertical--x-small"><a class="telephone" href="tel:(202) 687-4547"><span class="icon">
                                <svg class="icon-xs" aria-hidden="true" title="">
                                  <use xlink:href="img/sprites/media.svg#phone" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></span><span>(202) 687-4547</span></a></div>
                        </div>
                        <div class="card-content slds-p-around--large">
                          <div class="bordered">
                            <p>Please use <a href="#">MyAccess</a> to check the status of your financial aid application. You can also use this system to learn if any required items are missing from your file. If your financial aid award is available, you can view and / or accept the award offer on <a href="#">MyAccess</a>.</p><a class="btn-pill btn-block slds-m-top--medium" href="#" id="">MyAccess</a>
                          </div>
                          <h2 class="slds-m-vertical--large">Recent Tweets</h2>
                          <div class="social-feed">
                            <article class="slds-post">
                              <header class="slds-post__header slds-media">
                                <div class="slds-media__figure"><a class="slds-avatar slds-avatar--circle slds-avatar--large" title="Georgetown OSFS"><img src="/demo/avatar_twitter.png" alt="Georgetown OSFS"/></a></div>
                                <div class="slds-media__body">
                                  <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                                    <div class="posted-by"><a href="https://twitter.com/georgetownosfsosfs" title="Georgetown OSFS">
                                        <div class="title">Georgetown OSFS</div>
                                        <div class="handle">@georgetownOSFS</div></a></div><a class="timestamp" href="https://twitter.com/georgetownosfsosfs" aria-haspopup="true" title="More Options">
                                      <div class="post-date">19h</div>
                                      <svg class="site-icon" aria-hidden="true">
                                        <use xlink:href="img/sprites/media.svg#twitter"></use>
                                      </svg></a>
                                  </div>
                                </div>
                              </header>
                              <div class="slds-post__content slds-text-longform">
                                <p>Are you applying to college this year? Add <a href="https://twitter.com/Georgetown">@Georgetown</a> to your list! We guarantee to meet FULL NEED for all qualified undergrad applicants.</p>
                              </div>
                            </article>
                            <article class="slds-post">
                              <header class="slds-post__header slds-media">
                                <div class="slds-media__figure"><a class="slds-avatar slds-avatar--circle slds-avatar--large" title="Georgetown OSFS"><img src="/demo/avatar_twitter.png" alt="Georgetown OSFS"/></a></div>
                                <div class="slds-media__body">
                                  <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                                    <div class="posted-by"><a href="https://twitter.com/georgetownosfs" title="Georgetown OSFS">
                                        <div class="title">Georgetown OSFS</div>
                                        <div class="handle">@georgetownOSFS</div></a></div><a class="timestamp" href="https://twitter.com/georgetownosfs" aria-haspopup="true" title="More Options">
                                      <div class="post-date">2d</div>
                                      <svg class="site-icon" aria-hidden="true">
                                        <use xlink:href="img/sprites/media.svg#twitter"></use>
                                      </svg></a>
                                  </div>
                                </div>
                              </header>
                              <div class="slds-post__content slds-text-longform">
                                <p>If applying for PLUS loans for 1718: apps available sometime this month on <a href="https://t.co/p0lbC4jEMN">studentloans.gov</a>  - do NOT accidentally complete 1617 app!</p>
                              </div>
                            </article>
                            <article class="slds-post">
                              <header class="slds-post__header slds-media">
                                <div class="slds-media__figure"><a class="slds-avatar slds-avatar--circle slds-avatar--large" title="Georgetown OSFS"><img src="/demo/avatar_twitter.png" alt="Georgetown OSFS"/></a></div>
                                <div class="slds-media__body">
                                  <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                                    <div class="posted-by"><a href="https://twitter.com/georgetownosfs" title="Georgetown OSFS">
                                        <div class="title">Georgetown OSFS</div>
                                        <div class="handle">@georgetownOSFS</div></a></div><a class="timestamp" href="https://twitter.com/georgetownosfs" aria-haspopup="true" title="More Options">
                                      <div class="post-date">4d</div>
                                      <svg class="site-icon" aria-hidden="true">
                                        <use xlink:href="img/sprites/media.svg#twitter"></use>
                                      </svg></a>
                                  </div>
                                </div>
                              </header>
                              <div class="slds-post__content slds-text-longform">
                                <p>Stop by today if you have questions about applying for the 1718 school year!</p><img class="img-responsive" src="https://pbs.twimg.com/media/C5rVHNWWQAA2Czi.jpg"/>
                              </div>
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gu-modal slds-modal gu-account-status" role="dialog" tabindex="-1" aria-labelledby="gu-account-status">
      <div class="slds-modal__container">
        <div class="slds-modal__header">
          <button class="slds-button slds-modal__close slds-button--icon-inverse btn-close-modal" title="Close">
            <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
              <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg><span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading--medium" id="gu-account-status">Hold on account</h2>
        </div>
        <div class="slds-modal__content slds-p-around--large">
          <p class="txt-intro slds-p-bottom--none slds-m-bottom--xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Repellendus aspernatur doloremque pariatur et porro quo quisquam temporibus praesentium harum minima.</p>
          <p class="slds-m-bottom--small">If you have any questions please contact the office of student admission at <a href="tel:(518) 222-7631">(518) 222-7631</a> or <a href="mailto:email@email.edu">email@email.edu</a></p>
          <div class="card box slds-p-around--large">
            <h5>Name or title for hold status</h5>
            <div class="txt-date slds-m-right--small"><strong></strong> 03/19/2017</div>
            <div class="description slds-m-top--x-small">Dolorum natus optio hold reason, repudiandae ducimus iure! Labore magnam dolores nam ab, odit, eos a corporis deleniti.</div>
          </div>
          <hr/>
          <div class="slds-modal__footer">
            <button class="btn-bs slds-button slds-button--brand btn-close-modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-backdrop"></div>
    <script>
      $('.btn-account-status').click(function () {
        $("[aria-labelledby='gu-account-status']").addClass('slds-fade-in-open');
        $("[aria-labelledby='gu-account-status'] + .slds-backdrop").addClass('slds-backdrop--open');
      });
    </script>
    <script></script>
  </body>
</html>
