src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/student/profile-releases.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Profile / Student - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/profile.css"/>
    <link rel="stylesheet" href="./css/edit-block.css"/>
    <link rel="stylesheet" href="./css/theme-student.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/student/directory-faculty.html"><img src="img/navs/student/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a>
          <hr/><a class="icon-link lg" href="views/student/dashboard.html"><img src="img/navs/student/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/student/academic-information.html"><img src="img/navs/student/academic-information.svg" alt="Academic Information"/><span class="name">Academic Information</span></a><a class="icon-link lg" href="views/student/financial-information.html"><img src="img/navs/student/financial-information.svg" alt="Financial Information"/><span class="name">Financial Information</span></a><a class="icon-link lg" href="views/student/calendar.html"><img src="img/navs/student/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/student/campus-care.html"><img src="img/navs/student/campus-care.svg" alt="Campus Care"/><span class="name">Campus Care</span></a><a class="icon-link lg" href="views/student/campus-life.html"><img src="img/navs/student/campus-life.svg" alt="Campus Life"/><span class="name">Campus Life</span></a><a class="icon-link lg" href="views/student/navigating-georgetown.html"><img src="img/navs/student/navigating-georgetown.svg" alt="Navigating Georgetown"/><span class="name">Navigating Georgetown</span></a><a class="icon-link lg" href="views/student/emergency-information.html"><img src="img/navs/student/emergency-information.svg" alt="Emergency Information"/><span class="name">Emergency Information</span></a>
        </nav>
        <hr/>
        <div class="mission-statement">
          <p>Repudiandae dolore voluptas rerum sint! Doloremque velit dolor ratione. Dignissimos.</p>
        </div>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small">Program Name</div>
          <div class="heading">Expected Graduation</div>
          <div class="result">Fall 2017</div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="alert warning btn-account-status hide-mobile"><span class="icon">
              <svg aria-hidden="true" title="">
                <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
            <div class="title">Hold on account</div><span>Click to learn more</span></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status warning">Hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/student/profile.html">Profile</a><a href="views/student/documents.html">Documents</a>
                <hr/><a href="views/faculty/dashboard.html">Faculty</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header><a class="alert warning btn-account-status show-mobile"><span class="icon">
            <svg aria-hidden="true" title="">
              <use xlink:href="img/sprites/base.svg#flag" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg></span>
          <div class="title">Hold on account</div><span>Click to learn more</span></a>
        <div class="flex sm content-wrapper">
          <div class="page-content pg-dashboard">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="../img/navs/student/profile.svg" alt="Profile"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Profile</h1>
                </div>
                <div class="controls">
                  <div class="title">Navigate to</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a href="views/student/profile.html">Basic Information</a><a href="views/student/profile-contact.html">Contact</a><a href="views/student/profile-family.html">Family</a><a class="active">Information Releases</a><a href="views/student/profile-education.html">Education</a><a href="views/student/profile-gocard.html">Go-Card</a><a href="views/student/profile-housing.html">Housing</a><a href="views/student/profile-interests.html">Interests / Activities</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body undefined">
                <div class="page-section">
                  <div class="card-group">
                    <div class="card">
                      <div class="card-title">
                        <h2 class="title slds-m-bottom--large">Information Release Forms</h2>
                      </div>
                      <div class="collapse-block card-content box">
                        <input type="checkbox" id="ferpa-release-of-information"/>
                        <label class="heading" for="ferpa-release-of-information">
                          <div class="title slds-text-heading--small ">FERPA Release of Information</div>
                          <div class="controls">
                            <div class="btn-collapse"><span class="icon">
                                <svg aria-hidden="true" title="Expand / Collapse">
                                  <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></span>
                            </div>
                          </div>
                        </label>
                        <div class="collapse-content">
                          <div class="slds-p-horizontal--x-large slds-p-bottom--small">
                            <h3>Permission to Disclose Education Records</h3>
                            <p>It is the policy of Georgetown University, in accordance with the Family Education Rights and Privacy Act (FERPA), to withhold disclosure of personally identifiable information from education records unless the student has consented to disclosure or FERPA allows disclosure. By signing this form, you give consent to disclose your educational records to your parent(s), legal guardian(s), tuition provider(s) or other designated person(s). The purpose of the consent is to allow Georgetown University and its representatives to release education record(s) or information contained in your education records. Such information includes course schedules, reports of concern, grades, disciplinary records, financial aid and student account information. To your parent(s) or other person(s) that you may designate, even when you are no longer listed as a dependent on your parent’s income tax return, or you have graduated and left the College, unless you revoke this permission by notifying the Registrar’s Office in writing of your intent to do so.</p><br/>
                            <p>PLEASE READ: In accordance with the Family Educational Rights and Privacy Act of 1974 (FERPA), the undersigned student hereby permits Georgetown University and its representatives to disclose their information retained in educational records  to the following individual(s) or agency(ies):</p>
                            <div class="slds-grid slds-wrap slds-m-top--large slds-m-bottom--large">
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--4-of-12 slds-m-bottom--small">
                                <div class="dropdown has-caret dropdown-default">
                                  <input type="checkbox" name="all-records-dropdown" id="all-records-dropdown"/>
                                  <label for="all-records-dropdown">
                                    <div class="title">None</div><span class="icon">
                                      <svg aria-hidden="true" title="">
                                        <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                      </svg></span>
                                  </label>
                                  <div class="dropdown-items"><a href="#">None</a><a href="#">None</a><a href="#">None</a>
                                  </div>
                                </div>
                              </div>
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--8-of-12 slds-m-bottom--small">
                                <p>All Records and information</p>
                              </div>
                            </div>
                            <div class="slds-grid slds-wrap slds-m-top--large slds-m-bottom--small">
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--4-of-12 slds-m-bottom--small">
                                <div class="dropdown has-caret dropdown-default">
                                  <input type="checkbox" name="grades-dropdown" id="grades-dropdown"/>
                                  <label for="grades-dropdown">
                                    <div class="title">None</div><span class="icon">
                                      <svg aria-hidden="true" title="">
                                        <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                      </svg></span>
                                  </label>
                                  <div class="dropdown-items"><a href="#">None</a><a href="#">None</a><a href="#">None</a>
                                  </div>
                                </div>
                              </div>
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--8-of-12 slds-m-bottom--small">
                                <p>Grades and academic standing (i.e. transcripts)</p>
                              </div>
                            </div>
                            <div class="slds-grid slds-wrap slds-m-top--large slds-m-bottom--small">
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--4-of-12 slds-m-bottom--small">
                                <div class="dropdown has-caret dropdown-default">
                                  <input type="checkbox" name="academic-dropdown" id="academic-dropdown"/>
                                  <label for="academic-dropdown">
                                    <div class="title">None</div><span class="icon">
                                      <svg aria-hidden="true" title="">
                                        <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                      </svg></span>
                                  </label>
                                  <div class="dropdown-items"><a href="#">None</a><a href="#">None</a><a href="#">None</a>
                                  </div>
                                </div>
                              </div>
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--8-of-12 slds-m-bottom--small">
                                <p>Academic Information(i.e. attendance, enrollment)</p>
                              </div>
                            </div>
                            <div class="slds-grid slds-wrap slds-m-top--large slds-m-bottom--small">
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--4-of-12 slds-m-bottom--small">
                                <div class="dropdown has-caret dropdown-default">
                                  <input type="checkbox" name="dicipline-dropdown" id="dicipline-dropdown"/>
                                  <label for="dicipline-dropdown">
                                    <div class="title">None</div><span class="icon">
                                      <svg aria-hidden="true" title="">
                                        <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                      </svg></span>
                                  </label>
                                  <div class="dropdown-items"><a href="#">None</a><a href="#">None</a><a href="#">None</a>
                                  </div>
                                </div>
                              </div>
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--8-of-12 slds-m-bottom--small">
                                <p>Discipline records</p>
                              </div>
                            </div>
                            <div class="slds-grid slds-wrap slds-m-top--large slds-m-bottom--small">
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--4-of-12 slds-m-bottom--small">
                                <div class="dropdown has-caret dropdown-default">
                                  <input type="checkbox" name="tution-records-dropdown" id="tution-records-dropdown"/>
                                  <label for="tution-records-dropdown">
                                    <div class="title">None</div><span class="icon">
                                      <svg aria-hidden="true" title="">
                                        <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                      </svg></span>
                                  </label>
                                  <div class="dropdown-items"><a href="#">None</a><a href="#">None</a><a href="#">None</a>
                                  </div>
                                </div>
                              </div>
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--8-of-12 slds-m-bottom--small">
                                <p>Tuition and fee status</p>
                              </div>
                            </div>
                            <div class="slds-grid slds-wrap slds-m-top--large slds-m-bottom--small">
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--4-of-12 slds-m-bottom--small">
                                <div class="dropdown has-caret dropdown-default">
                                  <input type="checkbox" name="other-dropdown" id="other-dropdown"/>
                                  <label for="other-dropdown">
                                    <div class="title">None</div><span class="icon">
                                      <svg aria-hidden="true" title="">
                                        <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                      </svg></span>
                                  </label>
                                  <div class="dropdown-items"><a href="#">None</a><a href="#">None</a><a href="#">None</a>
                                  </div>
                                </div>
                              </div>
                              <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--8-of-12 slds-m-bottom--small">
                                <p>Other, please specify:</p>
                              </div>
                            </div>
                            <p>Molestiae animi, culpa ipsum aliquid libero repellat inventore iure suscipit, quasi, praesentium placeat quidem pariatur non tenetur consequatur officiis ratione.</p>
                            <div class="slds-m-top--large">
                              <div class="slds-m-bottom--small">
                                <div class="slds-form-element gu-checkbox">
                                  <div class="slds-form-element__control gu-checkbox "><span class="slds-checkbox">
                                      <input id="privacy-policy" type="checkbox" name="privacy-policy-check"/>
                                      <label class="slds-checkbox__label" for="privacy-policy"><span class="slds-checkbox--faux"></span><span class="slds-form-element__label"><span>I have read and understand the contents of this consent form pertaining to the Family Educational Rights and Privacy Act of 1974.</span></span></label></span></div>
                                </div>
                              </div>
                              <div class="slds-m-bottom--small">
                                <div class="slds-form-element gu-checkbox">
                                  <div class="slds-form-element__control gu-checkbox "><span class="slds-checkbox">
                                      <input id="signed" type="checkbox" name="signed-check" checked="checked"/>
                                      <label class="slds-checkbox__label" for="signed"><span class="slds-checkbox--faux"></span><span class="slds-form-element__label"><span>My selections here override those in my signed release</span></span></label></span></div>
                                </div>
                              </div>
                              <div class="slds-m-bottom--small">
                                <div class="slds-form-element gu-checkbox">
                                  <div class="slds-form-element__control gu-checkbox "><span class="slds-checkbox">
                                      <input id="check-01" type="checkbox" name="check-01"/>
                                      <label class="slds-checkbox__label" for="check-01"><span class="slds-checkbox--faux"></span><span class="slds-form-element__label"><span>Checking this box…</span></span></label></span></div>
                                </div>
                              </div>
                            </div>
                            <div class="slds-m-top--large slds-text-align--right">
                              <button class="slds-button btn-pill">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="collapse-block card-content box">
                        <input type="checkbox" id="student-directory-release-of-information"/>
                        <label class="heading" for="student-directory-release-of-information">
                          <div class="title slds-text-heading--small ">Student Directory Release of Information</div>
                          <div class="controls">
                            <div class="btn-collapse"><span class="icon">
                                <svg aria-hidden="true" title="Expand / Collapse">
                                  <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></span>
                            </div>
                          </div>
                        </label>
                        <div class="collapse-content">
                        </div>
                      </div>
                      <div class="collapse-block card-content box">
                        <input type="checkbox" id="student-directory-release-of-information"/>
                        <label class="heading" for="student-directory-release-of-information">
                          <div class="title slds-text-heading--small ">Sample</div>
                          <div class="controls">
                            <div class="btn-collapse"><span class="icon">
                                <svg aria-hidden="true" title="Expand / Collapse">
                                  <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></span>
                            </div>
                          </div>
                        </label>
                        <div class="collapse-content">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gu-modal slds-modal gu-account-status" role="dialog" tabindex="-1" aria-labelledby="gu-account-status">
      <div class="slds-modal__container">
        <div class="slds-modal__header">
          <button class="slds-button slds-modal__close slds-button--icon-inverse btn-close-modal" title="Close">
            <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
              <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg><span class="slds-assistive-text">Close</span>
          </button>
          <h2 class="slds-text-heading--medium" id="gu-account-status">Hold on account</h2>
        </div>
        <div class="slds-modal__content slds-p-around--large">
          <p class="txt-intro slds-p-bottom--none slds-m-bottom--xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Repellendus aspernatur doloremque pariatur et porro quo quisquam temporibus praesentium harum minima.</p>
          <p class="slds-m-bottom--small">If you have any questions please contact the office of student admission at <a href="tel:(518) 222-7631">(518) 222-7631</a> or <a href="mailto:email@email.edu">email@email.edu</a></p>
          <div class="card box slds-p-around--large">
            <h5>Name or title for hold status</h5>
            <div class="txt-date slds-m-right--small"><strong></strong> 03/19/2017</div>
            <div class="description slds-m-top--x-small">Dolorum natus optio hold reason, repudiandae ducimus iure! Labore magnam dolores nam ab, odit, eos a corporis deleniti.</div>
          </div>
          <hr/>
          <div class="slds-modal__footer">
            <button class="btn-bs slds-button slds-button--brand btn-close-modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-backdrop"></div>
    <script>
      $('.btn-account-status').click(function () {
        $("[aria-labelledby='gu-account-status']").addClass('slds-fade-in-open');
        $("[aria-labelledby='gu-account-status'] + .slds-backdrop").addClass('slds-backdrop--open');
      });
    </script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/student/profile-releases.pug
extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/student-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-wrapper("pg-dashboard","")
    +page-header("Profile", "has-controls", "../img/navs/student/profile.svg")
      +page-header-controls(true, "Navigate to")
        a(href="views/student/profile.html") Basic Information
        a(href="views/student/profile-contact.html") Contact
        a(href="views/student/profile-family.html") Family
        a.active Information Releases
        a(href="views/student/profile-education.html") Education
        a(href="views/student/profile-gocard.html") Go-Card
        a(href="views/student/profile-housing.html") Housing
        a(href="views/student/profile-interests.html") Interests / Activities

    +page-content-wrapper()
        .page-section
          .card-group
            .card
              .card-title
                h2(class="title slds-m-bottom--large") Information Release Forms

              +collapse-block("div", "card-content box", "FERPA Release of Information", "", "ferpa-release-of-information")
                .slds-p-horizontal--x-large.slds-p-bottom--small
                  h3 Permission to Disclose Education Records
                  p
                    | It is the policy of Georgetown University, in accordance with the Family Education Rights and Privacy Act (FERPA), to withhold disclosure of personally identifiable information from education records unless the student has consented to disclosure or FERPA allows disclosure. By signing this form, you give consent to disclose your educational records to your parent(s), legal guardian(s), tuition provider(s) or other designated person(s). The purpose of the consent is to allow Georgetown University and its representatives to release education record(s) or information contained in your education records. Such information includes course schedules, reports of concern, grades, disciplinary records, financial aid and student account information. To your parent(s) or other person(s) that you may designate, even when you are no longer listed as a dependent on your parent’s income tax return, or you have graduated and left the College, unless you revoke this permission by notifying the Registrar’s Office in writing of your intent to do so.
                  br
                  p
                    | PLEASE READ: In accordance with the Family Educational Rights and Privacy Act of 1974 (FERPA), the undersigned student hereby permits Georgetown University and its representatives to disclose their information retained in educational records  to the following individual(s) or agency(ies):

                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--large
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("all-records-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p All Records and information
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("grades-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Grades and academic standing (i.e. transcripts)
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("academic-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Academic Information(i.e. attendance, enrollment)
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("dicipline-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Discipline records
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("tution-records-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Tuition and fee status
                  .slds-grid.slds-wrap.slds-m-top--large.slds-m-bottom--small
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12.slds-m-bottom--small
                      +dropdown("other-dropdown", "dropdown-default", "None", true)
                        a(href="#") None
                        a(href="#") None
                        a(href="#") None
                    .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12.slds-m-bottom--small
                      p Other, please specify:

                  p Molestiae animi, culpa ipsum aliquid libero repellat inventore iure suscipit, quasi, praesentium placeat quidem pariatur non tenetur consequatur officiis ratione.

                  .slds-m-top--large
                    .slds-m-bottom--small
                     +custom-checkbox("", "privacy-policy", "privacy-policy-check", "I have read and understand the contents of this consent form pertaining to the Family Educational Rights and Privacy Act of 1974.")
                    .slds-m-bottom--small
                      +custom-checkbox("", "signed", "signed-check", "My selections here override those in my signed release")(checked="checked")
                    .slds-m-bottom--small
                      +custom-checkbox("", "check-01", "check-01", "Checking this box…")

                  .slds-m-top--large.slds-text-align--right
                    button.slds-button.btn-pill Save


              +collapse-block("div", "card-content box", "Student Directory Release of Information", "", "student-directory-release-of-information")

              +collapse-block("div", "card-content box", "Sample", "", "student-directory-release-of-information")




block left-sidebar
  include partials/student-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
