src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/student/upload.pug
extends ../../layout/default-unauthenticated.pug

block base_url
  base(href="../../")

block title
  title Dashboard / Student - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/dashboard.css")
  link(rel="stylesheet", href="./css/messaging.css")
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/quick-links.css")
  link(rel="stylesheet", href="./bower_components/fullcalendar/dist/fullcalendar.min.css")
  link(rel="stylesheet", href="./css/calendar.css")
  link(rel="stylesheet", href="./css/theme-student.css")

block content
  +page-content-wrapper()
    .page-content.blank
      .max-container
        .page-section
          .card-group.card-narrow
            .card
              .card-title
                h1 Welcome to Georgetown University!
                p.txt-intro Please take a moment to fill out the information below so we can route your document appropriately.
              .card-content.slds-p-around--large
                .slds-grid.slds-wrap.slds-grid--pull-padded
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +input-text("gu-form-group", "upload-modal_last-name", "Last Name")(type="text", class="slds-input", placeholder="", value="")
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +input-text("gu-form-group", "upload-modal_first-name", "First Name")(type="text", class="slds-input", placeholder="", value="")
                .slds-grid.slds-wrap.slds-grid--pull-padded
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +input-date-mm-dd-yyyy("", "Date of birth", "dob-month", "", "MM", "", "dob-date", "", "DD", "", "dob-year", "", "YYYY", "")
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +input-text("gu-form-group", "upload-modal_department", "Application ID Number")(type="text", class="slds-input", placeholder="", value="")
                hr
                .slds-grid.slds-wrap.slds-grid--pull-padded
                  .slds-p-horizontal--small.slds-size--1-of-2
                    +select("gu-form-group", "upload-modal_document-type", "Select document type")(class="slds-select")
                      option() Applicant Official Transcript
                      option() Applicant Unofficial Transcript
                      option() Applicant Resume
                      option() Applicant Writing Sample
                      option() Unofficial AP score
                      option() Unofficial GMAT
                      option() Unofficial GRE
                      option() Unofficial TOFEL
                      option() Unofficial IELTS
                      option() Supplemental Application Form
                      option() Unofficial Pre-requisite Course Plan
                      option() External Course Syllabi
                .slds-grid.slds-wrap.slds-grid--pull-padded
                  .slds-p-horizontal--small.slds-size--2-of-2
                    +textarea("gu-form-group", "upload-modal_notes", "", "Notes (optional)")(class="slds-textarea")
                  .slds-p-horizontal--small.slds-size--2-of-2
                    +slds-file-upload("upload-document","","upload-document-file",".word, .docx, .pdf, .doc", "Choose a file to upload", "Or drop one here", "")
              .card-footer.slds-p-horizontal--large.slds-p-vertical--small.slds-clearfix
                .slds-float--right
                  button.btn-bs.slds-button.slds-button--neutral Cancel
                  button.btn-bs.slds-button.slds-button--brand Continue

block scripts
  script(src='bower_components/moment/min/moment.min.js')
  script(src='bower_components/fullcalendar/dist/fullcalendar.min.js')

  script.
    $(document).ready(function() {
      $("[aria-labelledby='upload-modal']").addClass('slds-fade-in-open');
      $("[aria-labelledby='upload-modal'] + .slds-backdrop").addClass('slds-backdrop--open');
    });

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/student/upload.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Dashboard / Student - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/dashboard.css"/>
    <link rel="stylesheet" href="./css/messaging.css"/>
    <link rel="stylesheet" href="./css/table.css"/>
    <link rel="stylesheet" href="./css/edit-block.css"/>
    <link rel="stylesheet" href="./css/quick-links.css"/>
    <link rel="stylesheet" href="./bower_components/fullcalendar/dist/fullcalendar.min.css"/>
    <link rel="stylesheet" href="./css/calendar.css"/>
    <link rel="stylesheet" href="./css/theme-student.css"/>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
      
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav">
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <div class="content">
        <header class="gu-header">
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-body undefined">
            <div class="page-content blank">
              <div class="max-container">
                <div class="page-section">
                  <div class="card-group card-narrow">
                    <div class="card">
                      <div class="card-title">
                        <h1>Welcome to Georgetown University!</h1>
                        <p class="txt-intro">Please take a moment to fill out the information below so we can route your document appropriately.</p>
                      </div>
                      <div class="card-content slds-p-around--large">
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                          <div class="slds-p-horizontal--small slds-size--1-of-2">
                            <div class="slds-form-element gu-form-group">
                              <label class="slds-form-element__label field-label" for="Last Name" data-balloon-pos="up"><span class="slds-assistive-text"></span>
                                <div class="help-block"><span class="icon">
                                    <svg aria-hidden="true" title="Help">
                                      <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg></span>
                                </div>
                              </label>
                              <div class="slds-form-element__control upload-modal_last-name">
                                <input class="slds-input slds-input" id="Last Name" type="text" placeholder="" value=""/>
                              </div>
                            </div>
                          </div>
                          <div class="slds-p-horizontal--small slds-size--1-of-2">
                            <div class="slds-form-element gu-form-group">
                              <label class="slds-form-element__label field-label" for="First Name" data-balloon-pos="up"><span class="slds-assistive-text"></span>
                                <div class="help-block"><span class="icon">
                                    <svg aria-hidden="true" title="Help">
                                      <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg></span>
                                </div>
                              </label>
                              <div class="slds-form-element__control upload-modal_first-name">
                                <input class="slds-input slds-input" id="First Name" type="text" placeholder="" value=""/>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                          <div class="slds-p-horizontal--small slds-size--1-of-2">
                            <label class="slds-form-element__label" for="dob-month">Date of birth</label>
                            <div class="date-group--month-year ">
                              <div class="slds-form-element month">
                                <label class="slds-form-element__label" for="dob-month"><span class="slds-assistive-text"></span></label>
                                <div class="slds-form-element__control">
                                  <div class="slds-select_container">
                                    <select class="slds-select" id="dob-month">
                                      <option selected="selected"></option>
                                      <option value="dob-month_january">January</option>
                                      <option value="dob-month_february">February</option>
                                      <option value="dob-month_march">March</option>
                                      <option value="dob-month_april">April</option>
                                      <option value="dob-month_may">May</option>
                                      <option value="dob-month_june">June</option>
                                      <option value="dob-month_july">July</option>
                                      <option value="dob-month_august">August</option>
                                      <option value="dob-month_september">September</option>
                                      <option value="dob-month_october">October</option>
                                      <option value="dob-month_november">November</option>
                                      <option value="dob-month_december">December</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="slds-form-element date">
                                <label class="slds-form-element__label" for="dob-date"><span class="slds-assistive-text"></span></label>
                                <div class="slds-form-element__control">
                                  <div class="slds-select_container">
                                    <select class="slds-select" id="dob-date">
                                      <option selected="selected"></option>
                                      <option value="dob-date_01">1</option>
                                      <option value="dob-date_02">2</option>
                                      <option value="dob-date_03">3</option>
                                      <option value="dob-date_04">4</option>
                                      <option value="dob-date_05">5</option>
                                      <option value="dob-date_06">6</option>
                                      <option value="dob-date_07">7</option>
                                      <option value="dob-date_08">8</option>
                                      <option value="dob-date_09">9</option>
                                      <option value="dob-date_10">10</option>
                                      <option value="dob-date_11">11</option>
                                      <option value="dob-date_12">12</option>
                                      <option value="dob-date_13">13</option>
                                      <option value="dob-date_14">14</option>
                                      <option value="dob-date_15">15</option>
                                      <option value="dob-date_16">16</option>
                                      <option value="dob-date_17">17</option>
                                      <option value="dob-date_18">18</option>
                                      <option value="dob-date_19">19</option>
                                      <option value="dob-date_20">20</option>
                                      <option value="dob-date_21">21</option>
                                      <option value="dob-date_22">22</option>
                                      <option value="dob-date_23">23</option>
                                      <option value="dob-date_24">24</option>
                                      <option value="dob-date_25">25</option>
                                      <option value="dob-date_26">26</option>
                                      <option value="dob-date_27">27</option>
                                      <option value="dob-date_28">28</option>
                                      <option value="dob-date_29">29</option>
                                      <option value="dob-date_30">30</option>
                                      <option value="dob-date_31">31</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="slds-form-element year">
                                <label class="slds-form-element__label" for="dob-year"><span class="slds-assistive-text"></span></label>
                                <div class="slds-form-element__control">
                                  <input class="slds-input" id="dob-year" type="text" maxlength="4" minlength="4" placeholder="YYYY" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="slds-p-horizontal--small slds-size--1-of-2">
                            <div class="slds-form-element gu-form-group">
                              <label class="slds-form-element__label field-label" for="Application ID Number" data-balloon-pos="up"><span class="slds-assistive-text"></span>
                                <div class="help-block"><span class="icon">
                                    <svg aria-hidden="true" title="Help">
                                      <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg></span>
                                </div>
                              </label>
                              <div class="slds-form-element__control upload-modal_department">
                                <input class="slds-input slds-input" id="Application ID Number" type="text" placeholder="" value=""/>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr/>
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                          <div class="slds-p-horizontal--small slds-size--1-of-2">
                            <div class="gu-form-group">
                              <label class="slds-form-element__label" for="upload-modal_document-type">Select document type</label>
                              <div class="slds-form-element__control">
                                <div class="slds-select_container">
                                  <select class="slds-select" id="upload-modal_document-type">
                                    <option>Applicant Official Transcript</option>
                                    <option>Applicant Unofficial Transcript</option>
                                    <option>Applicant Resume</option>
                                    <option>Applicant Writing Sample</option>
                                    <option>Unofficial AP score</option>
                                    <option>Unofficial GMAT</option>
                                    <option>Unofficial GRE</option>
                                    <option>Unofficial TOFEL</option>
                                    <option>Unofficial IELTS</option>
                                    <option>Supplemental Application Form</option>
                                    <option>Unofficial Pre-requisite Course Plan</option>
                                    <option>External Course Syllabi</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                          <div class="slds-p-horizontal--small slds-size--2-of-2">
                            <div class="slds-form-element gu-form-group">
                              <label class="slds-form-element__label" for="upload-modal_notes">Notes (optional)</label>
                              <div class="slds-form-element__control">
                                <textarea class="slds-textarea" id="upload-modal_notes"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="slds-p-horizontal--small slds-size--2-of-2">
                            <div class="slds-form-element"><span class="slds-form-element__label" id="upload-document"></span>
                              <div class="slds-form-element__control">
                                <div class="slds-file-selector slds-file-selector--files">
                                  <div class="slds-file-selector__dropzone" style="height:;">
                                    <input class="slds-file-selector__input slds-assistive-text" type="file" accept=".word, .docx, .pdf, .doc" aria-describedby="upload-document" id="upload-document-file"/>
                                    <label class="slds-file-selector__body" for="upload-document-file"><span class="slds-file-selector__button slds-button slds-button--neutral">
                                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                                          <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
                                        </svg><span>Choose a file to upload</span></span><span class="slds-file-selector__text slds-medium-show">Or drop one here</span></label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer slds-p-horizontal--large slds-p-vertical--small slds-clearfix">
                        <div class="slds-float--right">
                          <button class="btn-bs slds-button slds-button--neutral">Cancel</button>
                          <button class="btn-bs slds-button slds-button--brand">Continue</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script>
      $(document).ready(function() {
        $("[aria-labelledby='upload-modal']").addClass('slds-fade-in-open');
        $("[aria-labelledby='upload-modal'] + .slds-backdrop").addClass('slds-backdrop--open');
      });
    </script>
  </body>
</html>
