src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/community-landing.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/cropped-favicon-192x192.png"/>
    <title>Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/temp.css"/>
    <link rel="stylesheet" href="./css/landing.css"/>
  </head>
  <body class="landing">
    <div class="page pg-login links">
      <div class="wrapper slds-align--absolute-center"><img class="gu-logo" src="img/logo_Georgetown360_sm-white.svg" alt="Georgetown 360"/>
        <h1>Communities:</h1>
        <div class="card-group"><a class="card-block">
            <div class="title">Faculty</div></a><a class="card-block">
            <div class="title">Student</div></a><a class="card-block">
            <div class="title">Advancement</div></a><a class="card-block">
            <div class="title">Test</div></a></div>
      </div>
    </div>
    <script></script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/landing/community-landing.pug
extends ../../layout/landing.pug

block title
  title Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/landing.css")

block variables
  - var faculty_wireframes = "http://ycnpgp.axshare.com/profile_-_general_info_-_internal.html"
  - var faculty_mockup = "https://invis.io/SBA74DPGH#/201774867_Profile"
  - var faculty_prototype = "http://appiriodemos.com/archive/Georgetown/views/faculty/dashboard.html"
  - var faculty_sandbox = "https://360dev-gu360-dev.cs4.force.com/faculty/s/dashboard"

  - var student_wireframes = "http://ycnpgp.axshare.com/#g=1&p=login"
  - var student_mockup = "https://invis.io/SBA74DPGH#/218833570_Dashboard-Student"
  - var student_prototype = "http://appiriodemos.com/archive/Georgetown/views/student/dashboard.html"
  - var student_sandbox = "https://360dev-gu360-dev.cs4.force.com/students/s/"

  - var advancement_wireframes = "http://ycnpgp.axshare.com/#g=1&p=login_2"
  - var advancement_mockup = "#"
  - var advancement_prototype = "http://appiriodemos.com/archive/Georgetown/views/alumni/giving.html"
  - var advancement_sandbox = "https://360dev-gu360-dev.cs4.force.com/advancement/s/my-giving"

block content
  .page.pg-login.links
    .wrapper.slds-align--absolute-center
      img.gu-logo(src="img/logo_Georgetown360_sm-white.svg", alt="Georgetown 360")

      h1 Communities:

      .card-group
        a.card-block
          .title Faculty

        a.card-block
          .title Student

        a.card-block
          .title Advancement

        a.card-block
          .title Test

block scripts
  script.
