src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/index.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/cropped-favicon-192x192.png"/>
    <title>Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/landing.css"/>
  </head>
  <body class="landing">
    <div class="page pg-login">
      <div class="wrapper slds-align--absolute-center"><img class="gu-logo" src="img/logo_Georgetown360_sm-white.svg" alt="Georgetown 360"/>
        <form class="login-form">
          <div class="gu-form-group">
            <div class="slds-form-element ">
              <label class="slds-form-element__label field-label" for="" data-balloon-pos="up"><span class="slds-assistive-text"></span>
                <div class="help-block"><span class="icon">
                    <svg aria-hidden="true" title="Help">
                      <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg></span>
                </div>
              </label>
              <div class="slds-form-element__control login_user">
                <input class="slds-input slds-input" id="" type="text" placeholder="NETID" value=""/>
              </div>
            </div>
          </div>
          <div class="gu-form-group">
            <div class="slds-form-element ">
              <label class="slds-form-element__label field-label" for="" data-balloon-pos="up"><span class="slds-assistive-text"></span>
                <div class="help-block"><span class="icon">
                    <svg aria-hidden="true" title="Help">
                      <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg></span>
                </div>
              </label>
              <div class="slds-form-element__control login_password">
                <input class="slds-input slds-input" id="" type="password" placeholder="Password" value=""/>
              </div>
            </div>
            <div class="remember-me slds-m-top--small">
              <div class="gu-checkbox ">
                <div class="uiInput uiInputCheckbox">
                  <label class="slds-checkbox__label form-element__label" for="login_remember">Remember Me</label>
                  <input id="login_remember" type="checkbox" name="login_remember"/>
                </div>
              </div>
            </div>
          </div>
          <div class="controls"><a class="btn-bs slds-button" href="#">Cancel</a><a class="btn-bs slds-button" href="views/faculty/dashboard.html">Login</a></div>
          <div class="helper"><a href="#">Forgot NETID or Password?</a></div>
        </form>
      </div>
    </div>
    <footer>
      <nav class="slds-list--horizontal slds-has-dividers--left"><a class="slds-item" href="links.html">Links</a><a class="slds-item" href="views/faculty/dashboard.html">Faculty</a><a class="slds-item" href="views/student/dashboard.html">Student</a><a class="slds-item" href="views/alumni/dashboard.html">Alumni</a></nav>
    </footer>
    <script></script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/landing/index.pug
extends ../../layout/landing.pug

block title
  title Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/landing.css")

block content
  .page.pg-login
    .wrapper.slds-align--absolute-center
      img.gu-logo(src="img/logo_Georgetown360_sm-white.svg", alt="Georgetown 360")
      form.login-form
        .gu-form-group
          +input-text("","login_user","")(type="text", class="slds-input", placeholder="NETID", value="")
        .gu-form-group
          +input-text("","login_password","")(type="password", class="slds-input", placeholder="Password", value="")
          .remember-me.slds-m-top--small
            +checkbox("", "login_remember", "login_remember", "", "Remember Me")
        .controls
          a.btn-bs.slds-button(href="#") Cancel
          a.btn-bs.slds-button(href="views/faculty/dashboard.html") Login
        .helper
          a(href="#") Forgot NETID or Password?
  footer
    nav.slds-list--horizontal.slds-has-dividers--left
      a.slds-item(href="links.html") Links
      a.slds-item(href="views/faculty/dashboard.html") Faculty
      a.slds-item(href="views/student/dashboard.html") Student
      a.slds-item(href="views/alumni/dashboard.html") Alumni

block scripts
  script.
