src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/documentation/buttons.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Buttons / Documentation</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/temp.css"/>
    <link rel="stylesheet" href="./css/theme-documentation.css"/>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
      
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body class="index">
    <div class="mobile-nav"><a class="icon-link lg active" href="views/documentation/index.html"><img src="img/navs/documentation/theme.svg" alt="Default Theme"/><span class="name">Default Theme</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/notes.svg" alt="Notes"/><span class="name">Notes</span></a><a class="icon-link lg active" href="views/documentation/buttons.html"><img src="img/navs/documentation/buttons.svg" alt="Buttons"/><span class="name">Buttons</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/colors.svg" alt="Colors"/><span class="name">Colors</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/expandable-content.svg" alt="Expandable Content"/><span class="name">Expandable Content</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/forms.svg" alt="Forms"/><span class="name">Forms</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/scaffolding.svg" alt="Scaffolding"/><span class="name">Scaffolding</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/typography.svg" alt="Typography"/><span class="name">Typography</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <div class="content">
        <div class="flex sm content-wrapper">
          <div class="page-content styleguide">
            <div class="page-header">
              <h1>Buttons</h1>
              <div class="description">Adding a class of <code>.btn-bs</code> will add our styles to the existing Lightning Design System buttons.</div>
            </div>
            <section>
              <h4 class="slds-text-heading--small slds-m-bottom--small">Brand Colors</h4>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small">
                  <button class="slds-button btn-reset">Reset</button>
                </div><code class="class">.slds-button.btn-reset</code>
              </div>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small">
                  <button class="slds-button slds-button--neutral btn-bs">Neutral</button>
                </div><code class="class">.slds-button.slds-button--neutral.btn-bs</code>
              </div>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small">
                  <button class="slds-button slds-button--neutral btn-bs" disabled="">Neutral: Disabled</button>
                </div><code class="attr">disabled</code>
              </div>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small">
                  <button class="slds-button slds-button--brand btn-bs">Brand</button>
                </div><code class="class">.slds-button.slds-button--brand.btn-bs</code>
              </div>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small">
                  <button class="slds-button slds-button--brand btn-bs" disabled="">Disabled</button>
                </div><code class="attr">disabled</code>
              </div>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small">
                  <button class="slds-button slds-button--destructive btn-bs">Destructive</button>
                </div><code class="class">.slds-button.slds-button--destructive.btn-bs</code>
              </div>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small" style="background:#555;padding:10px;">
                  <button class="slds-button slds-button--inverse btn-bs">Inverse</button>
                </div><code class="class">.slds-button.slds-button--inverse</code>
              </div>
              <hr/>
              <h4 class="slds-text-heading--small slds-m-bottom--small">Icons / Add-ons</h4>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small">
                  <button class="slds-button slds-button--neutral">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                      <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#download"></use>
                    </svg>Neutral: Left Icon
                  </button>
                </div>
              </div>
              <div class="slds-m-bottom--x-large">
                <div class="slds-m-bottom--x-small">
                  <button class="slds-button slds-button--neutral">Neutral: Right Icon
                    <svg class="slds-button__icon slds-button__icon--right" aria-hidden="true">
                      <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#download"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <hr/>
              <h4 class="slds-text-heading--small slds-m-bottom--small">Groups</h4>
              <div class="slds-m-bottom--x-large">
                <div class="slds-button-group" role="group">
                  <button class="slds-button slds-button--neutral">Refresh</button>
                  <button class="slds-button slds-button--neutral">Edit</button>
                  <button class="slds-button slds-button--neutral">Save</button>
                </div>
              </div>
              <div class="slds-m-bottom--x-large">
                <div class="slds-button-group" role="group">
                  <button class="slds-button slds-button--icon-border" title="Charts">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
                    </svg><span class="slds-assistive-text">Charts</span>
                  </button>
                  <button class="slds-button slds-button--icon-border" title="Filter List">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
                    </svg><span class="slds-assistive-text">Filter List</span>
                  </button>
                  <button class="slds-button slds-button--icon-more" aria-haspopup="true" title="More Actions">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
                    </svg>
                    <svg class="slds-button__icon slds-button__icon--x-small" aria-hidden="true">
                      <use xlink:href="bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg><span class="slds-assistive-text">Settings</span>
                  </button>
                </div>
              </div>
              <div class="slds-grid slds-wrap slds-grid--pull-padded">
                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-3">
                  <div class="dropdown Dropdown Sample">
                    <input type="checkbox" name="dropdownsample01" id="dropdownsample01"/>
                    <label for="dropdownsample01">
                      <div class="title"></div>
                    </label>
                    <div class="dropdown-items"><a href="#">Dropdown item 01</a><a href="#">Dropdown item 02</a><a href="#">Dropdown item 03</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html">
            <div class="company">Georgetown University</div>
            <div class="title">GU360</div>
            <div class="subtitle">Theme Documentation</div></a></div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg active" href="views/documentation/index.html"><img src="img/navs/documentation/theme.svg" alt="Default Theme"/><span class="name">Default Theme</span></a>
          <hr/><a class="icon-link lg" href="views/documentation/index.html"><img src="img/navs/documentation/notes.svg" alt="Notes"/><span class="name">Notes</span></a><a class="icon-link lg active" href="views/documentation/buttons.html"><img src="img/navs/documentation/buttons.svg" alt="Buttons"/><span class="name">Buttons</span></a><a class="icon-link lg" href="views/documentation/colors.html"><img src="img/navs/documentation/colors.svg" alt="Colors"/><span class="name">Colors</span></a><a class="icon-link lg" href="views/documentation/expandable-content.html"><img src="img/navs/documentation/expandable-content.svg" alt="Expandable Content"/><span class="name">Expandable Content</span></a><a class="icon-link lg" href="views/documentation/forms.html"><img src="img/navs/documentation/forms.svg" alt="Forms"/><span class="name">Forms</span></a><a class="icon-link lg" href="views/documentation/scaffolding.html"><img src="img/navs/documentation/scaffolding.svg" alt="Scaffolding"/><span class="name">Scaffolding</span></a><a class="icon-link lg" href="views/documentation/typography.html"><img src="img/navs/documentation/typography.svg" alt="Typography"/><span class="name">Typography</span></a>
        </nav>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script></script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/documentation/buttons.pug
extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'buttons';

block title
  title Buttons / Documentation

block stylesheets
    link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Buttons
      .description Adding a class of #[code .btn-bs] will add our styles to the existing Lightning Design System buttons.

    section
      h4.slds-text-heading--small.slds-m-bottom--small Brand Colors

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.btn-reset Reset
        code.class .slds-button.btn-reset

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--neutral.btn-bs Neutral
        code.class .slds-button.slds-button--neutral.btn-bs

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--neutral.btn-bs(disabled='') Neutral: Disabled
        code.attr disabled

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--brand.btn-bs Brand
        code.class .slds-button.slds-button--brand.btn-bs

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--brand.btn-bs(disabled='') Disabled
        code.attr disabled

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--destructive.btn-bs Destructive
        code.class .slds-button.slds-button--destructive.btn-bs

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small(style="background:#555;padding:10px")
          button.slds-button.slds-button--inverse.btn-bs Inverse
        code.class .slds-button.slds-button--inverse

      hr

      h4.slds-text-heading--small.slds-m-bottom--small Icons / Add-ons

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--neutral
            svg.slds-button__icon.slds-button__icon--left(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#download')
            | Neutral: Left Icon

      .slds-m-bottom--x-large
        div.slds-m-bottom--x-small
          button.slds-button.slds-button--neutral
            | Neutral: Right Icon
            svg.slds-button__icon.slds-button__icon--right(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#download')

      hr

      h4.slds-text-heading--small.slds-m-bottom--small Groups

      .slds-m-bottom--x-large
        .slds-button-group(role='group')
          button.slds-button.slds-button--neutral Refresh
          button.slds-button.slds-button--neutral Edit
          button.slds-button.slds-button--neutral Save

      .slds-m-bottom--x-large
        .slds-button-group(role='group')
          button.slds-button.slds-button--icon-border(title='Charts')
            svg.slds-button__icon(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#chart')
            span.slds-assistive-text Charts
          button.slds-button.slds-button--icon-border(title='Filter List')
            svg.slds-button__icon(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#filterList')
            span.slds-assistive-text Filter List
          button.slds-button.slds-button--icon-more(aria-haspopup='true', title='More Actions')
            svg.slds-button__icon(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#settings')
            svg.slds-button__icon.slds-button__icon--x-small(aria-hidden='true')
              use(xlink:href='bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#down')
            span.slds-assistive-text Settings

      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-3
          +dropdown("dropdownsample01", "Dropdown Sample", "")
            a(href="#") Dropdown item 01
            a(href="#") Dropdown item 02
            a(href="#") Dropdown item 03


block left-sidebar
  include partials/documentation-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
