src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/documentation/colors.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Colors / Documentation</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/temp.css"/>
    <link rel="stylesheet" href="./css/theme-documentation.css"/>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
      
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body class="index">
    <div class="mobile-nav"><a class="icon-link lg active" href="views/documentation/index.html"><img src="img/navs/documentation/theme.svg" alt="Default Theme"/><span class="name">Default Theme</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/notes.svg" alt="Notes"/><span class="name">Notes</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/buttons.svg" alt="Buttons"/><span class="name">Buttons</span></a><a class="icon-link lg active" href="views/documentation/colors.html"><img src="img/navs/documentation/colors.svg" alt="Colors"/><span class="name">Colors</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/expandable-content.svg" alt="Expandable Content"/><span class="name">Expandable Content</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/forms.svg" alt="Forms"/><span class="name">Forms</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/scaffolding.svg" alt="Scaffolding"/><span class="name">Scaffolding</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/typography.svg" alt="Typography"/><span class="name">Typography</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <div class="content">
        <div class="flex sm content-wrapper">
          <div class="page-content styleguide">
            <div class="page-header">
              <h1>Color Palette</h1>
              <div class="description">Hic itaque, eius voluptatibus cupiditate quis, iure mollitia natus, corporis beatae quidem deleniti iste repellat architecto velit quo animi accusamus minima illum aperiam ad earum alias placeat voluptatem. Consequuntur sapiente doloribus autem, consequatur ratione eligendi. Voluptatibus pariatur doloremque nesciunt quibusdam.</div>
            </div>
            <section>
              <div class="slds-m-bottom--x-large">
                <div class="slds-text-heading--medium">Color Palette</div>
                <ul class="color-blocks">
                  <li class="blue-lt">
                    <div class="name">$blue-lt</div><code class="hex">#E5F2F9</code>
                  </li>
                  <li class="blue">
                    <div class="name">$blue</div><code class="hex">#007DBC</code>
                  </li>
                  <li class="blue-dk">
                    <div class="name">$blue-dk</div><code class="hex">#0E4876</code>
                  </li>
                  <li class="blue-dk2">
                    <div class="name">$blue-dk2</div><code class="hex">#012849</code>
                  </li>
                </ul>
                <ul class="color-blocks">
                  <li class="tan">
                    <div class="name">$tan</div><code class="hex">#E7E4E2</code>
                  </li>
                  <li class="red">
                    <div class="name">$red</div><code class="hex">#BC4339</code>
                  </li>
                </ul>
                <ul class="color-blocks">
                  <li class="gray-dk">
                    <div class="name">$gray-dk</div><code class="hex">#333</code>
                  </li>
                  <li class="gray-md">
                    <div class="name">$gray-md</div><code class="hex">#888</code>
                  </li>
                  <li class="gray">
                    <div class="name">$gray</div><code class="hex">#ddd</code>
                  </li>
                  <li class="gray-lt">
                    <div class="name">$gray-lt</div><code class="hex">#eee</code>
                  </li>
                </ul>
                <ul class="color-blocks">
                  <li class="danger">
                    <div class="name">$danger</div><code class="hex">#d9534f</code>
                  </li>
                  <li class="success">
                    <div class="name">$success</div><code class="hex">#93C461</code>
                  </li>
                  <li class="info">
                    <div class="name">$info</div><code class="hex">#5bc0de</code>
                  </li>
                  <li class="warning">
                    <div class="name">$warning</div><code class="hex">#f0ad4e</code>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html">
            <div class="company">Georgetown University</div>
            <div class="title">GU360</div>
            <div class="subtitle">Theme Documentation</div></a></div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg active" href="views/documentation/index.html"><img src="img/navs/documentation/theme.svg" alt="Default Theme"/><span class="name">Default Theme</span></a>
          <hr/><a class="icon-link lg" href="views/documentation/index.html"><img src="img/navs/documentation/notes.svg" alt="Notes"/><span class="name">Notes</span></a><a class="icon-link lg" href="views/documentation/buttons.html"><img src="img/navs/documentation/buttons.svg" alt="Buttons"/><span class="name">Buttons</span></a><a class="icon-link lg active" href="views/documentation/colors.html"><img src="img/navs/documentation/colors.svg" alt="Colors"/><span class="name">Colors</span></a><a class="icon-link lg" href="views/documentation/expandable-content.html"><img src="img/navs/documentation/expandable-content.svg" alt="Expandable Content"/><span class="name">Expandable Content</span></a><a class="icon-link lg" href="views/documentation/forms.html"><img src="img/navs/documentation/forms.svg" alt="Forms"/><span class="name">Forms</span></a><a class="icon-link lg" href="views/documentation/scaffolding.html"><img src="img/navs/documentation/scaffolding.svg" alt="Scaffolding"/><span class="name">Scaffolding</span></a><a class="icon-link lg" href="views/documentation/typography.html"><img src="img/navs/documentation/typography.svg" alt="Typography"/><span class="name">Typography</span></a>
        </nav>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script></script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/documentation/colors.pug
extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'colors';

block title
  title Colors / Documentation

block stylesheets
    link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Color Palette
      .description Hic itaque, eius voluptatibus cupiditate quis, iure mollitia natus, corporis beatae quidem deleniti iste repellat architecto velit quo animi accusamus minima illum aperiam ad earum alias placeat voluptatem. Consequuntur sapiente doloribus autem, consequatur ratione eligendi. Voluptatibus pariatur doloremque nesciunt quibusdam.

    section
      .slds-m-bottom--x-large
        .slds-text-heading--medium Color Palette
        ul.color-blocks
          li.blue-lt
            .name $blue-lt
            code.hex #E5F2F9
          li.blue
            .name $blue
            code.hex #007DBC
          li.blue-dk
            .name $blue-dk
            code.hex #0E4876
          li.blue-dk2
            .name $blue-dk2
            code.hex #012849

        ul.color-blocks
          li.tan
            .name $tan
            code.hex #E7E4E2
          li.red
            .name $red
            code.hex #BC4339

        ul.color-blocks
          li.gray-dk
            .name $gray-dk
            code.hex #333
          li.gray-md
            .name $gray-md
            code.hex #888
          li.gray
            .name $gray
            code.hex #ddd
          li.gray-lt
            .name $gray-lt
            code.hex #eee

        ul.color-blocks
          li.danger
            .name $danger
            code.hex #d9534f
          li.success
            .name $success
            code.hex #93C461
          li.info
            .name $info
            code.hex #5bc0de
          li.warning
            .name $warning
            code.hex #f0ad4e


block left-sidebar
  include partials/documentation-sidebar-left.pug


block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
