src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/documentation/typography.pug
extends ../../layout/documentation.pug

include partials/documentation-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentSection = 'index';
  - var currentPage = 'typography';

block title
  title Typography / Documentation

block stylesheets
  link(rel="stylesheet", href="./css/theme-documentation.css")

block content
  .page-content.styleguide
    .page-header
      h1 Typography
      .description Enim quia at eveniet alias mollitia suscipit, est reiciendis fugit corporis, neque nesciunt iste accusantium, aliquid provident distinctio! Neque, ratione.

    section
      .slds-grid.slds-wrap.slds-grid--pull-padded
        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          h4.slds-text-heading--small.slds-m-bottom--small Headings

          .slds-m-bottom--x-large
            h1 Heading 1
            code.element h1
          .slds-m-bottom--x-large
            h2 Heading 2
            code.element h2
          .slds-m-bottom--x-large
            h3 Heading 3
            code.element h3
          .slds-m-bottom--x-large
            h4 Heading 4
            code.element h4
          .slds-m-bottom--x-large
            h5 Heading 5
            code.element h5
          .slds-m-bottom--x-large
            h6 Heading 6
            code.element h6

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--1-of-4
          h4.slds-text-heading--small.slds-m-bottom--small SLDS Styles

          .slds-m-bottom--x-large
            .slds-text-body--regular Text Body Regular
            code.class .slds-text-body--regular
          .slds-m-bottom--x-large
            .slds-text-body--small Text Body Small
            code.class .slds-text-body--small
          .slds-m-bottom--x-large
            .slds-text-heading--large Text Heading large
            code.class .slds-text-heading--large
          .slds-m-bottom--x-large
            .slds-text-heading--medium Text Heading Medium
            code.class .slds-text-heading--medium
          .slds-m-bottom--x-large
            .slds-text-heading--small Text Heading Small
            code.class .slds-text-heading--small
          .slds-m-bottom--x-large
            .slds-text-color--default Text Default
            code.class .slds-text-color--default
          .slds-m-bottom--x-large
            .slds-text-color--weak Text Weak
            code.class .slds-text-color--weak
          .slds-m-bottom--x-large
            .slds-text-color--error Text Error
            code.class .slds-text-color--error
          .slds-m-bottom--x-large
            .slds-section__title Section Title
            code.class .slds-section__title
          .slds-m-bottom--x-large
            .slds-section-title--divider Section Title Divider
            code.class .slds-section-title--divider

        .slds-p-horizontal--small.slds-size--1-of-1.slds-medium-size--2-of-4
          h4.slds-text-heading--small.slds-m-bottom--small Lists

          ul
            li List item unstyled 1
            li List item unstyled 2
          code.element.slds-m-bottom--x-large ul,ol

          ul.slds-list-dotted
            li List item dotted
            li List item dotted
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-list-dotted

          ol.slds-list-ordered
            li List item ordered
            li List item ordered
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ol.slds-list-ordered

          ul.slds-has-dividers--top
            li.slds-item List has top divider 1
            li.slds-item List has top divider 2
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-has-dividers--top

          ul
            li.slds-has-divider--top
              strong List item&nbsp;
              | has top divider 1
            li.slds-has-divider--top
              strong List item&nbsp;
              | has top divider 2
          code.element li
          code.class.slds-m-bottom--x-large.slds-m-top--x-small li.slds-has-divider--top

          ul.slds-has-dividers--bottom
            li.slds-item List has bottom divider 1
            li.slds-item List has bottom divider 2
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-has-dividers--bottom

          ul.slds-list--horizontal.slds-has-dividers--left
            li.slds-item List item 1
            li.slds-item List item 2
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-has-dividers--left

          ul.slds-list--horizontal
            li Item 1&nbsp;
            li Item 2&nbsp;
          code.element ul,ol
          code.class.slds-m-bottom--x-large.slds-m-top--x-small ul.slds-list--horizontal

          dl
            dt Label:
            dd description
          code.element.slds-m-bottom--x-large.slds-m-top--x-small dl &gt; dt &plus; dd

block left-sidebar
  include partials/documentation-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/documentation/typography.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Typography / Documentation</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/temp.css"/>
    <link rel="stylesheet" href="./css/theme-documentation.css"/>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
      
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body class="index">
    <div class="mobile-nav"><a class="icon-link lg active" href="views/documentation/index.html"><img src="img/navs/documentation/theme.svg" alt="Default Theme"/><span class="name">Default Theme</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/notes.svg" alt="Notes"/><span class="name">Notes</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/buttons.svg" alt="Buttons"/><span class="name">Buttons</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/colors.svg" alt="Colors"/><span class="name">Colors</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/expandable-content.svg" alt="Expandable Content"/><span class="name">Expandable Content</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/forms.svg" alt="Forms"/><span class="name">Forms</span></a><a class="icon-link lg" href="undefined.html"><img src="img/navs/documentation/scaffolding.svg" alt="Scaffolding"/><span class="name">Scaffolding</span></a><a class="icon-link lg active" href="views/documentation/typography.html"><img src="img/navs/documentation/typography.svg" alt="Typography"/><span class="name">Typography</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <div class="content">
        <div class="flex sm content-wrapper">
          <div class="page-content styleguide">
            <div class="page-header">
              <h1>Typography</h1>
              <div class="description">Enim quia at eveniet alias mollitia suscipit, est reiciendis fugit corporis, neque nesciunt iste accusantium, aliquid provident distinctio! Neque, ratione.</div>
            </div>
            <section>
              <div class="slds-grid slds-wrap slds-grid--pull-padded">
                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-4">
                  <h4 class="slds-text-heading--small slds-m-bottom--small">Headings</h4>
                  <div class="slds-m-bottom--x-large">
                    <h1>Heading 1</h1><code class="element">h1</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <h2>Heading 2</h2><code class="element">h2</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <h3>Heading 3</h3><code class="element">h3</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <h4>Heading 4</h4><code class="element">h4</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <h5>Heading 5</h5><code class="element">h5</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <h6>Heading 6</h6><code class="element">h6</code>
                  </div>
                </div>
                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--1-of-4">
                  <h4 class="slds-text-heading--small slds-m-bottom--small">SLDS Styles</h4>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-text-body--regular">Text Body Regular</div><code class="class">.slds-text-body--regular</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-text-body--small">Text Body Small</div><code class="class">.slds-text-body--small</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-text-heading--large">Text Heading large</div><code class="class">.slds-text-heading--large</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-text-heading--medium">Text Heading Medium</div><code class="class">.slds-text-heading--medium</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-text-heading--small">Text Heading Small</div><code class="class">.slds-text-heading--small</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-text-color--default">Text Default</div><code class="class">.slds-text-color--default</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-text-color--weak">Text Weak</div><code class="class">.slds-text-color--weak</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-text-color--error">Text Error</div><code class="class">.slds-text-color--error</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-section__title">Section Title</div><code class="class">.slds-section__title</code>
                  </div>
                  <div class="slds-m-bottom--x-large">
                    <div class="slds-section-title--divider">Section Title Divider</div><code class="class">.slds-section-title--divider</code>
                  </div>
                </div>
                <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--2-of-4">
                  <h4 class="slds-text-heading--small slds-m-bottom--small">Lists</h4>
                  <ul>
                    <li>List item unstyled 1</li>
                    <li>List item unstyled 2</li>
                  </ul><code class="element slds-m-bottom--x-large">ul,ol</code>
                  <ul class="slds-list-dotted">
                    <li>List item dotted</li>
                    <li>List item dotted</li>
                  </ul><code class="element">ul,ol</code><code class="class slds-m-bottom--x-large slds-m-top--x-small">ul.slds-list-dotted</code>
                  <ol class="slds-list-ordered">
                    <li>List item ordered</li>
                    <li>List item ordered</li>
                  </ol><code class="element">ul,ol</code><code class="class slds-m-bottom--x-large slds-m-top--x-small">ol.slds-list-ordered</code>
                  <ul class="slds-has-dividers--top">
                    <li class="slds-item">List has top divider 1</li>
                    <li class="slds-item">List has top divider 2</li>
                  </ul><code class="element">ul,ol</code><code class="class slds-m-bottom--x-large slds-m-top--x-small">ul.slds-has-dividers--top</code>
                  <ul>
                    <li class="slds-has-divider--top"><strong>List item&nbsp;</strong>has top divider 1</li>
                    <li class="slds-has-divider--top"><strong>List item&nbsp;</strong>has top divider 2</li>
                  </ul><code class="element">li</code><code class="class slds-m-bottom--x-large slds-m-top--x-small">li.slds-has-divider--top</code>
                  <ul class="slds-has-dividers--bottom">
                    <li class="slds-item">List has bottom divider 1</li>
                    <li class="slds-item">List has bottom divider 2</li>
                  </ul><code class="element">ul,ol</code><code class="class slds-m-bottom--x-large slds-m-top--x-small">ul.slds-has-dividers--bottom</code>
                  <ul class="slds-list--horizontal slds-has-dividers--left">
                    <li class="slds-item">List item 1</li>
                    <li class="slds-item">List item 2</li>
                  </ul><code class="element">ul,ol</code><code class="class slds-m-bottom--x-large slds-m-top--x-small">ul.slds-has-dividers--left</code>
                  <ul class="slds-list--horizontal">
                    <li>Item 1&nbsp;</li>
                    <li>Item 2&nbsp;</li>
                  </ul><code class="element">ul,ol</code><code class="class slds-m-bottom--x-large slds-m-top--x-small">ul.slds-list--horizontal</code>
                  <dl>
                    <dt>Label:</dt>
                    <dd>description</dd>
                  </dl><code class="element slds-m-bottom--x-large slds-m-top--x-small">dl &gt; dt &plus; dd</code>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html">
            <div class="company">Georgetown University</div>
            <div class="title">GU360</div>
            <div class="subtitle">Theme Documentation</div></a></div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg active" href="views/documentation/index.html"><img src="img/navs/documentation/theme.svg" alt="Default Theme"/><span class="name">Default Theme</span></a>
          <hr/><a class="icon-link lg" href="views/documentation/index.html"><img src="img/navs/documentation/notes.svg" alt="Notes"/><span class="name">Notes</span></a><a class="icon-link lg" href="views/documentation/buttons.html"><img src="img/navs/documentation/buttons.svg" alt="Buttons"/><span class="name">Buttons</span></a><a class="icon-link lg" href="views/documentation/colors.html"><img src="img/navs/documentation/colors.svg" alt="Colors"/><span class="name">Colors</span></a><a class="icon-link lg" href="views/documentation/expandable-content.html"><img src="img/navs/documentation/expandable-content.svg" alt="Expandable Content"/><span class="name">Expandable Content</span></a><a class="icon-link lg" href="views/documentation/forms.html"><img src="img/navs/documentation/forms.svg" alt="Forms"/><span class="name">Forms</span></a><a class="icon-link lg" href="views/documentation/scaffolding.html"><img src="img/navs/documentation/scaffolding.svg" alt="Scaffolding"/><span class="name">Scaffolding</span></a><a class="icon-link lg active" href="views/documentation/typography.html"><img src="img/navs/documentation/typography.svg" alt="Typography"/><span class="name">Typography</span></a>
        </nav>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script></script>
  </body>
</html>
