src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/faculty/class-detail.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Class Details - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-faculty.css"/>
    <link rel="stylesheet" href="./css/edit-block.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/faculty/directory-faculty.html"><img src="img/navs/faculty/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/faculty/directory-alumni.html"><img src="img/navs/faculty/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/faculty/dashboard.html"><img src="img/navs/faculty/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/faculty/profile.html"><img src="img/navs/faculty/profile.svg" alt="My Profile"/><span class="name">My Profile</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a></div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/faculty/directory-faculty.html"><img src="img/navs/faculty/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/faculty/directory-alumni.html"><img src="img/navs/faculty/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a>
          <hr/><a class="icon-link lg" href="views/faculty/dashboard.html"><img src="img/navs/faculty/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/faculty/profile.html"><img src="img/navs/faculty/profile.svg" alt="My Profile"/><span class="name">My Profile</span></a>
        </nav>
      </div>
      <div class="content">
        <header class="gu-header">
          <div class="mobile-search"><span class="icon">
              <svg aria-hidden="true" title="Search">
                <use xlink:href="img/sprites/base.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
          </div>
          <div class="site-search">
            <div class="search-input">
              <label class="slds-assistive-text" for="search-input">Search</label>
              <input class="slds-input" id="search-input" type="text" placeholder="Search"/>
            </div>
            <div class="search-filters dropdown has-caret">
              <input type="checkbox" name="search-filter-dropdown" id="search-filter-dropdown"/>
              <label for="search-filter-dropdown">
                <div class="title">1 Selected</div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items">
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Faculty</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Classes</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Publications</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Expertise</button>
              </div>
            </div><a class="btn-reset search-btn" href="views/faculty/search-results.html">
              <div class="hidden-xs hidden-sm"><span class="icon">
                  <svg aria-hidden="true" title="Search">
                    <use xlink:href="img/sprites/base.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </div>
              <div class="visible-xs visible-sm">Find</div></a>
          </div>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status success"></div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items">
                <!--a(href="views/student/profile.html") Profile-->
                <!--a(href="views/student/documents.html") Documents-->
                <!--hr--><a href="views/student/documents.html">Student</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="views/faculty/directory-faculty-login.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content teaching">
            <div class="max-container"><a class="btn-back" href="views/faculty/teaching.html"><span class="icon">
                  <svg aria-hidden="true" title="Back to list">
                    <use xlink:href="img/sprites/base.svg#arrow-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span><span>Back to teaching list</span></a>
              <div class="page-section has-controls">
                <h2 class="slds-text-heading--medium slds-m-bottom--x-small slds-text-color--default">Class Detail</h2>
                <div class="controls">
                  <div class="title">Navigate to</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a href="views/faculty/profile.html">General Information</a><a href="views/faculty/research.html">Research and Scholarship</a><a href="views/faculty/publications.html">Publications</a><a href="views/faculty/my-lab.html">My Lab</a><a class="active" href="#!">Teaching</a><a href="views/faculty/service-gu.html">Service to Georgetown</a><a href="views/faculty/service.html">Service to the Public</a><a href="views/faculty/mentoring.html">Mentoring</a><a href="views/faculty/grants.html">Grants and Awards</a><a href="views/faculty/news.html">In The News</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-section slds-m-bottom--large">
                <h3 class="slds-section__title slds-m-top--x-small slds-m-bottom--x-small">Class Description</h3>
                <p class="slds-m-bottom--x-small">Voluptate voluptatibus corporis eaque quam quae obcaecati? Voluptatem natus, deserunt voluptates debitis et ex? Velit cumque temporibus alias saepe animi accusantium quia culpa molestias ad ipsum harum dolorum, officiis earum, neque quod omnis sed doloremque quas voluptatibus deleniti veritatis minus quis dolor voluptatem.</p>
                <p class="slds-m-bottom--x-small">Accusamus non cum accusantium, ad doloremque! Rem consequatur sapiente in voluptates error nesciunt dolores maiores earum culpa neque ab, perspiciatis cumque nam vel omnis ea, qui cum expedita voluptatibus iusto! Assumenda, dignissimos architecto ipsum harum explicabo quam obcaecati ipsam nulla. Eligendi facilis ullam laboriosam odit voluptatibus delectus aut veritatis commodi laborum laudantium. Autem ut commodi esse iusto.</p>
                <div class="icon-block slds-m-top--large slds-m-bottom--x-large ">
                  <div class="heading"><span class="icon md">
                      <svg aria-hidden="true">
                        <use xlink:href="img/sprites//base.svg#document"></use>
                      </svg></span>
                    <div class="title slds-text-heading--small ">Class Syllabus</div>
                  </div>
                </div>
              </div>
              <div class="page-section">
                <h3 class="slds-section__title slds-m-top--x-small slds-m-bottom--x-small">Co-teachers</h3>
                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                  <div class="slds-p-horizontal--small slds-size--1-of-1 slds-small-size--1-of-3 slds-m-bottom--medium"><a class="user-card lg" href="#!"><img src="https://randomuser.me/api/portraits/men/34.jpg" alt="Brad Simpson"/>
                                <div class="detail">
                                  <div class="name">Brad Simpson</div>
                                  <div class="role">Professor of Business Administration</div>
                                  <div>Financial Markets</div>
                                  <div>Financial Policy</div>
                                </div></a>
                  </div>
                  <div class="slds-p-horizontal--small slds-size--1-of-1 slds-small-size--1-of-3 slds-m-bottom--medium"><a class="user-card lg" href="#!"><img src="https://randomuser.me/api/portraits/women/51.jpg" alt="Violet Bryant"/>
                                <div class="detail">
                                  <div class="name">Violet Bryant</div>
                                  <div class="role">Professor of Business Administration</div>
                                  <div>Financial Markets</div>
                                  <div>Financial Policy</div>
                                </div></a>
                  </div>
                  <div class="slds-p-horizontal--small slds-size--1-of-1 slds-small-size--1-of-3 slds-m-bottom--medium"><a class="user-card lg" href="#!"><img src="https://randomuser.me/api/portraits/men/11.jpg" alt="Michael Turner"/>
                                <div class="detail">
                                  <div class="name">Michael Turner</div>
                                  <div class="role">Professor of Business Administration</div>
                                  <div>Financial Markets</div>
                                  <div>Financial Policy</div>
                                </div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/faculty/class-detail.pug
extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = '';

block title
  title Class Details - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")


block content
  mixin team-member(member_name, member_role, photo_url)
    a.user-card.lg(href="#!")
      img(src=photo_url, alt=member_name)
      .detail
        .name=member_name
        .role=member_role
        block

  .page-content.teaching
    .max-container

      a.btn-back(href="views/faculty/teaching.html")
        +svg-sprite("img/sprites/base.svg", "arrow-left", "", "Back to list")
        span Back to teaching list
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Class Detail
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a.active(href="#!") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a(href="views/faculty/grants.html") Grants and Awards
            a(href="views/faculty/news.html") In The News

      .page-section.slds-m-bottom--large
        h3.slds-section__title.slds-m-top--x-small.slds-m-bottom--x-small Class Description
        p.slds-m-bottom--x-small Voluptate voluptatibus corporis eaque quam quae obcaecati? Voluptatem natus, deserunt voluptates debitis et ex? Velit cumque temporibus alias saepe animi accusantium quia culpa molestias ad ipsum harum dolorum, officiis earum, neque quod omnis sed doloremque quas voluptatibus deleniti veritatis minus quis dolor voluptatem.
        p.slds-m-bottom--x-small Accusamus non cum accusantium, ad doloremque! Rem consequatur sapiente in voluptates error nesciunt dolores maiores earum culpa neque ab, perspiciatis cumque nam vel omnis ea, qui cum expedita voluptatibus iusto! Assumenda, dignissimos architecto ipsum harum explicabo quam obcaecati ipsam nulla. Eligendi facilis ullam laboriosam odit voluptatibus delectus aut veritatis commodi laborum laudantium. Autem ut commodi esse iusto.
        +icon-block("Class Syllabus", "/base", "document", "md", "", "slds-m-top--large slds-m-bottom--x-large ")

      .page-section
        h3.slds-section__title.slds-m-top--x-small.slds-m-bottom--x-small Co-teachers
        .slds-grid.slds-wrap.slds-grid--pull-padded
          .slds-p-horizontal--small.slds-size--1-of-1.slds-small-size--1-of-3.slds-m-bottom--medium
            +team-member("Brad Simpson", "Professor of Business Administration", "https://randomuser.me/api/portraits/men/34.jpg")
              div Financial Markets
              div Financial Policy
          .slds-p-horizontal--small.slds-size--1-of-1.slds-small-size--1-of-3.slds-m-bottom--medium
            +team-member("Violet Bryant", "Professor of Business Administration", "https://randomuser.me/api/portraits/women/51.jpg")
              div Financial Markets
              div Financial Policy
          .slds-p-horizontal--small.slds-size--1-of-1.slds-small-size--1-of-3.slds-m-bottom--medium
            +team-member("Michael Turner", "Professor of Business Administration", "https://randomuser.me/api/portraits/men/11.jpg")
              div Financial Markets
              div Financial Policy



block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
