src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/faculty/grants.pug
extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Grants and Awards / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")

block content

  +page-wrapper("","")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      .page-section.has-controls
        h2.slds-text-heading--medium.slds-m-bottom--x-small.slds-text-color--default Grants and Awards
        .controls
          .title Navigate to
          +dropdown("profile-subnav", "profile-subnav", "", true)
            a(href="views/faculty/profile.html") General Information
            a(href="views/faculty/research.html") Research and Scholarship
            a(href="views/faculty/publications.html") Publications
            a(href="views/faculty/my-lab.html") My Lab
            a(href="views/faculty/teaching.html") Teaching
            a(href="views/faculty/service-gu.html") Service to Georgetown
            a(href="views/faculty/service.html") Service to the Public
            a(href="views/faculty/mentoring.html") Mentoring
            a.active(href="#!") Grants and Awards
            a(href="views/faculty/news.html") In The News

      .page-section.slds-m-top--large
        h3.slds-section__title Grants

        .slds-m-vertical--small
          a(href="#!") Grant Name - Georgetown University
          +space() ,
          | 2016 - 2014.
          +space()
          | Principal Investigator: Benjamin Sisko

        .slds-m-vertical--small
          a(href="#!") Grant Name - Georgetown University
          +space() ,
          | 2016 - 2014.
          +space()
          | Principal Investigator: Benjamin Sisko

        .slds-m-vertical--small
          a(href="#!") Grant Name - Georgetown University
          +space() ,
          | 2016 - 2014.
          +space()
          | Principal Investigator: Benjamin Sisko

        .slds-m-vertical--small
          a(href="#!") Grant Name - Georgetown University
          +space() ,
          | 2016 - 2014.
          +space()
          | Principal Investigator: Benjamin Sisko

      .page-section.slds-m-top--large
        h3.slds-section__title.slds-m-bottom--x-small Endowments

        .read-more.slds-m-vertical--small
          +read-more("Read More", "endowment_01")
            div.title
              strong Endowment Laboriosam.
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            div.slds-m-bottom--medium
              div Type: Endowment Type
              div Endowed Chair: Reena Aggarwal
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .read-more.slds-m-vertical--small
          +read-more("Read More", "endowment_02")
            div.title
              strong Odio quis aeaque
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            div.slds-m-bottom--medium
              div Type: Endowment Type
              div Endowed Chair: Reena Aggarwal
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .read-more.slds-m-vertical--small
          +read-more("Read More", "endowment_03")
            div.title
              strong Odit magnam beatae, labore
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            div.slds-m-bottom--medium
              div Type: Endowment Type
              div Endowed Chair: Reena Aggarwal
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


      .page-section.slds-m-top--large
        h3.slds-section__title.slds-m-bottom--x-small Awards and Honors

        .read-more.slds-m-vertical--small
          +read-more("Read More", "award_01")
            div.title
              strong Autem reiciendis suntex
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .read-more.slds-m-vertical--small
          +read-more("Read More", "award_02")
            div.title
              strong Et, aliquam, reiciendis!
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .read-more.slds-m-vertical--small
          +read-more("Read More", "award_03")
            div.title
              strong Iusto eligendi, excepturi
              +space()
              | -
              +space()
              a(href="#!") Georgetown University
              +space()
              +space()
              | -
              +space()
              | 2012-2014
          .expand-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/faculty/grants.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Grants and Awards / Faculty - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-faculty.css"/>
    <link rel="stylesheet" href="./css/edit-block.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/faculty/directory-faculty.html"><img src="img/navs/faculty/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/faculty/directory-alumni.html"><img src="img/navs/faculty/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/faculty/dashboard.html"><img src="img/navs/faculty/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg active" href="views/faculty/profile.html"><img src="img/navs/faculty/profile.svg" alt="My Profile"/><span class="name">My Profile</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a></div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/faculty/directory-faculty.html"><img src="img/navs/faculty/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/faculty/directory-alumni.html"><img src="img/navs/faculty/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a>
          <hr/><a class="icon-link lg" href="views/faculty/dashboard.html"><img src="img/navs/faculty/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg active" href="views/faculty/profile.html"><img src="img/navs/faculty/profile.svg" alt="My Profile"/><span class="name">My Profile</span></a>
        </nav>
      </div>
      <div class="content">
        <header class="gu-header">
          <div class="mobile-search"><span class="icon">
              <svg aria-hidden="true" title="Search">
                <use xlink:href="img/sprites/base.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
          </div>
          <div class="site-search">
            <div class="search-input">
              <label class="slds-assistive-text" for="search-input">Search</label>
              <input class="slds-input" id="search-input" type="text" placeholder="Search"/>
            </div>
            <div class="search-filters dropdown has-caret">
              <input type="checkbox" name="search-filter-dropdown" id="search-filter-dropdown"/>
              <label for="search-filter-dropdown">
                <div class="title">1 Selected</div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items">
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Faculty</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Classes</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Publications</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Expertise</button>
              </div>
            </div><a class="btn-reset search-btn" href="views/faculty/search-results.html">
              <div class="hidden-xs hidden-sm"><span class="icon">
                  <svg aria-hidden="true" title="Search">
                    <use xlink:href="img/sprites/base.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </div>
              <div class="visible-xs visible-sm">Find</div></a>
          </div>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status success"></div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items">
                <!--a(href="views/student/profile.html") Profile-->
                <!--a(href="views/student/documents.html") Documents-->
                <!--hr--><a href="views/student/documents.html">Student</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="views/faculty/directory-faculty-login.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header vertical">
                <div class="greeting txt-lg txt-gray">Welcome Back</div>
                <div class="edit-block" tabindex="0">
                  <div class="read update-block">
                    <h1 class="slds-text-heading--large slds-m-bottom--x-small">Michael Montgomery</h1>
                    <div class="icons"><span class="icon">
                        <svg class="icon" aria-hidden="true" title="Edit">
                          <use xlink:href="img/sprites/base.svg#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </div>
                  </div>
                  <div class="edit slds-hide">
                    <div class="item">
                      <fieldset>
                        <legend class="slds-m-bottom--x-small" for="display_name">Choose your display name</legend>
                        <div class="slds-m-bottom--x-small"><span class="gu-radio ">
                            <div class="uiInput uiInputRadio">
                              <label class="slds-radio__label form-element__label" for="legal_name">Michael Montgomery (Legal)</label>
                              <input id="legal_name" type="radio" name="display_name" checked="checked"/>
                            </div></span>
                        </div>
                        <div class="slds-m-bottom--x-small"><span class="gu-radio ">
                            <div class="uiInput uiInputRadio">
                              <label class="slds-radio__label form-element__label" for="preferred_name">Mike Montgomery (Preferred)</label>
                              <input id="preferred_name" type="radio" name="display_name"/>
                            </div></span>
                        </div>
                      </fieldset>
                    </div>
                    <div class="controls flex">
                      <div class="right"><a class="btn-action btn-update btn-cancel" href="#!" id=""><span class="title">Cancel</span><span class="icon">
                            <svg aria-hidden="true" title="cancel">
                              <use xlink:href="img/sprites/base.svg#cancel"></use>
                            </svg></span></a><a class="btn-action btn-update btn-save" href="#!" id=""><span class="title">Save</span><span class="icon">
                            <svg aria-hidden="true" title="save">
                              <use xlink:href="img/sprites/base.svg#save"></use>
                            </svg></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position">Professor of Business Administration</div>
                <div class="edit-block" tabindex="0">
                  <div class="read update-block">
                    <div class="role" id="role01txt">Sample School Professor of Business Administration and Professor of Finance</div>
                    <div class="role" id="role02txt">Director, Georgetown Center for Financial Markets and Policy</div>
                    <div class="icons"><span class="icon">
                        <svg class="icon" aria-hidden="true" title="Edit">
                          <use xlink:href="img/sprites/base.svg#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </div>
                  </div>
                  <div class="edit slds-hide">
                    <div class="item">
                      <div class="slds-form-element gu-form-group">
                        <label class="slds-form-element__label field-label" for="role01input" data-balloon="Add your roles" data-balloon-pos="up"><span class="slds-assistive-text">Add your roles</span>
                          <div class="help-block"><span class="icon">
                              <svg aria-hidden="true" title="Help">
                                <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg></span>
                          </div>
                        </label>
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                          <svg class="slds-input__icon slds-icon-text-default btn-clear" aria-hidden="true">
                            <use xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear"></use>
                          </svg>
                          <input class="slds-input" id="role01input" value="Sample School Professor of Business Administration and Professor of Finance Director, Georgetown Center for Financial Markets and Policy"/>
                        </div>
                      </div>
                    </div>
                    <div class="controls flex">
                      <div class="right"><a class="btn-action btn-update btn-cancel" href="#!" id=""><span class="title">Cancel</span><span class="icon">
                            <svg aria-hidden="true" title="cancel">
                              <use xlink:href="img/sprites/base.svg#cancel"></use>
                            </svg></span></a><a class="btn-action btn-update btn-save" href="#!" id=""><span class="title">Save</span><span class="icon">
                            <svg aria-hidden="true" title="save">
                              <use xlink:href="img/sprites/base.svg#save"></use>
                            </svg></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="page-body ">
                <div class="page-section has-controls">
                  <h2 class="slds-text-heading--medium slds-m-bottom--x-small slds-text-color--default">Grants and Awards</h2>
                  <div class="controls">
                    <div class="title">Navigate to</div>
                    <div class="dropdown has-caret profile-subnav">
                      <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                      <label for="profile-subnav">
                        <div class="title"></div><span class="icon">
                          <svg aria-hidden="true" title="">
                            <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                          </svg></span>
                      </label>
                      <div class="dropdown-items"><a href="views/faculty/profile.html">General Information</a><a href="views/faculty/research.html">Research and Scholarship</a><a href="views/faculty/publications.html">Publications</a><a href="views/faculty/my-lab.html">My Lab</a><a href="views/faculty/teaching.html">Teaching</a><a href="views/faculty/service-gu.html">Service to Georgetown</a><a href="views/faculty/service.html">Service to the Public</a><a href="views/faculty/mentoring.html">Mentoring</a><a class="active" href="#!">Grants and Awards</a><a href="views/faculty/news.html">In The News</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="page-section slds-m-top--large">
                  <h3 class="slds-section__title">Grants</h3>
                  <div class="slds-m-vertical--small"><a href="#!">Grant Name - Georgetown University</a> 2016 - 2014. Principal Investigator: Benjamin Sisko
                  </div>
                  <div class="slds-m-vertical--small"><a href="#!">Grant Name - Georgetown University</a> 2016 - 2014. Principal Investigator: Benjamin Sisko
                  </div>
                  <div class="slds-m-vertical--small"><a href="#!">Grant Name - Georgetown University</a> 2016 - 2014. Principal Investigator: Benjamin Sisko
                  </div>
                  <div class="slds-m-vertical--small"><a href="#!">Grant Name - Georgetown University</a> 2016 - 2014. Principal Investigator: Benjamin Sisko
                  </div>
                </div>
                <div class="page-section slds-m-top--large">
                  <h3 class="slds-section__title slds-m-bottom--x-small">Endowments</h3>
                  <div class="read-more slds-m-vertical--small">
                    <input type="checkbox" name="endowment_01" id="endowment_01"/>
                    <div class="title"><strong>Endowment Laboriosam.</strong> - <a href="#!">Georgetown University</a>  - 2012-2014
                    </div>
                    <label class="read-more" for="endowment_01">Read More</label>
                    <div class="expand-content">
                      <div class="slds-m-bottom--medium">
                        <div>Type: Endowment Type</div>
                        <div>Endowed Chair: Reena Aggarwal</div>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                  </div>
                  <div class="read-more slds-m-vertical--small">
                    <input type="checkbox" name="endowment_02" id="endowment_02"/>
                    <div class="title"><strong>Odio quis aeaque</strong> - <a href="#!">Georgetown University</a>  - 2012-2014
                    </div>
                    <label class="read-more" for="endowment_02">Read More</label>
                    <div class="expand-content">
                      <div class="slds-m-bottom--medium">
                        <div>Type: Endowment Type</div>
                        <div>Endowed Chair: Reena Aggarwal</div>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                  </div>
                  <div class="read-more slds-m-vertical--small">
                    <input type="checkbox" name="endowment_03" id="endowment_03"/>
                    <div class="title"><strong>Odit magnam beatae, labore</strong> - <a href="#!">Georgetown University</a>  - 2012-2014
                    </div>
                    <label class="read-more" for="endowment_03">Read More</label>
                    <div class="expand-content">
                      <div class="slds-m-bottom--medium">
                        <div>Type: Endowment Type</div>
                        <div>Endowed Chair: Reena Aggarwal</div>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                  </div>
                </div>
                <div class="page-section slds-m-top--large">
                  <h3 class="slds-section__title slds-m-bottom--x-small">Awards and Honors</h3>
                  <div class="read-more slds-m-vertical--small">
                    <input type="checkbox" name="award_01" id="award_01"/>
                    <div class="title"><strong>Autem reiciendis suntex</strong> - <a href="#!">Georgetown University</a>  - 2012-2014
                    </div>
                    <label class="read-more" for="award_01">Read More</label>
                    <div class="expand-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                  </div>
                  <div class="read-more slds-m-vertical--small">
                    <input type="checkbox" name="award_02" id="award_02"/>
                    <div class="title"><strong>Et, aliquam, reiciendis!</strong> - <a href="#!">Georgetown University</a>  - 2012-2014
                    </div>
                    <label class="read-more" for="award_02">Read More</label>
                    <div class="expand-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                  </div>
                  <div class="read-more slds-m-vertical--small">
                    <input type="checkbox" name="award_03" id="award_03"/>
                    <div class="title"><strong>Iusto eligendi, excepturi</strong> - <a href="#!">Georgetown University</a>  - 2012-2014
                    </div>
                    <label class="read-more" for="award_03">Read More</label>
                    <div class="expand-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
