src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/faculty/profile-public.pug
extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'profile';

block title
  title Profile / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/profile.css")

block content
  +page-wrapper("","")
    include partials/faculty-internal-header.pug

    +page-content-wrapper("")
      +page-header("About Me", "has-controls", "img/navs/faculty/profile.svg")
        +page-header-controls(true, "Navigate to")
          a.active(href="#") General Information
          a(href="views/faculty/research.html") Research and Scholarship
          a(href="views/faculty/publications.html") Publications
          a(href="views/faculty/my-lab.html") My Lab
          a(href="views/faculty/teaching.html") Teaching
          a(href="views/faculty/service-gu.html") Service to Georgetown
          a(href="views/faculty/service.html") Service to the Public
          a(href="views/faculty/mentoring.html") Mentoring
          a(href="views/faculty/grants.html") Grants and Awards
          a(href="views/faculty/news.html") In The News

      h3.slds-section__title.slds-m-top--x-small.slds-m-bottom--x-small Biographical Information
      p Professor Montgomery specializes in global financial markets, securities market regulation, capital raising, initial public offerings, institutional investors, private equity, valuation, stock exchange structure, and corporate governance. In 2015, his researchwas recognized for addressing global governance challenges and received the prestigious BlackRock-National Association of Corporate Directors Award. He was honored with the Allan N. Nash Distinguished Doctoral Graduate Award by University of Maryland. He serves on the editorial boards of major journals. He regularly presents his work to government agencies and at academic conferences. Dr. Aggarwal has previously held various positions including Interim Dean and Deputy Dean of Georgetown's SchoolName School of Business; Visiting Professor of Finance at MIT's Sloan School of Management; FINRA Academic Fellow; Academic Fellow at the U.S. SEC; Visiting Research Scholar at the International Monetary Fund; and Fulbright Scholar to Brazil.

      hr

      h3.slds-section__title General Information
      +grid("wrap", "large", "6-of-12")

        +grid-col("")
          +header-img-block("div", "", "Languages", "", "", true, "img/languages.svg", "languages", "sm")
          .read-only
            .slds-text-longform.txt-block
              div #[span.name Hindi] (speak, read, write)
            .slds-text-longform.txt-block
              div #[span.name English] (speak, read, write)

        +grid-col("")
          +header-img-block("div", "", "Licensure & Certifications", "", "", true, "img/certifications.svg", "certifications", "sm")
            .read-only
              .slds-text-longform.txt-block
                .txt-block
                  a.name(href="#") Name of Certification
                  .txt-date January 2014 - February 2017
                  div Officia illum, eius optio. Voluptatem minus quae ratione, similique!
              .slds-text-longform.txt-block
                .txt-block
                  a.name Lorem Ipsum Chair
                  .txt-date January 2014 - Present
                  div Lorum Ipsum Dolar Sit Amet

        +grid-col("")
          +header-img-block("div", "", "Professional Affiliations", "", "", true, "img/affiliations.svg", "affiliations", "sm")
            .read-only
              .slds-text-longform.txt-block
                .name Iure Soluta Chair
                .txt-date January 2014 - Present
                div Fuit assumenda explicabo incidunt ad natus recusandae

        +grid-col("")
          +header-img-block("div", "", "Professional Associations", "", "", true, "img/associations.svg", "associations", "sm")
            .read-only
              .slds-text-longform.txt-block
                .txt-block
                  a.name Quos dolorem optio
                  .txt-date January 2014 - Present
                  div Lorum Ipsum Dolar Sit Amet

        +grid-col("")
          +header-img-block("div", "", "Education", "", "", true, "img/education.svg", "education", "sm")
            .read-only
              .slds-text-longform.txt-block
                .name University of Maryland
                div Finance - Ph.D.
              .slds-text-longform.txt-block
                .name B.I.T.S.
                div M.M.S. - Business Management

        +grid-col("")
          +header-img-block("div", "", "Expertise", "", "", true, "img/expertise.svg", "expertise", "sm")
            .read-only
              .txt-block
                .name Expertise 1 Title
              .txt-block
                .name Expertise 2 Title

        +grid-col("")
          +header-img-block("div", "", "Interests", "", "", true, "img/interests.svg", "interests", "sm")
            .read-only
              .txt-block
                .name Interest 1 Title

        +grid-col("")
          +header-img-block("div", "", "Consulting Activities", "", "", true, "img/consulting.svg", "activities", "sm")
            .read-only
              .txt-block
                .name User Acceptance Manager
                .txt-date January 2014 - Present
                a() Lorum Ipsum Dolar Sit Amet


block right-sidebar
  .sidebar.right
    .user-heading
      .user-photo.xl(style="background-image:url('demo/user-alt.png')")

      .social-icons.is-center.has-bg
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "facebook", "", "Facebook")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "twitter", "", "Twitter")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "linkedin", "", "LinkedIn")
        a.icon-link.sm
          +svg-sprite("img/sprites/media.svg", "cv", "", "CV")

    .block.has-bg
      .border-end.reset.bottom.has-bg
        +txt-block("Contact","","lg")
          a.icon-link.sm(href="mailto:mmontgomery@georgetown.edu")
            +svg-sprite("img/sprites/media.svg", "email", "", "Email Michael Montgomery")
            span mmontgomery@georgetown.edu
          a.icon-link.sm(href="tel:555-555-5555")
            +svg-sprite("img/sprites/media.svg", "phone", "", "Call Michael Montgomery")
            span 555-555-5555
        +txt-block("Personal Websites","","lg")
          div
            a(href="#") Nobis illo
          div
            a(href="#") Quod provident
          div
            a(href="#") Reprehenderit labore
      .border-end.reset.bottom.has-bg
        +txt-block("Primary Appointment","","lg")
          div Sample School of Business
        +txt-block("Secondary Appointment","","lg")
          div Sample School of Business
      .border-end.reset.bottom.has-bg
        +txt-block("Office Location","label","lg")
          div Hariri Building
        +txt-block("Office Hours (EST)","label","lg")
          strong.slds-m-vertical--x-small by appointment only
          div M: 12:30 - 3:00 PM
          div T: 2:00 - 4:00 PM
          div R: 3:00 - 4:45 PM
          div.slds-m-top--medium
            +btn-primary("btn-block", "", "Book Appointment", "views/faculty/profile.html#", false)
      .reset.bottom.has-bg
        +txt-block("Assitant","","lg")
          p Monica Martinez
          a.icon-link.sm
            +svg-sprite("img/sprites/media.svg", "email", "", "Email Monica Martinez")
            span mn4212@georgetown.edu
          .slds-m-top--medium
            +btn-primary("btn-block", "", "Request Mentoring", "!#", false)
            +btn-primary("btn-block", "", "Request Dissertation Reading", "!#", false)




block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      $(".toggleEndDate input[type=checkbox]").change(function() {
        $(this).parentsUntil('.date-group--month-year').next('.end-date').toggleClass("slds-hide", this.checked);
      }).change();
    });

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/faculty/profile-public.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Profile / Faculty - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-faculty.css"/>
    <link rel="stylesheet" href="./css/edit-block.css"/>
    <link rel="stylesheet" href="./css/profile.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/faculty/directory-faculty.html"><img src="img/navs/faculty/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/faculty/directory-alumni.html"><img src="img/navs/faculty/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/faculty/dashboard.html"><img src="img/navs/faculty/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg active" href="views/faculty/profile.html"><img src="img/navs/faculty/profile.svg" alt="My Profile"/><span class="name">My Profile</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a></div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/faculty/directory-faculty.html"><img src="img/navs/faculty/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/faculty/directory-alumni.html"><img src="img/navs/faculty/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a>
          <hr/><a class="icon-link lg" href="views/faculty/dashboard.html"><img src="img/navs/faculty/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg active" href="views/faculty/profile.html"><img src="img/navs/faculty/profile.svg" alt="My Profile"/><span class="name">My Profile</span></a>
        </nav>
      </div>
      <div class="content">
        <header class="gu-header">
          <div class="mobile-search"><span class="icon">
              <svg aria-hidden="true" title="Search">
                <use xlink:href="img/sprites/base.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
          </div>
          <div class="site-search">
            <div class="search-input">
              <label class="slds-assistive-text" for="search-input">Search</label>
              <input class="slds-input" id="search-input" type="text" placeholder="Search"/>
            </div>
            <div class="search-filters dropdown has-caret">
              <input type="checkbox" name="search-filter-dropdown" id="search-filter-dropdown"/>
              <label for="search-filter-dropdown">
                <div class="title">1 Selected</div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items">
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Faculty</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Classes</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Publications</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Expertise</button>
              </div>
            </div><a class="btn-reset search-btn" href="views/faculty/search-results.html">
              <div class="hidden-xs hidden-sm"><span class="icon">
                  <svg aria-hidden="true" title="Search">
                    <use xlink:href="img/sprites/base.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </div>
              <div class="visible-xs visible-sm">Find</div></a>
          </div>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status success"></div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items">
                <!--a(href="views/student/profile.html") Profile-->
                <!--a(href="views/student/documents.html") Documents-->
                <!--hr--><a href="views/student/documents.html">Student</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="views/faculty/directory-faculty-login.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header vertical">
                <div class="greeting txt-lg txt-gray">Welcome Back</div>
                <div class="edit-block" tabindex="0">
                  <div class="read update-block">
                    <h1 class="slds-text-heading--large slds-m-bottom--x-small">Michael Montgomery</h1>
                    <div class="icons"><span class="icon">
                        <svg class="icon" aria-hidden="true" title="Edit">
                          <use xlink:href="img/sprites/base.svg#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </div>
                  </div>
                  <div class="edit slds-hide">
                    <div class="item">
                      <fieldset>
                        <legend class="slds-m-bottom--x-small" for="display_name">Choose your display name</legend>
                        <div class="slds-m-bottom--x-small"><span class="gu-radio ">
                            <div class="uiInput uiInputRadio">
                              <label class="slds-radio__label form-element__label" for="legal_name">Michael Montgomery (Legal)</label>
                              <input id="legal_name" type="radio" name="display_name" checked="checked"/>
                            </div></span>
                        </div>
                        <div class="slds-m-bottom--x-small"><span class="gu-radio ">
                            <div class="uiInput uiInputRadio">
                              <label class="slds-radio__label form-element__label" for="preferred_name">Mike Montgomery (Preferred)</label>
                              <input id="preferred_name" type="radio" name="display_name"/>
                            </div></span>
                        </div>
                      </fieldset>
                    </div>
                    <div class="controls flex">
                      <div class="right"><a class="btn-action btn-update btn-cancel" href="#!" id=""><span class="title">Cancel</span><span class="icon">
                            <svg aria-hidden="true" title="cancel">
                              <use xlink:href="img/sprites/base.svg#cancel"></use>
                            </svg></span></a><a class="btn-action btn-update btn-save" href="#!" id=""><span class="title">Save</span><span class="icon">
                            <svg aria-hidden="true" title="save">
                              <use xlink:href="img/sprites/base.svg#save"></use>
                            </svg></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position">Professor of Business Administration</div>
                <div class="edit-block" tabindex="0">
                  <div class="read update-block">
                    <div class="role" id="role01txt">Sample School Professor of Business Administration and Professor of Finance</div>
                    <div class="role" id="role02txt">Director, Georgetown Center for Financial Markets and Policy</div>
                    <div class="icons"><span class="icon">
                        <svg class="icon" aria-hidden="true" title="Edit">
                          <use xlink:href="img/sprites/base.svg#edit" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </div>
                  </div>
                  <div class="edit slds-hide">
                    <div class="item">
                      <div class="slds-form-element gu-form-group">
                        <label class="slds-form-element__label field-label" for="role01input" data-balloon="Add your roles" data-balloon-pos="up"><span class="slds-assistive-text">Add your roles</span>
                          <div class="help-block"><span class="icon">
                              <svg aria-hidden="true" title="Help">
                                <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                              </svg></span>
                          </div>
                        </label>
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                          <svg class="slds-input__icon slds-icon-text-default btn-clear" aria-hidden="true">
                            <use xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#clear"></use>
                          </svg>
                          <input class="slds-input" id="role01input" value="Sample School Professor of Business Administration and Professor of Finance Director, Georgetown Center for Financial Markets and Policy"/>
                        </div>
                      </div>
                    </div>
                    <div class="controls flex">
                      <div class="right"><a class="btn-action btn-update btn-cancel" href="#!" id=""><span class="title">Cancel</span><span class="icon">
                            <svg aria-hidden="true" title="cancel">
                              <use xlink:href="img/sprites/base.svg#cancel"></use>
                            </svg></span></a><a class="btn-action btn-update btn-save" href="#!" id=""><span class="title">Save</span><span class="icon">
                            <svg aria-hidden="true" title="save">
                              <use xlink:href="img/sprites/base.svg#save"></use>
                            </svg></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="page-body ">
                <div class="page-header has-controls">
                  <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/faculty/profile.svg" alt="About Me"/>
                    <h1 class="slds-text-heading--large slds-m-bottom--x-small">About Me</h1>
                  </div>
                  <div class="controls">
                    <div class="title">Navigate to</div>
                    <div class="dropdown has-caret profile-subnav">
                      <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                      <label for="profile-subnav">
                        <div class="title"></div><span class="icon">
                          <svg aria-hidden="true" title="">
                            <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                          </svg></span>
                      </label>
                      <div class="dropdown-items"><a class="active" href="#">General Information</a><a href="views/faculty/research.html">Research and Scholarship</a><a href="views/faculty/publications.html">Publications</a><a href="views/faculty/my-lab.html">My Lab</a><a href="views/faculty/teaching.html">Teaching</a><a href="views/faculty/service-gu.html">Service to Georgetown</a><a href="views/faculty/service.html">Service to the Public</a><a href="views/faculty/mentoring.html">Mentoring</a><a href="views/faculty/grants.html">Grants and Awards</a><a href="views/faculty/news.html">In The News</a>
                      </div>
                    </div>
                  </div>
                </div>
                <h3 class="slds-section__title slds-m-top--x-small slds-m-bottom--x-small">Biographical Information</h3>
                <p>Professor Montgomery specializes in global financial markets, securities market regulation, capital raising, initial public offerings, institutional investors, private equity, valuation, stock exchange structure, and corporate governance. In 2015, his researchwas recognized for addressing global governance challenges and received the prestigious BlackRock-National Association of Corporate Directors Award. He was honored with the Allan N. Nash Distinguished Doctoral Graduate Award by University of Maryland. He serves on the editorial boards of major journals. He regularly presents his work to government agencies and at academic conferences. Dr. Aggarwal has previously held various positions including Interim Dean and Deputy Dean of Georgetown's SchoolName School of Business; Visiting Professor of Finance at MIT's Sloan School of Management; FINRA Academic Fellow; Academic Fellow at the U.S. SEC; Visiting Research Scholar at the International Monetary Fund; and Fulbright Scholar to Brazil.</p>
                <hr/>
                <h3 class="slds-section__title">General Information</h3>
                <div class="facet-grid--flex wrap large--6-of-12">
                  <div data-aura-rendered-by="data-aura-rendered-by">
                    <div class="ui-widget">
                      <div class="icon-block has-controls ">
                        <div class="heading"><span class="icon sm"><img src="img/languages.svg" alt="Languages"/></span>
                          <div class="title ">Languages</div>
                        </div>
                      </div>
                      <div class="read-only">
                        <div class="slds-text-longform txt-block">
                          <div><span class="name">Hindi</span> (speak, read, write)</div>
                        </div>
                        <div class="slds-text-longform txt-block">
                          <div><span class="name">English</span> (speak, read, write)</div>
                        </div>
                      </div>
                    </div>
                    <div class="ui-widget">
                      <div class="icon-block has-controls ">
                        <div class="heading"><span class="icon sm"><img src="img/certifications.svg" alt="Licensure &amp; Certifications"/></span>
                          <div class="title ">Licensure &amp; Certifications</div>
                        </div>
                        <div class="read-only">
                          <div class="slds-text-longform txt-block">
                            <div class="txt-block"><a class="name" href="#">Name of Certification</a>
                              <div class="txt-date">January 2014 - February 2017</div>
                              <div>Officia illum, eius optio. Voluptatem minus quae ratione, similique!</div>
                            </div>
                          </div>
                          <div class="slds-text-longform txt-block">
                            <div class="txt-block"><a class="name">Lorem Ipsum Chair</a>
                              <div class="txt-date">January 2014 - Present</div>
                              <div>Lorum Ipsum Dolar Sit Amet</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui-widget">
                      <div class="icon-block has-controls ">
                        <div class="heading"><span class="icon sm"><img src="img/affiliations.svg" alt="Professional Affiliations"/></span>
                          <div class="title ">Professional Affiliations</div>
                        </div>
                        <div class="read-only">
                          <div class="slds-text-longform txt-block">
                            <div class="name">Iure Soluta Chair</div>
                            <div class="txt-date">January 2014 - Present</div>
                            <div>Fuit assumenda explicabo incidunt ad natus recusandae</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui-widget">
                      <div class="icon-block has-controls ">
                        <div class="heading"><span class="icon sm"><img src="img/associations.svg" alt="Professional Associations"/></span>
                          <div class="title ">Professional Associations</div>
                        </div>
                        <div class="read-only">
                          <div class="slds-text-longform txt-block">
                            <div class="txt-block"><a class="name">Quos dolorem optio</a>
                              <div class="txt-date">January 2014 - Present</div>
                              <div>Lorum Ipsum Dolar Sit Amet</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui-widget">
                      <div class="icon-block has-controls ">
                        <div class="heading"><span class="icon sm"><img src="img/education.svg" alt="Education"/></span>
                          <div class="title ">Education</div>
                        </div>
                        <div class="read-only">
                          <div class="slds-text-longform txt-block">
                            <div class="name">University of Maryland</div>
                            <div>Finance - Ph.D.</div>
                          </div>
                          <div class="slds-text-longform txt-block">
                            <div class="name">B.I.T.S.</div>
                            <div>M.M.S. - Business Management</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui-widget">
                      <div class="icon-block has-controls ">
                        <div class="heading"><span class="icon sm"><img src="img/expertise.svg" alt="Expertise"/></span>
                          <div class="title ">Expertise</div>
                        </div>
                        <div class="read-only">
                          <div class="txt-block">
                            <div class="name">Expertise 1 Title</div>
                          </div>
                          <div class="txt-block">
                            <div class="name">Expertise 2 Title</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui-widget">
                      <div class="icon-block has-controls ">
                        <div class="heading"><span class="icon sm"><img src="img/interests.svg" alt="Interests"/></span>
                          <div class="title ">Interests</div>
                        </div>
                        <div class="read-only">
                          <div class="txt-block">
                            <div class="name">Interest 1 Title</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui-widget">
                      <div class="icon-block has-controls ">
                        <div class="heading"><span class="icon sm"><img src="img/consulting.svg" alt="Consulting Activities"/></span>
                          <div class="title ">Consulting Activities</div>
                        </div>
                        <div class="read-only">
                          <div class="txt-block">
                            <div class="name">User Acceptance Manager</div>
                            <div class="txt-date">January 2014 - Present</div><a>Lorum Ipsum Dolar Sit Amet</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar right">
            <div class="user-heading">
              <div class="user-photo xl" style="background-image:url('demo/user-alt.png');"></div>
              <div class="social-icons is-center has-bg"><a class="icon-link sm"><span class="icon">
                    <svg aria-hidden="true" title="Facebook">
                      <use xlink:href="img/sprites/media.svg#facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg></span></a><a class="icon-link sm"><span class="icon">
                    <svg aria-hidden="true" title="Twitter">
                      <use xlink:href="img/sprites/media.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg></span></a><a class="icon-link sm"><span class="icon">
                    <svg aria-hidden="true" title="LinkedIn">
                      <use xlink:href="img/sprites/media.svg#linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg></span></a><a class="icon-link sm"><span class="icon">
                    <svg aria-hidden="true" title="CV">
                      <use xlink:href="img/sprites/media.svg#cv" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg></span></a></div>
            </div>
            <div class="block has-bg">
              <div class="border-end reset bottom has-bg">
                <div class="txt-block lg">
                  <div class="title slds-section__title ">Contact</div><a class="icon-link sm" href="mailto:mmontgomery@georgetown.edu"><span class="icon">
                      <svg aria-hidden="true" title="Email Michael Montgomery">
                        <use xlink:href="img/sprites/media.svg#email" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                      </svg></span><span>mmontgomery@georgetown.edu</span></a><a class="icon-link sm" href="tel:555-555-5555"><span class="icon">
                      <svg aria-hidden="true" title="Call Michael Montgomery">
                        <use xlink:href="img/sprites/media.svg#phone" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                      </svg></span><span>555-555-5555</span></a>
                </div>
                <div class="txt-block lg">
                  <div class="title slds-section__title ">Personal Websites</div>
                  <div><a href="#">Nobis illo</a></div>
                  <div><a href="#">Quod provident</a></div>
                  <div><a href="#">Reprehenderit labore</a></div>
                </div>
              </div>
              <div class="border-end reset bottom has-bg">
                <div class="txt-block lg">
                  <div class="title slds-section__title ">Primary Appointment</div>
                  <div>Sample School of Business</div>
                </div>
                <div class="txt-block lg">
                  <div class="title slds-section__title ">Secondary Appointment</div>
                  <div>Sample School of Business</div>
                </div>
              </div>
              <div class="border-end reset bottom has-bg">
                <div class="txt-block lg">
                  <div class="title slds-section__title label">Office Location</div>
                  <div>Hariri Building</div>
                </div>
                <div class="txt-block lg">
                  <div class="title slds-section__title label">Office Hours (EST)</div><strong class="slds-m-vertical--x-small">by appointment only</strong>
                  <div>M: 12:30 - 3:00 PM</div>
                  <div>T: 2:00 - 4:00 PM</div>
                  <div>R: 3:00 - 4:45 PM</div>
                  <div class="slds-m-top--medium"><a class="btn-bs slds-button slds-button--brand btn-block" href="views/faculty/profile.html#" id="">Book Appointment</a>
                  </div>
                </div>
              </div>
              <div class="reset bottom has-bg">
                <div class="txt-block lg">
                  <div class="title slds-section__title ">Assitant</div>
                  <p>Monica Martinez</p><a class="icon-link sm"><span class="icon">
                      <svg aria-hidden="true" title="Email Monica Martinez">
                        <use xlink:href="img/sprites/media.svg#email" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                      </svg></span><span>mn4212@georgetown.edu</span></a>
                  <div class="slds-m-top--medium"><a class="btn-bs slds-button slds-button--brand btn-block" href="!#" id="">Request Mentoring</a><a class="btn-bs slds-button slds-button--brand btn-block" href="!#" id="">Request Dissertation Reading</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $(".toggleEndDate input[type=checkbox]").change(function() {
          $(this).parentsUntil('.date-group--month-year').next('.end-date').toggleClass("slds-hide", this.checked);
        }).change();
      });
    </script>
  </body>
</html>
