src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/faculty/search-results.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Search Results / Faculty - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-faculty.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/faculty/directory-faculty.html"><img src="img/navs/faculty/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/faculty/directory-alumni.html"><img src="img/navs/faculty/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/faculty/dashboard.html"><img src="img/navs/faculty/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/faculty/profile.html"><img src="img/navs/faculty/profile.svg" alt="My Profile"/><span class="name">My Profile</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a></div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/faculty/directory-faculty.html"><img src="img/navs/faculty/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/faculty/directory-alumni.html"><img src="img/navs/faculty/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a>
          <hr/><a class="icon-link lg" href="views/faculty/dashboard.html"><img src="img/navs/faculty/dashboard.svg" alt="Dashboard"/><span class="name">Dashboard</span></a><a class="icon-link lg" href="views/faculty/profile.html"><img src="img/navs/faculty/profile.svg" alt="My Profile"/><span class="name">My Profile</span></a>
        </nav>
      </div>
      <div class="content">
        <header class="gu-header">
          <div class="mobile-search"><span class="icon">
              <svg aria-hidden="true" title="Search">
                <use xlink:href="img/sprites/base.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg></span>
          </div>
          <div class="site-search">
            <div class="search-input">
              <label class="slds-assistive-text" for="search-input">Search</label>
              <input class="slds-input" id="search-input" type="text" placeholder="Search"/>
            </div>
            <div class="search-filters dropdown has-caret">
              <input type="checkbox" name="search-filter-dropdown" id="search-filter-dropdown"/>
              <label for="search-filter-dropdown">
                <div class="title">1 Selected</div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items">
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Faculty</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Classes</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Publications</button>
                <button class="slds-button slds-button--neutral btn-reset btn-reset filter-opt">Expertise</button>
              </div>
            </div><a class="btn-reset search-btn" href="views/faculty/search-results.html">
              <div class="hidden-xs hidden-sm"><span class="icon">
                  <svg aria-hidden="true" title="Search">
                    <use xlink:href="img/sprites/base.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </div>
              <div class="visible-xs visible-sm">Find</div></a>
          </div>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user_blank.jpg);"></div>
                <div class="detail">
                  <div class="name">Tony Montemorano</div>
                  <div class="status success"></div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items">
                <!--a(href="views/student/profile.html") Profile-->
                <!--a(href="views/student/documents.html") Documents-->
                <!--hr--><a href="views/student/documents.html">Student</a><a href="views/alumni/giving.html">Alumni</a>
                <hr/><a href="views/faculty/directory-faculty-login.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header">
                <div class="flex all">
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Search Results</h1>
                </div>
                <div class="description">
                  <p>Itaque temporibus corrupti debitis rerum ipsam obcaecati unde veniam placeat sapiente omnis repudiandae nam, amet delectus fugiat quia illum, modi esse ea animi. Sunt, obcaecati doloremque mollitia nam earum, atque perferendis natus nesciunt dolore illo, fuga explicabo nobis asperiores nemo.</p>
                </div>
                <hr class="slds-p-bottom--none"/>
              </div>
              <div class="page-body ">
                <h3 class="slds-section__title slds-m-bottom--small">Faculty</h3>
                <div class="item-group">
                  <div class="item slds-m-bottom--small"><a href="!#">Reena <span class="highlight">Aggarwal</span></a>
                    <div>Sample School of Business Administration</div>
                    <div>Robert E. McDonough Professor of Business Administration and Professor of Finance</div>
                    <div>Director, Georgetown Center for Financial Markets and Policy</div>
                  </div>
                </div>
                <h3 class="slds-section__title slds-m-bottom--small slds-m-top--large">Classes</h3>
                <div class="item-group">
                            <div class="item slds-m-bottom--small"><a href="!#">EMBA-806 Finance</a>, <a href="!#">Reena <span class="highlight">Aggarwal</span></a>, <span>Spring 2017</span>
                            </div>
                            <div class="item slds-m-bottom--small"><a href="!#">EMBA-804 Finance</a>, <a href="!#">Reena <span class="highlight">Aggarwal</span></a>, <span>Spring 2017</span>
                            </div>
                            <div class="item slds-m-bottom--small"><a href="!#">EMBA-801 Finance</a>, <a href="!#">Reena <span class="highlight">Aggarwal</span></a>, <span>Spring 2017</span>
                            </div>
                            <div class="item slds-m-bottom--small"><a href="!#">EMBA-812 Finance</a>, <a href="!#">Reena <span class="highlight">Aggarwal</span></a>, <span>Summer 2017</span>
                            </div>
                            <div class="item slds-m-bottom--small"><a href="!#">EMBA-814 Finance</a>, <a href="!#">Reena <span class="highlight">Aggarwal</span></a>, <span>Fall 2017</span>
                            </div>
                </div>
                <h3 class="slds-section__title slds-m-bottom--small slds-m-top--large">Publications</h3>
                <div class="item-group">
                            <div class="item slds-m-bottom--small"><a href="#!">The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.</a>
                              <div><span>Reena <span class="highlight">Aggarwal</span></span> <span>, Pedro Saffi, and Jason Sturgess.</span>
                              </div>
                              <div class="italic">Journal of FInance (2016)</div>
                            </div>
                            <div class="item slds-m-bottom--small"><a href="#!">The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.</a>
                              <div><span>Reena <span class="highlight">Aggarwal</span></span> <span>, Pedro Saffi, and Jason Sturgess.</span>
                              </div>
                              <div class="italic">Journal of FInance (2016)</div>
                            </div>
                            <div class="item slds-m-bottom--small"><a href="#!">The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.</a>
                              <div><span>Reena <span class="highlight">Aggarwal</span></span> <span>, Pedro Saffi, and Jason Sturgess.</span>
                              </div>
                              <div class="italic">Journal of FInance (2016)</div>
                            </div>
                            <div class="item slds-m-bottom--small"><a href="#!">The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.</a>
                              <div><span>Reena <span class="highlight">Aggarwal</span></span> <span>, Pedro Saffi, and Jason Sturgess.</span>
                              </div>
                              <div class="italic">Journal of FInance (2016)</div>
                            </div>
                            <div class="item slds-m-bottom--small"><a href="#!">The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.</a>
                              <div><span>Reena <span class="highlight">Aggarwal</span></span> <span>, Pedro Saffi, and Jason Sturgess.</span>
                              </div>
                              <div class="italic">Journal of FInance (2016)</div>
                            </div>
                </div>
                <div class="load-more">
                  <button class="btn-reset">Load More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/faculty/search-results.pug

extends ../../layout/default-authenticated.pug

include partials/faculty-includes.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = '';

block title
  title Search Results / Faculty - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-faculty.css")

block content
  mixin class-item(class_name, first_name, last_name, class_date)
    .item.slds-m-bottom--small
      a(href="!#")= class_name
      |,
      +space()
      a(href="!#")= first_name
        +space()
        span.highlight= last_name
      |,
      +space()
      span= class_date

  mixin publication-item(publication_title, publication_url, publication)
    .item.slds-m-bottom--small
      a(href=publication_url)= publication_title
      div
        block
        +space()
        span , Pedro Saffi, and Jason Sturgess.
      .italic= publication

  +page-wrapper("","")
    .page-header
      .flex.all
        h1.slds-text-heading--large.slds-m-bottom--x-small Search Results
      .description
        p Itaque temporibus corrupti debitis rerum ipsam obcaecati unde veniam placeat sapiente omnis repudiandae nam, amet delectus fugiat quia illum, modi esse ea animi. Sunt, obcaecati doloremque mollitia nam earum, atque perferendis natus nesciunt dolore illo, fuga explicabo nobis asperiores nemo.
      hr.slds-p-bottom--none
    +page-content-wrapper("")
      h3.slds-section__title.slds-m-bottom--small Faculty
      .item-group
        .item.slds-m-bottom--small
          a(href="!#") Reena
            +space()
            span.highlight Aggarwal
          div Sample School of Business Administration
          div Robert E. McDonough Professor of Business Administration and Professor of Finance
          div Director, Georgetown Center for Financial Markets and Policy

      h3.slds-section__title.slds-m-bottom--small.slds-m-top--large Classes
      .item-group
        +class-item("EMBA-806 Finance", "Reena", "Aggarwal", "Spring 2017")
        +class-item("EMBA-804 Finance", "Reena", "Aggarwal", "Spring 2017")
        +class-item("EMBA-801 Finance", "Reena", "Aggarwal", "Spring 2017")
        +class-item("EMBA-812 Finance", "Reena", "Aggarwal", "Summer 2017")
        +class-item("EMBA-814 Finance", "Reena", "Aggarwal", "Fall 2017")

      h3.slds-section__title.slds-m-bottom--small.slds-m-top--large Publications
      .item-group
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
        +publication-item("The Role of Institutional Investors in Voting: Evidence from the Securities Lending Market.", "#!", "Journal of FInance (2016)")
          span Reena
            +space()
            span.highlight Aggarwal
      .load-more
        button.btn-reset Load More







block left-sidebar
  include partials/faculty-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
