src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/alumni/giving.pug
extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'giving';

block title
  title Giving / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/giving.css")
  link(rel="stylesheet", href="./css/progress.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  mixin giving-hero-box(progress_amount, photo_url, title, description)
    .box.giving-card.lg
      .progress--container-radial

        div(class= 'progress--radial progress--' + progress_amount)
        img.progress-photo(src= photo_url, alt="")
        .complete-indicator
          +svg("img/star.svg", "", "Campaign Success!")
      .detail
        a.title(href="views/alumni/giving-detail.html")= title
        .description= description
        block
  mixin giving-box(title, description)
    .box.giving-card.sm
      .detail
        a.title(href="views/alumni/giving-detail.html")= title
        .description= description
        block

  +page-wrapper("","")
    +page-header("Giving", "has-controls", "img/navs/alumni/giving.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") Giving Opportunities
        a(href="views/alumni/my-giving.html") My Giving
      .slds-grid.slds-wrap.slds-grid--pull-padded.slds-m-top--medium.slds-col.slds-grid--vertical-align-center
        .slds-col.slds-size--1-of-1.slds-large-size--9-of-12.slds-p-horizontal--small
          .description
            p This giving history is not a comprehensive list of all possible gifts made to Georgetown. Outright gifts made to Georgetown in the last five calendar and fiscal years are included here, but you may have pledges, anonymous gifts, and other gifts that are not displayed. If you feel that this helprmation is incorrect in any way, please contact Gift Accounting:
        .slds-col.slds-size--1-of-1.slds-large-size--3-of-12.slds-p-horizontal--small
          .contact-card
            a.card-detail-wraper
              +svg-sprite("img/sprites/media.svg", "phone-fill", "", "")
              span.detail (800) 424-2795
            a.card-detail-wraper
              +svg-sprite("img/sprites/media.svg", "email-fill", "", "")
              span.detail giving@georgetown.edu

    +page-content-wrapper("")
      +page-section("")
        +card-group("")
          +card("")
            +card-title("Giving Opportunities", "has-controls", true, "")
              .title.slds-m-right--small View
              +dropdown("page-subnav", "page-subnav", "Recommended for Me", true)
                a.active(href="#") Recommended for Me
                a(href="#") New Opportunities
            +card-content("")
              .slds-p-horizontal--large
                +grid("box-grid hero wrap stretch", "large", "6-of-12")
                  +grid-col()
                    +giving-hero-box("50", "https://placeimg.com/640/480/tech", "Very Long Campaign name that goes on to a second line", "Ex perferendis repellendus eveniet quisquam sint amet possimus iusto itaque sit, soluta architecto, beatae nisi totam nesciunt quos animi dolor?")
                      .controls
                        a.btn-bs.slds-button.btn-success.btn-give.active.btn-lg(href="#") Give Now!
                  +grid-col()
                    +giving-hero-box("100", "https://placeimg.com/640/480/animals", "Facilis nulla expedita debitis", "Odio dicta laborum, dolorum et veritatis provident quae hic assumenda officiis placeat aperiam?")
                      .controls
                        img.success-msg(src="img/campaign-success.svg", alt="Campaign Success - Thank you!")
                +grid("box-grid default wrap stretch", "large", "4-of-12")
                  +grid-col()
                    +giving-box("Facilis nulla expedita debitis", "Odio dicta laborum, dolorum et veritatis provident quae hic assumenda officiis placeat aperiam?")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        a.btn-bs.slds-button.btn-success.btn-give() Give Now!
                  +grid-col()
                    +giving-box("Labore aliquid totam odio deleniti! Neque, deserunt.", "Quidem porro, possimus voluptatem assumenda consectetur eaque odit sed nihil quas ducimus necessitatibus sapiente. Tempora quam non saepe ratione esse, possimus quae.")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        a.btn-bs.slds-button.btn-success.btn-give() Give Now!
                  +grid-col()
                    +giving-box("Beatae, consequuntur totam provident!", "Dignissimos minima, reprehenderit eveniet sed. Placeat ad et quidem temporibus exercitationem ducimus.")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        img.success-msg(src="img/campaign-success.svg", alt="Campaign Success - Thank you!")
                  +grid-col()
                    +giving-box("Dicta possimus laudantium, pariatur voluptatibus quod at esse numquam!", "Officia culpa ratione id unde, incidunt minus ex iusto, dicta perspiciatis amet voluptatum repellendus perferendis! Vero minus, cupiditate doloremque alias, ea animi.")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        a.btn-bs.slds-button.btn-success.btn-give() Give Now!
                  +grid-col()
                    +giving-box("Labore aliquid totam odio deleniti! Neque, deserunt.", "Quidem porro, possimus voluptatem assumenda consectetur eaque odit sed nihil quas ducimus necessitatibus sapiente. Tempora quam non saepe ratione esse, possimus quae.")
                      .controls.spaced
                        +btn-default("", "", "Learn More", "#", false)
                        a.btn-bs.slds-button.btn-success.btn-give() Give Now!


block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      // Expand and collapse detail rows
      $('.expand').click(function () {
        $(this).next('.table-row-collapsed').toggleClass('hidden');
      });
    });

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/alumni/giving.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Giving / Alumni - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/table.css"/>
    <link rel="stylesheet" href="./css/giving.css"/>
    <link rel="stylesheet" href="./css/progress.css"/>
    <link rel="stylesheet" href="./css/theme-alumni.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a><a class="icon-link lg active" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a>
          <hr/><a class="icon-link lg active" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
        </nav>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small"><a class="btn-bs slds-button btn-success active btn-lg btn-block" href="/views/alumni/profile-view.html"><span>Give to GU</span><span class="icon"><img aria-hidden="true" title="Give to GU" src="img/give-active.svg"/></span></a></div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="messages" href="views/alumni/messages.html"><span class="icon"><img class="Messages" aria-hidden="true" src="img/navs/alumni/messages.svg"/></span>
            <div class="circle"><span class="number">2</span></div></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user-alumni.jpg);"></div>
                <div class="detail">
                  <div class="name">Henry Almaguer Kamph</div>
                  <div class="status warning">hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/alumni/profile-edit.html">My Profile</a><a href="views/alumni/messages.html">My Messages</a><a href="views/alumni/documents.html">My Documents</a>
                <hr/><a href="views/student/dashboard.html">Student</a><a href="views/faculty/dashboard.html">Faculty</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/alumni/giving.svg" alt="Giving"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Giving</h1>
                </div>
                <div class="controls">
                  <div class="title">Select Page</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a class="active" href="#">Giving Opportunities</a><a href="views/alumni/my-giving.html">My Giving</a>
                    </div>
                  </div>
                </div>
                <div class="slds-grid slds-wrap slds-grid--pull-padded slds-m-top--medium slds-col slds-grid--vertical-align-center">
                  <div class="slds-col slds-size--1-of-1 slds-large-size--9-of-12 slds-p-horizontal--small">
                    <div class="description">
                      <p>This giving history is not a comprehensive list of all possible gifts made to Georgetown. Outright gifts made to Georgetown in the last five calendar and fiscal years are included here, but you may have pledges, anonymous gifts, and other gifts that are not displayed. If you feel that this helprmation is incorrect in any way, please contact Gift Accounting:</p>
                    </div>
                  </div>
                  <div class="slds-col slds-size--1-of-1 slds-large-size--3-of-12 slds-p-horizontal--small">
                    <div class="contact-card"><a class="card-detail-wraper"><span class="icon">
                          <svg aria-hidden="true" title="">
                            <use xlink:href="img/sprites/media.svg#phone-fill" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                          </svg></span><span class="detail">(800) 424-2795</span></a><a class="card-detail-wraper"><span class="icon">
                          <svg aria-hidden="true" title="">
                            <use xlink:href="img/sprites/media.svg#email-fill" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                          </svg></span><span class="detail">giving@georgetown.edu</span></a></div>
                  </div>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section undefined">
                  <div class="card-group ">
                    <div class="card ">
                      <div class="card-title has-controls">
                        <h2>Giving Opportunities</h2>
                        <div class="controls ">
                          <div class="title slds-m-right--small">View</div>
                          <div class="dropdown has-caret page-subnav">
                            <input type="checkbox" name="page-subnav" id="page-subnav"/>
                            <label for="page-subnav">
                              <div class="title">Recommended for Me</div><span class="icon">
                                <svg aria-hidden="true" title="">
                                  <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></span>
                            </label>
                            <div class="dropdown-items"><a class="active" href="#">Recommended for Me</a><a href="#">New Opportunities</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-content ">
                        <div class="slds-p-horizontal--large">
                          <div class="facet-grid--flex box-grid hero wrap stretch large--6-of-12">
                            <div data-aura-rendered-by="data-aura-rendered-by">
                              <div class="ui-widget">
                                          <div class="box giving-card lg">
                                            <div class="progress--container-radial">
                                              <div class="progress--radial progress--50"></div><img class="progress-photo" src="https://placeimg.com/640/480/tech" alt=""/>
                                              <div class="complete-indicator"><span class="icon"><img aria-hidden="true" title="Campaign Success!" src="img/star.svg"/></span>
                                              </div>
                                            </div>
                                            <div class="detail"><a class="title" href="views/alumni/giving-detail.html">Very Long Campaign name that goes on to a second line</a>
                                              <div class="description">Ex perferendis repellendus eveniet quisquam sint amet possimus iusto itaque sit, soluta architecto, beatae nisi totam nesciunt quos animi dolor?</div>
                                              <div class="controls"><a class="btn-bs slds-button btn-success btn-give active btn-lg" href="#">Give Now!</a></div>
                                            </div>
                                          </div>
                              </div>
                              <div class="ui-widget">
                                          <div class="box giving-card lg">
                                            <div class="progress--container-radial">
                                              <div class="progress--radial progress--100"></div><img class="progress-photo" src="https://placeimg.com/640/480/animals" alt=""/>
                                              <div class="complete-indicator"><span class="icon"><img aria-hidden="true" title="Campaign Success!" src="img/star.svg"/></span>
                                              </div>
                                            </div>
                                            <div class="detail"><a class="title" href="views/alumni/giving-detail.html">Facilis nulla expedita debitis</a>
                                              <div class="description">Odio dicta laborum, dolorum et veritatis provident quae hic assumenda officiis placeat aperiam?</div>
                                              <div class="controls"><img class="success-msg" src="img/campaign-success.svg" alt="Campaign Success - Thank you!"/></div>
                                            </div>
                                          </div>
                              </div>
                            </div>
                          </div>
                          <div class="facet-grid--flex box-grid default wrap stretch large--4-of-12">
                            <div data-aura-rendered-by="data-aura-rendered-by">
                              <div class="ui-widget">
                                          <div class="box giving-card sm">
                                            <div class="detail"><a class="title" href="views/alumni/giving-detail.html">Facilis nulla expedita debitis</a>
                                              <div class="description">Odio dicta laborum, dolorum et veritatis provident quae hic assumenda officiis placeat aperiam?</div>
                                              <div class="controls spaced"><a class="btn-bs slds-button slds-button--neutral " href="#" id="">Learn More</a><a class="btn-bs slds-button btn-success btn-give">Give Now!</a>
                                              </div>
                                            </div>
                                          </div>
                              </div>
                              <div class="ui-widget">
                                          <div class="box giving-card sm">
                                            <div class="detail"><a class="title" href="views/alumni/giving-detail.html">Labore aliquid totam odio deleniti! Neque, deserunt.</a>
                                              <div class="description">Quidem porro, possimus voluptatem assumenda consectetur eaque odit sed nihil quas ducimus necessitatibus sapiente. Tempora quam non saepe ratione esse, possimus quae.</div>
                                              <div class="controls spaced"><a class="btn-bs slds-button slds-button--neutral " href="#" id="">Learn More</a><a class="btn-bs slds-button btn-success btn-give">Give Now!</a>
                                              </div>
                                            </div>
                                          </div>
                              </div>
                              <div class="ui-widget">
                                          <div class="box giving-card sm">
                                            <div class="detail"><a class="title" href="views/alumni/giving-detail.html">Beatae, consequuntur totam provident!</a>
                                              <div class="description">Dignissimos minima, reprehenderit eveniet sed. Placeat ad et quidem temporibus exercitationem ducimus.</div>
                                              <div class="controls spaced"><a class="btn-bs slds-button slds-button--neutral " href="#" id="">Learn More</a><img class="success-msg" src="img/campaign-success.svg" alt="Campaign Success - Thank you!"/>
                                              </div>
                                            </div>
                                          </div>
                              </div>
                              <div class="ui-widget">
                                          <div class="box giving-card sm">
                                            <div class="detail"><a class="title" href="views/alumni/giving-detail.html">Dicta possimus laudantium, pariatur voluptatibus quod at esse numquam!</a>
                                              <div class="description">Officia culpa ratione id unde, incidunt minus ex iusto, dicta perspiciatis amet voluptatum repellendus perferendis! Vero minus, cupiditate doloremque alias, ea animi.</div>
                                              <div class="controls spaced"><a class="btn-bs slds-button slds-button--neutral " href="#" id="">Learn More</a><a class="btn-bs slds-button btn-success btn-give">Give Now!</a>
                                              </div>
                                            </div>
                                          </div>
                              </div>
                              <div class="ui-widget">
                                          <div class="box giving-card sm">
                                            <div class="detail"><a class="title" href="views/alumni/giving-detail.html">Labore aliquid totam odio deleniti! Neque, deserunt.</a>
                                              <div class="description">Quidem porro, possimus voluptatem assumenda consectetur eaque odit sed nihil quas ducimus necessitatibus sapiente. Tempora quam non saepe ratione esse, possimus quae.</div>
                                              <div class="controls spaced"><a class="btn-bs slds-button slds-button--neutral " href="#" id="">Learn More</a><a class="btn-bs slds-button btn-success btn-give">Give Now!</a>
                                              </div>
                                            </div>
                                          </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        // Expand and collapse detail rows
        $('.expand').click(function () {
          $(this).next('.table-row-collapsed').toggleClass('hidden');
        });
      });
    </script>
  </body>
</html>
