src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/alumni/grid.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Grid / Alumni - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/table.css"/>
    <link rel="stylesheet" href="./css/giving.css"/>
    <link rel="stylesheet" href="./css/theme-alumni.css"/>
    <style>
      .ui-widget > div {
        border:1px solid #aaa;
        padding:10px;
      }
      
    </style>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a>
          <hr/><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
        </nav>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small"><a class="btn-bs slds-button btn-success active btn-lg btn-block" href="/views/alumni/profile-view.html"><span>Give to GU</span><span class="icon"><img aria-hidden="true" title="Give to GU" src="img/give-active.svg"/></span></a></div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="messages" href="views/alumni/messages.html"><span class="icon"><img class="Messages" aria-hidden="true" src="img/navs/alumni/messages.svg"/></span>
            <div class="circle"><span class="number">2</span></div></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user-alumni.jpg);"></div>
                <div class="detail">
                  <div class="name">Henry Almaguer Kamph</div>
                  <div class="status warning">hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/alumni/profile-edit.html">My Profile</a><a href="views/alumni/messages.html">My Messages</a><a href="views/alumni/documents.html">My Documents</a>
                <hr/><a href="views/student/dashboard.html">Student</a><a href="views/faculty/dashboard.html">Faculty</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/alumni/giving.svg" alt="Gridding"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Gridding</h1>
                </div>
                <div class="controls">
                  <div class="title">Select Page</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a class="active" href="#">Gridding Opportunities</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section undefined">
                  <div class="card-group ">
                    <div class="card ">
                      <div class="card-title has-controls">
                        <h2>My Griding</h2>
                        <div class="controls ">
                        </div>
                      </div>
                      <div class="card-content slds-p-around--large">
                        <h3>Grid with break points</h3>
                        <div class="facet-grid--flex wrap small--6-of-12">
                          <div data-aura-rendered-by="data-aura-rendered-by">
                            <div class="ui-widget">
                              <p>col 1 of 2 - medium breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 2 of 2 - medium breakpoint</p>
                            </div>
                          </div>
                        </div>
                        <div class="facet-grid--flex wrap large--4-of-12">
                          <div data-aura-rendered-by="data-aura-rendered-by">
                            <div class="ui-widget">
                              <p>col 1 of 3 - large breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 2 of 3 - large breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 3 of 3 - large breakpoint</p>
                            </div>
                          </div>
                        </div>
                        <div class="facet-grid--flex wrap small--3-of-12">
                          <div data-aura-rendered-by="data-aura-rendered-by">
                            <div class="ui-widget">
                              <p>col 1 of 4 - small breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 2 of 4 - small breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 3 of 4 - small breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 4 of 4 - small breakpoint</p>
                            </div>
                          </div>
                        </div>
                        <hr/>
                        <h3>Grid cells with padding</h3>
                        <div class="facet-grid--flex wrap small--3-of-12">
                          <div data-aura-rendered-by="data-aura-rendered-by">
                            <div class="ui-widget">
                              <p>col 1 of 4 - small breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 2 of 4 - small breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 3 of 4 - small breakpoint</p>
                            </div>
                            <div class="ui-widget">
                              <p>col 4 of 4 - small breakpoint</p>
                            </div>
                          </div>
                        </div>
                        <hr/>
                        <h3>Grid without breakpoints</h3>
                        <div class="facet-grid--flex wrap">
                          <div class="ui-widget">
                            <p>col 1 of 2 - medium breakpoint</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 2 of 2 - medium breakpoint</p>
                          </div>
                        </div>
                        <div class="facet-grid--flex wrap">
                          <div class="ui-widget">
                            <p>col 1 of 3 - large breakpoint</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 2 of 3 - large breakpoint</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 3 of 3 - large breakpoint</p>
                          </div>
                        </div>
                        <div class="facet-grid--flex wrap">
                          <div class="ui-widget">
                            <p>col 1 of 4 - small breakpoint</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 2 of 4 - small breakpoint</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 3 of 4 - small breakpoint</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 4 of 4 - small breakpoint</p>
                          </div>
                        </div>
                        <hr/>
                        <h3>Grid without set columns and with wrapping</h3>
                        <p class="slds-m-bottom--large">The first column has a fixed width of 400px, the others are 200px. Each will wrap when they run out of room.</p>
                        <div class="facet-grid--flex wrap">
                          <div class="ui-widget">
                            <p style="width:400px;">This column is set to 400px</p>
                          </div>
                          <div class="ui-widget">
                            <p style="width:200px;">col 2 of 4 - this will wrap when it runs out of room</p>
                          </div>
                          <div class="ui-widget">
                            <p style="width:200px;">col 3 of 4 - this will wrap when it runs out of room</p>
                          </div>
                          <div class="ui-widget">
                            <p style="width:200px;">col 4 of 4 - this will wrap when it runs out of room</p>
                          </div>
                        </div>
                        <hr/>
                        <h3>Grid without set columns and without wrapping</h3>
                        <p class="slds-m-bottom--large">These columns will match their siblings widths but will not wrap when they run out of space.</p>
                        <div class="facet-grid--flex wrap">
                          <div class="ui-widget">
                            <p>col 1 of 8 - Eos, tempore quam laboriosam officia, laudantium at aperiam laborum iusto ullam maxime necessitatibus.</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 2 of 8</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 3 of 8</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 4 of 8 - Fuga soluta tenetur repudiandae earum! Atque, blanditiis!</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 5 of 8</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 6 of 8</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 7 of 8</p>
                          </div>
                          <div class="ui-widget">
                            <p>col 8 of 8</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        // Expand and collapse detail rows
        $('.expand').click(function () {
          $(this).next('.table-row-collapsed').toggleClass('hidden');
        });
      });
    </script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/alumni/grid.pug
extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'grid';

block title
  title Grid / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/giving.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")
  style.
    .ui-widget > div {
      border:1px solid #aaa;
      padding:10px;
    }

block content
  +page-wrapper("","")
    +page-header("Gridding", "has-controls", "img/navs/alumni/giving.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") Gridding Opportunities

    +page-content-wrapper("")
      +page-section("")
        +card-group("")
          +card("")
            +card-title("My Griding", "has-controls", true, "")
            +card-content("slds-p-around--large")

              h3 Grid with break points
              +grid("wrap", "small", "6-of-12")
                +grid-col("")
                  p col 1 of 2 - medium breakpoint
                +grid-col("")
                  p col 2 of 2 - medium breakpoint
              +grid("wrap", "large", "4-of-12")
                +grid-col("")
                  p col 1 of 3 - large breakpoint
                +grid-col("")
                  p col 2 of 3 - large breakpoint
                +grid-col("")
                  p col 3 of 3 - large breakpoint
              +grid("wrap", "small", "3-of-12")
                +grid-col("")
                  p col 1 of 4 - small breakpoint
                +grid-col("")
                  p col 2 of 4 - small breakpoint
                +grid-col("")
                  p col 3 of 4 - small breakpoint
                +grid-col("")
                  p col 4 of 4 - small breakpoint

              hr
              h3 Grid cells with padding
              +grid("wrap", "small", "3-of-12")
                +grid-col("")
                  p col 1 of 4 - small breakpoint
                +grid-col("")
                  p col 2 of 4 - small breakpoint
                +grid-col("")
                  p col 3 of 4 - small breakpoint
                +grid-col("")
                  p col 4 of 4 - small breakpoint

              hr

              h3 Grid without breakpoints
              +grid("wrap", "", "6-of-12")
                +grid-col("")
                  p col 1 of 2 - medium breakpoint
                +grid-col("")
                  p col 2 of 2 - medium breakpoint
              +grid("wrap", "", "4-of-12")
                +grid-col("")
                  p col 1 of 3 - large breakpoint
                +grid-col("")
                  p col 2 of 3 - large breakpoint
                +grid-col("")
                  p col 3 of 3 - large breakpoint
              +grid("wrap", "", "3-of-12")
                +grid-col("")
                  p col 1 of 4 - small breakpoint
                +grid-col("")
                  p col 2 of 4 - small breakpoint
                +grid-col("")
                  p col 3 of 4 - small breakpoint
                +grid-col("")
                  p col 4 of 4 - small breakpoint

              hr

              h3 Grid without set columns and with wrapping
              p.slds-m-bottom--large The first column has a fixed width of 400px, the others are 200px. Each will wrap when they run out of room.
              +grid("wrap", "", "")
                +grid-col("")
                  p(style="width:400px") This column is set to 400px
                +grid-col("")
                  p(style="width:200px") col 2 of 4 - this will wrap when it runs out of room
                +grid-col("")
                  p(style="width:200px") col 3 of 4 - this will wrap when it runs out of room
                +grid-col("")
                  p(style="width:200px") col 4 of 4 - this will wrap when it runs out of room

              hr

              h3 Grid without set columns and without wrapping
              p.slds-m-bottom--large These columns will match their siblings widths but will not wrap when they run out of space.
              +grid("wrap", "", "")
                +grid-col("")
                  p col 1 of 8 - Eos, tempore quam laboriosam officia, laudantium at aperiam laborum iusto ullam maxime necessitatibus.
                +grid-col("")
                  p col 2 of 8
                +grid-col("")
                  p col 3 of 8
                +grid-col("")
                  p col 4 of 8 - Fuga soluta tenetur repudiandae earum! Atque, blanditiis!
                +grid-col("")
                  p col 5 of 8
                +grid-col("")
                  p col 6 of 8
                +grid-col("")
                  p col 7 of 8
                +grid-col("")
                  p col 8 of 8





block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      // Expand and collapse detail rows
      $('.expand').click(function () {
        $(this).next('.table-row-collapsed').toggleClass('hidden');
      });
    });
