src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/alumni/groups.pug
extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/directory-item.pug
include ../../modules/input-edit.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'groups';

block title
  title Groups / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  +page-wrapper("","")
    +page-header("My Groups", "has-controls", "img/navs/alumni/groups.svg")
      +page-header-controls(true, "Select Page")
        a(href="views/alumni/messages.html") My Messages
        a.active(href="#") My Groups

    +page-content-wrapper("")
      .page-section.slds-grid.slds-wrap.slds-grid--pull-padded
        .card-group.slds-p-horizontal--small
          .card
            .card-content
              .card-title.has-controls
                +input-text("", "slds-input-has-icon slds-input-has-icon--right", "group-search", "Search Groups", "")(placeholder="Search groups")
                  svg(class="slds-input__icon slds-icon-text-default btn-clear", aria-hidden="true")
                    use(xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#search")
                .controls.slds-grid.slds-grid--vertical-align-center
                  +btn-default("slds-m-left--small", "", "New group", "#!")

                table.slds-table.slds-table--striped.slds-no-row-hover.table-default.slds-m-top--large
                  thead.t-head
                    tr.t-head-row
                      th.c-head
                      th.c-head(data-sortable="true") Group Name
                      th.c-head(data-sortable="true") Last Activity
                      th.c-head(data-sortable="false") Membership
                  tbody.t-body
                    +directory-item-group("Group Name", "Praesentium velit nobis quidem modi nisi enim repellat obcaecati dicta explicabo libero repellendus consequatur commodi", "http://lorempixel.com/output/technics-q-c-200-200-1.jpg", "#")
                      td.c-body 01/21/2017
                      td.c-body Member
                    +directory-item-group("Et aliquam harum sapiente", "Enim ea nulla in, repellendus repellat ex libero architecto fugiat, reiciendis sint molestias facere saepe, iusto sed minus voluptatum placeat dignissimos vitae aut culpa.", "http://lorempixel.com/output/technics-q-c-200-200-2.jpg", "#")
                      td.c-body 01/21/2017
                      td.c-body Member
                    +directory-item-group("Libero assumenda delectus", "Expedita suscipit minus aut doloremque delectus repellat ducimus maiores, ullam libero atque", "http://lorempixel.com/output/technics-q-c-200-200-3.jpg", "#")
                      td.c-body 01/21/2017
                      td.c-body Member

block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/alumni/groups.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Groups / Alumni - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/table.css"/>
    <link rel="stylesheet" href="./css/theme-alumni.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a>
          <hr/><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
        </nav>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small"><a class="btn-bs slds-button btn-success active btn-lg btn-block" href="/views/alumni/profile-view.html"><span>Give to GU</span><span class="icon"><img aria-hidden="true" title="Give to GU" src="img/give-active.svg"/></span></a></div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="messages" href="views/alumni/messages.html"><span class="icon"><img class="Messages" aria-hidden="true" src="img/navs/alumni/messages.svg"/></span>
            <div class="circle"><span class="number">2</span></div></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user-alumni.jpg);"></div>
                <div class="detail">
                  <div class="name">Henry Almaguer Kamph</div>
                  <div class="status warning">hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/alumni/profile-edit.html">My Profile</a><a href="views/alumni/messages.html">My Messages</a><a href="views/alumni/documents.html">My Documents</a>
                <hr/><a href="views/student/dashboard.html">Student</a><a href="views/faculty/dashboard.html">Faculty</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/alumni/groups.svg" alt="My Groups"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">My Groups</h1>
                </div>
                <div class="controls">
                  <div class="title">Select Page</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a href="views/alumni/messages.html">My Messages</a><a class="active" href="#">My Groups</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section slds-grid slds-wrap slds-grid--pull-padded">
                  <div class="card-group slds-p-horizontal--small">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-title has-controls">
                          <div class="slds-form-element ">
                            <label class="slds-form-element__label field-label" for="group-search" data-balloon="Search Groups" data-balloon-pos="up"><span class="slds-assistive-text">Search Groups</span>
                              <div class="help-block"><span class="icon">
                                  <svg aria-hidden="true" title="Help">
                                    <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg></span>
                              </div>
                            </label>
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                              <svg class="slds-input__icon slds-icon-text-default btn-clear" aria-hidden="true">
                                <use xlink:href="../../bower_components/salesforce-lightning-design-system/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                              </svg>
                              <input class="slds-input" id="group-search" placeholder="Search groups"/>
                            </div>
                          </div>
                          <div class="controls slds-grid slds-grid--vertical-align-center"><a class="btn-bs slds-button slds-button--neutral slds-m-left--small" href="#!" id="">New group</a>
                          </div>
                          <table class="slds-table slds-table--striped slds-no-row-hover table-default slds-m-top--large">
                            <thead class="t-head">
                              <tr class="t-head-row">
                                <th class="c-head"></th>
                                <th class="c-head" data-sortable="true">Group Name</th>
                                <th class="c-head" data-sortable="true">Last Activity</th>
                                <th class="c-head" data-sortable="false">Membership</th>
                              </tr>
                            </thead>
                            <tbody class="t-body">
                              <tr class="t-body-row directory-item directory-item-group">
                                <td class="c-body shrink-column" data-sort-value="Group Name"><a class="heading" href="#">
                                    <div class="user-photo group-photo md" style="background-image:url(http://lorempixel.com/output/technics-q-c-200-200-1.jpg);"></div></a></td>
                                <td class="c-body"><a class="name slds-m-bottom--xx-small" href="#">Group Name</a>
                                  <div class="description">Praesentium velit nobis quidem modi nisi enim repellat obcaecati dicta explicabo libero repellendus consequatur commodi</div>
                                </td>
                                <td class="c-body">01/21/2017</td>
                                <td class="c-body">Member</td>
                              </tr>
                              <tr class="t-body-row directory-item directory-item-group">
                                <td class="c-body shrink-column" data-sort-value="Et aliquam harum sapiente"><a class="heading" href="#">
                                    <div class="user-photo group-photo md" style="background-image:url(http://lorempixel.com/output/technics-q-c-200-200-2.jpg);"></div></a></td>
                                <td class="c-body"><a class="name slds-m-bottom--xx-small" href="#">Et aliquam harum sapiente</a>
                                  <div class="description">Enim ea nulla in, repellendus repellat ex libero architecto fugiat, reiciendis sint molestias facere saepe, iusto sed minus voluptatum placeat dignissimos vitae aut culpa.</div>
                                </td>
                                <td class="c-body">01/21/2017</td>
                                <td class="c-body">Member</td>
                              </tr>
                              <tr class="t-body-row directory-item directory-item-group">
                                <td class="c-body shrink-column" data-sort-value="Libero assumenda delectus"><a class="heading" href="#">
                                    <div class="user-photo group-photo md" style="background-image:url(http://lorempixel.com/output/technics-q-c-200-200-3.jpg);"></div></a></td>
                                <td class="c-body"><a class="name slds-m-bottom--xx-small" href="#">Libero assumenda delectus</a>
                                  <div class="description">Expedita suscipit minus aut doloremque delectus repellat ducimus maiores, ullam libero atque</div>
                                </td>
                                <td class="c-body">01/21/2017</td>
                                <td class="c-body">Member</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
