src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/alumni/memberships.pug
extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug
include ../../modules/social.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'memberships';

block title
  title Memberships / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  mixin membership-card(title, photo_url, member_status)
    a.box.membership-card.lg
      .detail
        .title(href="views/alumni/membership-detail.html")= title
        .status
          .name Membership Status
          .result= member_status
      .membership-photo(style= 'background-image:url(' + photo_url + ')')

  +page-wrapper("","")
    +page-header("My Memberships", "has-controls", "img/navs/alumni/memberships.svg")

    +page-content-wrapper("")
      +page-section("")
        .slds-grid.slds-wrap.slds-grid--pull-padded
          .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--8-of-12
            +card-group("")
              +card("")
                +card-title("Stay Engaged with Your Region", "")
                +card-content
                  .slds-p-horizontal--large
                    +grid("box-grid hero wrap stretch ", "large", "6-of-12")
                      +grid-col()
                        +membership-card("Club Name of City Name", "https://placeimg.com/300/300/tech", "Leader")
                      +grid-col()
                        +membership-card("Club Name of City Name", "https://placeimg.com/300/300/people", "Leader")
                    hr.slds-m-top--none
                    .slds-p-horizontal--large
                      h3 Other ways to get involved
                      p Odit eius minima sapiente aliquam facere, blanditiis autem quae, recusandae dolorem vero, cupiditate molestias qui cumque adipisci eaque. Fugit, perspiciatis!
                      .slds-grid.slds-grid--align-end.slds-p-around--large
                        +btn-default("","", "Get Involved")
                        +btn-default("","", "Clubs Near Me")
          .slds-p-horizontal--small.slds-size--1-of-1.slds-large-size--4-of-12
            +card-group("")
              +card("")
                +card-title("Regional Contact", "")
                +card-content
                  .slds-p-horizontal--large
                    .description Please reach out to your regional contact for information on events in your area.
                    .person.slds-m-top--medium
                      .user-photo.md(style="background-image:url(https://placeimg.com/300/300/animals)")
                      .detail
                        .name Vivan Jeppsen
                        .controls.slds-m-top--small
                          div
                            a(href="tel:(555) 555-5##5") (555) 555-5##5
                          div
                            a(href="mailto:vjeppsen@gu.edu") vjeppsen@gu.edu





block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/alumni/memberships.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Memberships / Alumni - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/theme-alumni.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg active" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a>
          <hr/><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg active" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
        </nav>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small"><a class="btn-bs slds-button btn-success active btn-lg btn-block" href="/views/alumni/profile-view.html"><span>Give to GU</span><span class="icon"><img aria-hidden="true" title="Give to GU" src="img/give-active.svg"/></span></a></div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="messages" href="views/alumni/messages.html"><span class="icon"><img class="Messages" aria-hidden="true" src="img/navs/alumni/messages.svg"/></span>
            <div class="circle"><span class="number">2</span></div></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user-alumni.jpg);"></div>
                <div class="detail">
                  <div class="name">Henry Almaguer Kamph</div>
                  <div class="status warning">hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/alumni/profile-edit.html">My Profile</a><a href="views/alumni/messages.html">My Messages</a><a href="views/alumni/documents.html">My Documents</a>
                <hr/><a href="views/student/dashboard.html">Student</a><a href="views/faculty/dashboard.html">Faculty</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/alumni/memberships.svg" alt="My Memberships"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">My Memberships</h1>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section undefined">
                  <div class="slds-grid slds-wrap slds-grid--pull-padded">
                    <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--8-of-12">
                      <div class="card-group ">
                        <div class="card ">
                          <div class="card-title ">
                            <h2>Stay Engaged with Your Region</h2>
                          </div>
                          <div class="card-content undefined">
                            <div class="slds-p-horizontal--large">
                              <div class="facet-grid--flex box-grid hero wrap stretch  large--6-of-12">
                                <div data-aura-rendered-by="data-aura-rendered-by">
                                  <div class="ui-widget"><a class="box membership-card lg">
                                                <div class="detail">
                                                  <div class="title" href="views/alumni/membership-detail.html">Club Name of City Name</div>
                                                  <div class="status">
                                                    <div class="name">Membership Status</div>
                                                    <div class="result">Leader</div>
                                                  </div>
                                                </div>
                                                <div class="membership-photo" style="background-image:url(https://placeimg.com/300/300/tech);"></div></a>
                                  </div>
                                  <div class="ui-widget"><a class="box membership-card lg">
                                                <div class="detail">
                                                  <div class="title" href="views/alumni/membership-detail.html">Club Name of City Name</div>
                                                  <div class="status">
                                                    <div class="name">Membership Status</div>
                                                    <div class="result">Leader</div>
                                                  </div>
                                                </div>
                                                <div class="membership-photo" style="background-image:url(https://placeimg.com/300/300/people);"></div></a>
                                  </div>
                                </div>
                              </div>
                              <hr class="slds-m-top--none"/>
                              <div class="slds-p-horizontal--large">
                                <h3>Other ways to get involved</h3>
                                <p>Odit eius minima sapiente aliquam facere, blanditiis autem quae, recusandae dolorem vero, cupiditate molestias qui cumque adipisci eaque. Fugit, perspiciatis!</p>
                                <div class="slds-grid slds-grid--align-end slds-p-around--large"><a class="btn-bs slds-button slds-button--neutral " id="">Get Involved</a><a class="btn-bs slds-button slds-button--neutral " id="">Clubs Near Me</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="slds-p-horizontal--small slds-size--1-of-1 slds-large-size--4-of-12">
                      <div class="card-group ">
                        <div class="card ">
                          <div class="card-title ">
                            <h2>Regional Contact</h2>
                          </div>
                          <div class="card-content undefined">
                            <div class="slds-p-horizontal--large">
                              <div class="description">Please reach out to your regional contact for information on events in your area.</div>
                              <div class="person slds-m-top--medium">
                                <div class="user-photo md" style="background-image:url(https://placeimg.com/300/300/animals);"></div>
                                <div class="detail">
                                  <div class="name">Vivan Jeppsen</div>
                                  <div class="controls slds-m-top--small">
                                    <div><a href="tel:(555) 555-5##5">(555) 555-5##5</a></div>
                                    <div><a href="mailto:vjeppsen@gu.edu">vjeppsen@gu.edu</a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
