src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/alumni/profile-view.pug
extends ../../layout/default-authenticated.pug

block active_link
  - var currentPage = 'profile';

include partials/alumni-includes.pug

block base_url
  base(href="../../")

block title
  title Profile / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/profile.css")
  link(rel="stylesheet", href="./css/edit-block.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  +page-wrapper("","")
    +page-header("Profile", "has-controls", "img/navs/alumni/profile.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") Basic Information

    +page-content-wrapper("")
      .page-section
        .profile-view
          .profile-summary
            .flex.sm
              div
                .name= userFirstName + ' ' + userMiddleName + ' ' + userLastName
                .batch-year= userNickname
              .program C '01
          .profile-header
            .photo-block
              .user-photo.xl(style="background-image:url(demo/user-alumni.jpg)")

            .slds-grid.slds-wrap

              .slds-col.slds-xlarge-size--1-of-3.slds-p-horizontal--large.slds-m-bottom--x-large
                label.slds-form-element__label.field-label Birthday
                p 5/22/1979
              .slds-col.slds-xlarge-size--1-of-3.slds-p-horizontal--large.slds-m-bottom--x-large
                label.slds-form-element__label.field-label Religion
                p Budhist, catholic
              .slds-col.slds-xlarge-size--1-of-3.slds-p-horizontal--large.slds-m-bottom--x-large
                .profile-social-icons
                  .social-icons.is-end
                    a.icon-link.sm.has-border
                      +svg-sprite("img/sprites/media.svg", "facebook", "", "Facebook")
                    a.icon-link.sm.has-border
                      +svg-sprite("img/sprites/media.svg", "twitter", "", "Twitter")
                    a.icon-link.sm.has-border
                      +svg-sprite("img/sprites/media.svg", "linkedin", "", "LinkedIn")
          .card-group
            .card
              .card-content.box
                .card-title
                  h2(class="title slds-text-heading--small slds-p-bottom--large") My Class Notes
                .slds-p-horizontal--large.slds-p-bottom--large
                  h3 Goals
                  .txt-date Posted: 09/01/2015 5:53pm
                  .description
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet vestibulum finibus. Sed quis mollis lorem. Sed libero mauris, bibendum at convallis quis, suscipit ac metus. Praesent at dolor turpis. Suspendisse potenti. Morbi vehicula mauris in neque luctus eleifend. Nulla aliquam, neque at blandit tincidunt.
                .slds-p-horizontal--large.slds-p-bottom--large
                  h3 Goals
                  .txt-date Posted: 09/01/2015 5:53pm
                  .description
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet vestibulum finibus. Sed quis mollis lorem. Sed libero mauris, bibendum at convallis quis, suscipit ac metus. Praesent at dolor turpis. Suspendisse potenti. Morbi vehicula mauris in neque luctus eleifend. Nulla aliquam, neque at blandit tincidunt.


block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/alumni/profile-view.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Profile / Alumni - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/profile.css"/>
    <link rel="stylesheet" href="./css/edit-block.css"/>
    <link rel="stylesheet" href="./css/theme-alumni.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a>
          <hr/><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
        </nav>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small"><a class="btn-bs slds-button btn-success active btn-lg btn-block" href="/views/alumni/profile-view.html"><span>Give to GU</span><span class="icon"><img aria-hidden="true" title="Give to GU" src="img/give-active.svg"/></span></a></div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="messages" href="views/alumni/messages.html"><span class="icon"><img class="Messages" aria-hidden="true" src="img/navs/alumni/messages.svg"/></span>
            <div class="circle"><span class="number">2</span></div></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user-alumni.jpg);"></div>
                <div class="detail">
                  <div class="name">Henry Almaguer Kamph</div>
                  <div class="status warning">hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/alumni/profile-edit.html">My Profile</a><a href="views/alumni/messages.html">My Messages</a><a href="views/alumni/documents.html">My Documents</a>
                <hr/><a href="views/student/dashboard.html">Student</a><a href="views/faculty/dashboard.html">Faculty</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/alumni/profile.svg" alt="Profile"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Profile</h1>
                </div>
                <div class="controls">
                  <div class="title">Select Page</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a class="active" href="#">Basic Information</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section">
                  <div class="profile-view">
                    <div class="profile-summary">
                      <div class="flex sm">
                        <div>
                          <div class="name">Henry Almaguer Kamph</div>
                          <div class="batch-year">Vitae officiis, laborum asperiores</div>
                        </div>
                        <div class="program">C '01</div>
                      </div>
                    </div>
                    <div class="profile-header">
                      <div class="photo-block">
                        <div class="user-photo xl" style="background-image:url(demo/user-alumni.jpg);"></div>
                      </div>
                      <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-xlarge-size--1-of-3 slds-p-horizontal--large slds-m-bottom--x-large">
                          <label class="slds-form-element__label field-label">Birthday</label>
                          <p>5/22/1979</p>
                        </div>
                        <div class="slds-col slds-xlarge-size--1-of-3 slds-p-horizontal--large slds-m-bottom--x-large">
                          <label class="slds-form-element__label field-label">Religion</label>
                          <p>Budhist, catholic</p>
                        </div>
                        <div class="slds-col slds-xlarge-size--1-of-3 slds-p-horizontal--large slds-m-bottom--x-large">
                          <div class="profile-social-icons">
                            <div class="social-icons is-end"><a class="icon-link sm has-border"><span class="icon">
                                  <svg aria-hidden="true" title="Facebook">
                                    <use xlink:href="img/sprites/media.svg#facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg></span></a><a class="icon-link sm has-border"><span class="icon">
                                  <svg aria-hidden="true" title="Twitter">
                                    <use xlink:href="img/sprites/media.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg></span></a><a class="icon-link sm has-border"><span class="icon">
                                  <svg aria-hidden="true" title="LinkedIn">
                                    <use xlink:href="img/sprites/media.svg#linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                  </svg></span></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-group">
                      <div class="card">
                        <div class="card-content box">
                          <div class="card-title">
                            <h2 class="title slds-text-heading--small slds-p-bottom--large">My Class Notes</h2>
                          </div>
                          <div class="slds-p-horizontal--large slds-p-bottom--large">
                            <h3>Goals</h3>
                            <div class="txt-date">Posted: 09/01/2015 5:53pm</div>
                            <div class="description">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet vestibulum finibus. Sed quis mollis lorem. Sed libero mauris, bibendum at convallis quis, suscipit ac metus. Praesent at dolor turpis. Suspendisse potenti. Morbi vehicula mauris in neque luctus eleifend. Nulla aliquam, neque at blandit tincidunt.</p>
                            </div>
                          </div>
                          <div class="slds-p-horizontal--large slds-p-bottom--large">
                            <h3>Goals</h3>
                            <div class="txt-date">Posted: 09/01/2015 5:53pm</div>
                            <div class="description">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet vestibulum finibus. Sed quis mollis lorem. Sed libero mauris, bibendum at convallis quis, suscipit ac metus. Praesent at dolor turpis. Suspendisse potenti. Morbi vehicula mauris in neque luctus eleifend. Nulla aliquam, neque at blandit tincidunt.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
