src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/views/alumni/volunteer.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <base href="../../"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <title>Volunteer / Alumni - Georgetown 360</title>
    <link rel="stylesheet" href="./bower_components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css"/>
    <link rel="stylesheet" href="./css/fonts.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
    <link rel="stylesheet" href="./css/table.css"/>
    <link rel="stylesheet" href="./css/giving.css"/>
    <link rel="stylesheet" href="./css/theme-alumni.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sortable/js/sortable.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Typekit-->
    <script src="https://use.typekit.net/xdf7yqh.js"></script>
    <script>
      //try{Typekit.load({ async: true });}catch(e){}
      (function(d) {
        loadFonts = 1;
        if(window.sessionStorage){
          if(sessionStorage.getItem('useTypekit')==='false'){
            loadFonts = 0;
          }
        }
        if (loadFonts == 1) {
            var config = {
              kitId: 'xdf7yqh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s);
          }
        }
      )(document);
      
    </script>
  </head>
  <body>
    <div class="slds-spinner_container gu-spinner fade-in">
      <div class="loading-text">Loading</div>
      <div class="slds-spinner slds-spinner--medium" role="status">
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
    <div class="mobile-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg active" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
    </div>
    <input class="nav-trigger" type="checkbox" id="nav-trigger"/>
    <label for="nav-trigger"><span class="icon">
        <svg aria-hidden="true" title="Menu">
          <use xlink:href="img/sprites/base.svg#menu" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg></span><span class="slds-assistive-text">Show Mobile Navigation</span>
    </label>
    <div class="page">
      <input class="nav-shrink" type="checkbox" id="nav-shrink"/>
      <label for="nav-shrink"><span class="icon">
          <svg aria-hidden="true" title="Collapse Nav">
            <use xlink:href="img/sprites/base.svg#nav-shrink" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg></span><span class="slds-assistive-text">Collapse / Expand Sidebar</span>
      </label>
      <div class="sidebar left slds-max-medium-hide">
        <div class="sidebar-heading"><a class="brand-logo" href="index.html"><img class="expanded" src="img/logo_Georgetown360.png" alt="Georgetown 360"/><img class="collapsed" src="img/logo_Georgetown360_abbrev.svg" alt="Georgetown 360"/></a>
          <div class="program-logo">
            <h3>Hoya360</h3>
          </div>
        </div>
        <nav class="block nav sidebar-nav"><a class="icon-link lg" href="views/alumni/directory-faculty.html"><img src="img/navs/alumni/directory-faculty.svg" alt="Faculty Directory"/><span class="name">Faculty Directory</span></a><a class="icon-link lg" href="views/alumni/directory-alumni.html"><img src="img/navs/alumni/directory-alumni.svg" alt="Alumni Directory"/><span class="name">Alumni Directory</span></a><a class="icon-link lg" href="views/alumni/directory-career.html"><img src="img/navs/alumni/directory-career.svg" alt="Career Network"/><span class="name">Career Network</span></a>
          <hr/><a class="icon-link lg" href="views/alumni/giving.html"><img src="img/navs/alumni/giving.svg" alt="Giving"/><span class="name">Giving</span></a><a class="icon-link lg active" href="views/alumni/volunteer.html"><img src="img/navs/alumni/volunteer.svg" alt="Volunteer"/><span class="name">Volunteer</span></a><a class="icon-link lg" href="views/alumni/memberships.html"><img src="img/navs/alumni/memberships.svg" alt="Memberships"/><span class="name">Memberships</span></a><a class="icon-link lg" href="views/alumni/calendar.html"><img src="img/navs/alumni/calendar.svg" alt="Calendar"/><span class="name">Calendar</span></a><a class="icon-link lg" href="views/alumni/class-notes.html"><img src="img/navs/alumni/class-notes.svg" alt="Class Notes"/><span class="name">Class Notes</span></a><a class="icon-link lg" href="views/alumni/resources.html"><img src="img/navs/alumni/resources.svg" alt="Resources"/><span class="name">Resources</span></a>
        </nav>
        <div class="program-information">
          <div class="program-name slds-m-bottom--small"><a class="btn-bs slds-button btn-success active btn-lg btn-block" href="/views/alumni/profile-view.html"><span>Give to GU</span><span class="icon"><img aria-hidden="true" title="Give to GU" src="img/give-active.svg"/></span></a></div>
        </div>
      </div>
      <div class="content">
        <header class="gu-header"><a class="messages" href="views/alumni/messages.html"><span class="icon"><img class="Messages" aria-hidden="true" src="img/navs/alumni/messages.svg"/></span>
            <div class="circle"><span class="number">2</span></div></a>
          <nav class="user-nav">
            <div class="dropdown user-dropdown">
              <input type="checkbox" name="user-dropdown" id="user-dropdown"/>
              <label class="flex all" for="user-dropdown">
                <div class="user-photo" style="background-image:url(demo/user-alumni.jpg);"></div>
                <div class="detail">
                  <div class="name">Henry Almaguer Kamph</div>
                  <div class="status warning">hold</div>
                </div><span class="icon">
                  <svg aria-hidden="true" title="">
                    <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg></span>
              </label>
              <div class="dropdown-items"><a href="views/alumni/profile-edit.html">My Profile</a><a href="views/alumni/messages.html">My Messages</a><a href="views/alumni/documents.html">My Documents</a>
                <hr/><a href="views/student/dashboard.html">Student</a><a href="views/faculty/dashboard.html">Faculty</a>
                <hr/><a href="index.html">Logout</a>
              </div>
            </div>
          </nav>
        </header>
        <div class="flex sm content-wrapper">
          <div class="page-content ">
            <div class="max-container ">
              <div class="page-header has-controls">
                <div class="flex all"><img class="icon lg slds-m-right--medium" src="img/navs/alumni/volunteer.svg" alt="Volunteer"/>
                  <h1 class="slds-text-heading--large slds-m-bottom--x-small">Volunteer</h1>
                </div>
                <div class="controls">
                  <div class="title">Select Page</div>
                  <div class="dropdown has-caret profile-subnav">
                    <input type="checkbox" name="profile-subnav" id="profile-subnav"/>
                    <label for="profile-subnav">
                      <div class="title"></div><span class="icon">
                        <svg aria-hidden="true" title="">
                          <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg></span>
                    </label>
                    <div class="dropdown-items"><a class="active" href="#">Giving Opportunities</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-body ">
                <div class="page-section undefined">
                  <div class="card-group ">
                    <div class="card ">
                      <div class="card-title has-controls">
                        <h2>My Giving</h2>
                        <div class="controls ">
                          <div class="title slds-m-right--small">View</div>
                          <div class="dropdown has-caret page-subnav">
                            <input type="checkbox" name="page-subnav" id="page-subnav"/>
                            <label for="page-subnav">
                              <div class="title">This Year</div><span class="icon">
                                <svg aria-hidden="true" title="">
                                  <use xlink:href="img/sprites/base.svg#arrow-sort" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg></span>
                            </label>
                            <div class="dropdown-items"><a class="active" href="#">This Year</a><a href="#">Last Year</a>
                            </div>
                          </div><a class="btn-bs slds-button slds-button--neutral slds-m-left--small" href="#!" id="">Download History</a>
                        </div>
                      </div>
                      <div class="card-content slds-p-around--large">
                        <div class="faux-table giving-table">
                          <div class="table-row table-header">
                            <div class="table-row-item sortable descending">Gift Area</div>
                            <div class="table-row-item sortable">Type</div>
                            <div class="table-row-item sortable">Date of Gift</div>
                            <div class="table-row-item sortable">Amount</div>
                            <div class="table-row-item">Documents</div>
                          </div>
                                    <div class="table-row-container">
                                      <div class="table-row expand">
                                        <div class="table-row-item" data-label="Gift Area">Quibusdam Quasi Deserunt School of Business</div>
                                        <div class="table-row-item" data-label="Type"><a class="icon-link glyph xs"><span>Gift</span><span class="icon">
                                              <svg class="slds-m-left--x-small" aria-hidden="true" title="Help">
                                                <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></div>
                                        <div class="table-row-item" data-label="Date of Gift">06/30/16</div>
                                        <div class="table-row-item" data-label="Amount">$1,500.00</div>
                                        <div class="table-row-item" data-label="Documents"><a class="icon-link glyph sm"><span class="icon">
                                              <svg aria-hidden="true" title="Download">
                                                <use xlink:href="img/sprites/base.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></div>
                                      </div>
                                      <div class="table-row-collapsed hidden">
                                        <div class="slds-grid slds-wrap">
                                          <div class="slds-size--1-of-1 slds-medium-size--3-of-12 slds-m-bottom--small">
                                            <label class="slds-form-element__label field-label">In Memory</label>
                                            <p>John Hoya</p>
                                          </div>
                                          <div class="slds-size--1-of-1 slds-medium-size--3-of-12 slds-m-bottom--small">
                                            <label class="slds-form-element__label field-label">In Honor</label>
                                            <p>John Hoya</p>
                                          </div>
                                          <div class="slds-size--1-of-1 slds-medium-size--3-of-12 slds-m-bottom--small">
                                            <label class="slds-form-element__label field-label">Company</label>
                                            <p>Weyland Industries</p>
                                          </div>
                                          <div class="slds-size--1-of-1 slds-medium-size--3-of-12 slds-m-bottom--small slds-text-align--right">
                                            <label class="slds-form-element__label field-label">Fiscal Year</label>
                                            <p>2015</p>
                                          </div>
                                        </div>
                                        <hr/>
                                        <label class="slds-form-element__label field-label">Note</label>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                                      </div>
                                    </div>
                                    <div class="table-row-container">
                                      <div class="table-row expand">
                                        <div class="table-row-item" data-label="Gift Area">Asperiores School of Business</div>
                                        <div class="table-row-item" data-label="Type"><a class="icon-link glyph xs"><span>Gift</span><span class="icon">
                                              <svg class="slds-m-left--x-small" aria-hidden="true" title="Help">
                                                <use xlink:href="img/sprites/base.svg#help" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></div>
                                        <div class="table-row-item" data-label="Date of Gift">08/23/16</div>
                                        <div class="table-row-item" data-label="Amount">$1,200.00</div>
                                        <div class="table-row-item" data-label="Documents"><a class="icon-link glyph sm"><span class="icon">
                                              <svg aria-hidden="true" title="Download">
                                                <use xlink:href="img/sprites/base.svg#download" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                              </svg></span></a></div>
                                      </div>
                                      <div class="table-row-collapsed hidden">
                                        <div class="slds-grid slds-wrap">
                                          <div class="slds-size--1-of-1 slds-medium-size--3-of-12 slds-m-bottom--small">
                                            <label class="slds-form-element__label field-label">In Memory</label>
                                            <p>John Hoya</p>
                                          </div>
                                          <div class="slds-size--1-of-1 slds-medium-size--3-of-12 slds-m-bottom--small">
                                            <label class="slds-form-element__label field-label">In Honor</label>
                                            <p>John Hoya</p>
                                          </div>
                                          <div class="slds-size--1-of-1 slds-medium-size--3-of-12 slds-m-bottom--small">
                                            <label class="slds-form-element__label field-label">Company</label>
                                            <p>Weyland Industries</p>
                                          </div>
                                          <div class="slds-size--1-of-1 slds-medium-size--3-of-12 slds-m-bottom--small slds-text-align--right">
                                            <label class="slds-form-element__label field-label">Fiscal Year</label>
                                            <p>2015</p>
                                          </div>
                                        </div>
                                        <hr/>
                                        <label class="slds-form-element__label field-label">Note</label>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                                      </div>
                                    </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        // Expand and collapse detail rows
        $('.expand').click(function () {
          $(this).next('.table-row-collapsed').toggleClass('hidden');
        });
      });
    </script>
  </body>
</html>

src/resource-bundles/GU360_Resources.resource.application.x-zip-compressed/pug/pages/alumni/volunteer.pug
extends ../../layout/default-authenticated.pug

include partials/alumni-includes.pug
include ../../modules/input-edit.pug

block base_url
  base(href="../../")

block active_link
  - var currentPage = 'volunteer';

block title
  title Volunteer / Alumni - Georgetown 360

block stylesheets
  link(rel="stylesheet", href="./css/table.css")
  link(rel="stylesheet", href="./css/giving.css")
  link(rel="stylesheet", href="./css/theme-alumni.css")

block content
  mixin giving-table-row(gift_area,type,date,amount,document_url)
    .table-row-container
      .table-row.expand
        .table-row-item(data-label="Gift Area")= gift_area
        .table-row-item(data-label="Type")
          a.icon-link.glyph.xs
            span= type
            +svg-sprite("img/sprites/base.svg", "help", "slds-m-left--x-small", "Help")
        .table-row-item(data-label="Date of Gift")= date
        .table-row-item(data-label="Amount")= amount
        .table-row-item(data-label="Documents")
          a.icon-link.glyph.sm(href= document_url)
            +svg-sprite("img/sprites/base.svg", "download", "", "Download")
      block

  +page-wrapper("","")
    +page-header("Volunteer", "has-controls", "img/navs/alumni/volunteer.svg")
      +page-header-controls(true, "Select Page")
        a.active(href="#") Giving Opportunities

    +page-content-wrapper("")
      +page-section("")
        +card-group("")
          +card("")
            +card-title("My Giving", "has-controls", true, "")
              .title.slds-m-right--small View
              +dropdown("page-subnav", "page-subnav", "This Year", true)
                a.active(href="#") This Year
                a(href="#") Last Year
              +btn-default("slds-m-left--small", "", "Download History", "#!")
            +card-content("slds-p-around--large")
              .faux-table.giving-table
                .table-row.table-header
                  .table-row-item.sortable.descending Gift Area
                  .table-row-item.sortable Type
                  .table-row-item.sortable Date of Gift
                  .table-row-item.sortable Amount
                  .table-row-item Documents

                +giving-table-row("Quibusdam Quasi Deserunt School of Business", "Gift", "06/30/16", "$1,500.00")
                  .table-row-collapsed.hidden
                    .slds-grid.slds-wrap
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label In Memory
                        p John Hoya
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label In Honor
                        p John Hoya
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label Company
                        p Weyland Industries
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small.slds-text-align--right
                        label.slds-form-element__label.field-label Fiscal Year
                        p 2015
                    hr
                    label.slds-form-element__label.field-label Note
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                +giving-table-row("Asperiores School of Business", "Gift", "08/23/16", "$1,200.00")
                  .table-row-collapsed.hidden
                    .slds-grid.slds-wrap
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label In Memory
                        p John Hoya
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label In Honor
                        p John Hoya
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small
                        label.slds-form-element__label.field-label Company
                        p Weyland Industries
                      .slds-size--1-of-1.slds-medium-size--3-of-12.slds-m-bottom--small.slds-text-align--right
                        label.slds-form-element__label.field-label Fiscal Year
                        p 2015
                    hr
                    label.slds-form-element__label.field-label Note
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.

block left-sidebar
  include partials/alumni-sidebar-left.pug

block mobile-nav-links
  - var NavItemID = "mobile"
  include ../../partials/mobile-nav-links.pug

block scripts
  script.
    $(document).ready(function() {
      // Expand and collapse detail rows
      $('.expand').click(function () {
        $(this).next('.table-row-collapsed').toggleClass('hidden');
      });
    });
